<% options ||= {} -%>
<% podcast = options[:podcast] || 
             (options[:feed].podcast if options[:feed]) ||
             (options[:episode].podcast if options[:episode]) ||
             (options[:source].feed.podcast if options[:source]) -%>
<% feed =    options[:feed] -%>
<% episode = options[:episode] ||
             (options[:source].episode if options[:source])-%>
<% source =  options[:source] -%>

<table>
  <tr>
    <th></th>
  <% podcast.feeds.each do |f| -%>
    <th><% if f.primary? -%>primary<% end -%></th>
  <% end -%>
  </tr>
  <tr>
    <th><strong><%= link_to podcast.title, info_podcast_url(podcast) -%></strong></th>
    <% podcast.feeds.each do |f| -%>
    <th>
      <% if f == feed -%>
        <b>Feed <%= f.id -%><%= f.ability -%></b>
      <% else -%>
        <%= info_feed_link(f) -%><br>
      <% end -%>
    </th>
    <% end -%>
  </tr>
  <% if !feed -%>
    <% (episode ? [episode] : podcast.episodes).each do |e| -%>
      <tr>
        <td>
          <% if e == episode && !source -%>
            <b><%= e.date_title -%></b>
          <% else -%>
            <%= link_to e.date_title, info_episode_url(podcast, e) -%>
          <% end -%>
        </td>

        <% podcast.feeds.each do |f| -%>
          <td>
            <% s = Source.find_by_feed_id_and_episode_id(f.id, e.id) -%>
            <% if s -%>
              <% if s == source -%>
                <b>
                  <%= f.formatted_bitrate -%>
                  <%= f.apparent_format -%>
                  <%= source.ability -%><%= "a" if source.archived? -%>
                </b>
              <% else -%>
                <%= info_source_link(s) -%>
              <% end -%>
            <% end -%>
          </td>
        <% end -%>
      </tr>
    <% end -%>
  <% end -%>
</table>
