<p class="status_message finished">
  Yum! I've added <%= link_to_podcast(@podcast) -%>
  
  <% if @podcast.respond_to?(:owner) and @podcast.owner -%>
    <% if current_user and @podcast.owner == current_user -%>
      by you, <%= link_to_profile(@podcast.owner) -%>. <span class="arrow_down">More please</span>
    <% else -%>
      by <%= link_to_profile(@podcast.owner) -%>. You get +1 point
      and a link for finding it. <span class="arrow_down">More please</span>
    <% end -%>
  <% else -%>
    and emailed <%= "#{h @podcast.owner_name.strip}, " unless @podcast.owner_name.nil? || @podcast.owner_name.empty? -%>the maker. You get +1 point and a link for finding it. <span class="arrow_down">More please</span>
  <% end -%>
  <script type="text/javascript">
  <% if current_user.nil? -%>
    $('a.cluetip_add_link').click();
  <% else -%>
    $('#account_bar li.user, #account_bar li.signup').html('<%= escape_javascript link_to_profile(current_user) %>'); }
  <% end -%>
  </script>
</p>
