<h1><%= @feed.url -%></h1>

<p>from <%= link_to @feed.podcast.title, info_podcast_url(@feed.podcast) -%></p>

<table>
  <tr>
    <td>Updated</td>
    <td><%= @feed.updated_at.to_s -%></td>
  </tr>

  <tr>
    <td>Ability</td>
    <td><%= @feed.ability -%></td>
  </tr>

  <tr>
    <td>Name</td>
    <td><%= @feed.formatted_bitrate -%> .<%= @feed.apparent_format -%></td>
  </tr>

  <tr>
    <td>Podcast</td>
    <td><%= link_to_podcast @feed.podcast -%></td>
  </tr>

  <tr>
    <td>Primary?</td>
    <td><%= @feed.primary? ? "true" : "false" -%></td>
  </tr>

  <tr>
    <td>Found by</td>
    <td><%= link_to @feed.finder.login, info_user_url(@feed.finder) if @feed.finder -%></td>
  </tr>

  <tr>
    <td>Link</td>
    <td><%= link_to @feed.podcast.site -%></td>
  </tr>

  <tr>
    <td>Link page</td>
    <td><%= link_to @feed.podcast.clean_site -%></td>
  </tr>

  <tr>
    <td>RSS</td>
    <td><%= link_to @feed.url -%></td>
    </tr>

  <tr>
    <td>iTunes link</td>
    <td><%= link_to @feed.itunes_link -%></td>
  </tr>

  <tr>
    <td>Description HTML</td>
    <td><%=h @feed.podcast.description -%></td>
  </tr>

  <tr>
    <td>Description scrubbed</td>
    <td><%=h sanitize_summary(@feed.podcast.description) -%></td>
  </tr>

  <tr>
    <td>Description scrubbed, condensed</td>
    <td><%=h sanitize_condensed_summary(@feed.podcast.description) -%></td>

</table>

<h2>Sources</h2>
<ul>
  <% @feed.sources.each do |s| -%>
    <li><%= link_to s.episode.date_title, info_source_url(@feed.podcast, s.episode, s) -%></li>
  <% end -%>
</ul>

<h2>XML</h2>
<pre class="formatted-xml">
  <%= @feed_xml %>
</pre>

<!-- <h2>Torrent XML</h2> -->
<!-- <pre><%=h @feed.remixed_as_torrent -%></pre> -->

<!-- <h2>Magnet XML</h2> -->
<!-- <pre><%=h @feed.remixed_as_magnet -%></pre> -->
