<h1>episode</h1>

<% content_for :pagination do -%>
  <%= link_to "< Newer", info_episode_url(@podcast, @newer) if @newer %> 
  <%= @podcast.episodes.sorted.index(@episode) + 1 %> of <%= @podcast.episodes.count -%> 
  <%= link_to "Older >", info_episode_url(@podcast, @older) if @older %> 
<% end -%>
<!-- Map -->
<%= render :partial => 'info/feeds/info_source_table', :locals => {:options => {:episode => @episode}} -%>

<!-- Media -->
<%= render :partial => "info/sources/info_medias", :locals => {:sources => @episode.sources.sorted_by_bitrate} %>
<% if @episode.primary_source -%>
  <% @source = @episode.primary_source
     @feed = @source.feed
     if newer_episode = @podcast.episodes.oldest.after(@episode).first
       @newer = newer_episode.sources.find_by_feed_id(@feed.id)
     end
     if older_episode = @podcast.episodes.newest.before(@episode).first
       @older = older_episode.sources.find_by_feed_id(@feed.id)
     end
  -%>
  <%= render :file => 'info/sources/show.html.erb', :layout => false -%>
  
<% end -%>
