<h1>Episode</h1>

<% content_for :pagination do -%>
  <%= link_to "< Newer", info_episode_url(@podcast, @newer) if @newer %> 
  <%= @podcast.episodes.sorted.index(@episode) + 1 %> of <%= @podcast.episodes.count -%> 
  <%= link_to "Older >", info_episode_url(@podcast, @older) if @older %> 
<% end -%>

<h2>Map</h2>
<%= render :partial => 'info/feeds/info_source_table', :locals => {:options => {:episode => @episode}} -%>

<h2>Media</h2>
<% @episode.sources.sorted('bitrate').each do |source| -%>
  <%= render :partial => "info/sources/info_media", :locals => {:source => source} %>
<% end -%>

<table cellpadding="0" cellspacing="0" border="0">
<%- @episode.attributes.each do |k,v| -%>
  <% next if %w{id duration}.include?(k) || k.to_s =~ /_id/ %>
  <tr>
    <td><%= k %></td>
    <td><%= non_blank v %></td>
  </tr>
<%- end -%>
  <tr>
    <td>duration</td>
    <td><%= @episode.duration.to_i.to_duration %></td>
  </tr>
</table>

<h2>Logos</h2>
<ul>
<%- @episode.thumbnail.styles.keys.each do |k| -%>
  <li><%= link_to nil, @podcast.logo(k) -%></li>
<%- end -%>
</ul>

<% if @episode.primary_source -%>
  <% @source = @episode.primary_source
     @feed = @source.feed
     if newer_episode = @podcast.episodes.oldest.after(@episode).first
       @newer = newer_episode.sources.find_by_feed_id(@feed.id)
     end
     if older_episode = @podcast.episodes.newest.before(@episode).first
       @older = older_episode.sources.find_by_feed_id(@feed.id)
     end
  -%>
  <%= render :file => 'info/sources/show.html.erb', :layout => false -%>
  
<% end -%>
