<h1><%=h @source.file_name -%></h1>

<table>
  <tr>
    <td class="key">Screenshot:</td>
    <td>
      <%= link_to(@source.screenshot.url, @source.screenshot.url) -%>
      (<%= FileSize.new(@source.screenshot_file_size.to_i || 0) -%>)
    </td>
  </tr>
  
  <tr>
    <td class="key">Preview:</td>
    <td>
      <%= link_to(@source.preview.url, @source.preview.url) -%>
      (<%= FileSize.new(@source.preview_file_size.to_i || 0) -%>)
    </td>
  </tr>
  
  <tr>
    <td class="key">Torrent:</td>
    <td>
      <%= link_to(@source.torrent.url, @source.torrent.url) -%>
      (<%= FileSize.new(@source.torrent_file_size.to_i || 0) -%>)
    </td>
  </tr>
  
  <tr>
    <td class="key">Resolution:</td>
    <td>
      <%= @source.resolution.blank? ? unknown : h(@source.resolution.inspect) -%>
    </td>
  </tr>
  
  <tr>
    <td class="key">URL:</td>
    <td>
      <%= link_to(h(@source.url), @source.url) -%>
    </td>
  </tr>
  
  <tr>
    <td class="key">SHA1 Hash:</td>
    <td>
      <%= @source.sha1hash.blank? ? unknown : h(@source.sha1hash)  -%>
    </td>
  </tr>

  <tr>
    <td class="key">Curl Errors:</td>
    <td><%= @source.curl_info.blank? ? "No errors." : h(@source.curl_info) -%></td>
  </tr>

  <tr>
    <td class="key">FFmpeg output:</td>
    <td><%= @source.ffmpeg_info.blank? ? unknown : h('<pre>'+@source.ffmpeg_info+'</pre>') -%></td>
  </tr>
</table>

<h2>XML:</h2>
<pre class="formatted-xml"><%= @source.xml -%></pre>
