<h1><%=h @source.file_name -%></h1>

<%= render :partial => 'feeds/info_source_table', :locals => {:options => {:source => @source}} -%>

<p>
  <%= link_to "< Newer", info_source_url(@podcast, @newer.episode, @newer) if @newer %> 
  <%= @feed.sources.sorted.index(@source) + 1 %> of <%= @feed.sources.count -%> 
  <%= link_to "Older >", info_source_url(@podcast, @older.episode, @older) if @older %> 
</p>

<table>
  <tr>
    <td class="key">Ability:</td>
    <td>
      <%= @source.ability -%>
    </td>
  </tr>

  <tr>
    <td class="key">Screenshot:</td>
    <td>
      <%= link_to(@source.screenshot.url, @source.screenshot.url) -%>
      (<%= FileSize.new(@source.screenshot_file_size.to_i || 0) -%>)
    </td>
  </tr>
  
  <tr>
    <td class="key">Preview:</td>
    <td>
      <%= link_to(@source.preview.url, @source.preview.url) -%>
      (<%= FileSize.new(@source.preview_file_size.to_i || 0) -%>)
    </td>
  </tr>
  
  <tr>
    <td class="key">Torrent:</td>
    <td>
      <%= link_to(@source.torrent.url, @source.torrent.url) -%>
      (<%= FileSize.new(@source.torrent_file_size.to_i || 0) -%>)
    </td>
  </tr>
  
  <tr>
    <td class="key">Resolution:</td>
    <td>
      <%= non_blank @source.resolution -%>
    </td>
  </tr>
  
  <tr>
    <td class="key">URL:</td>
    <td>
      <%= link_to(h(@source.url), @source.url) -%>
    </td>
  </tr>
  
  <tr>
    <td class="key">SHA1 Hash:</td>
    <td>
      <%= non_blank @source.sha1hash  -%>
    </td>
  </tr>

  <tr>
    <td class="key">Curl Errors:</td>
    <td><%= @source.curl_info.blank? ? "No errors." : h(@source.curl_info) -%></td>
  </tr>

  <tr>
    <td class="key">FFmpeg output:</td>
    <td><%= '<pre>'+non_blank(@source.ffmpeg_info)+'</pre>' -%></td>
  </tr>
</table>

<h2>Badges:</h2>
<ul>
<%- @source.feed.podcast.tags.badges.each do |t| -%>
  <li><%= t.name %></li>
<%- end -%>
</ul>

<h2>XML:</h2>
<pre class="formatted-xml"><%= @source.xml -%></pre>
