<h1><%=h @source.file_name -%></h1>

<table>
  <tr>
    <td>Screenshot:</td>
    <td>
      <%= link_to(@source.screenshot.url, @source.screenshot.url) -%>
      (<%= FileSize.new(@source.screenshot_file_size.to_i || 0) -%>)
    </td>
  </tr>
  
  <tr>
    <td>Preview:</td>
    <td>
      <%= link_to(@source.preview.url, @source.preview.url) -%>
      (<%= FileSize.new(@source.preview_file_size.to_i || 0) -%>)
    </td>
  </tr>
  
  <tr>
    <td>Torrent:</td>
    <td>
      <%= link_to(@source.torrent.url, @source.torrent.url) -%>
      (<%= FileSize.new(@source.torrent_file_size.to_i || 0) -%>)
    </td>
  </tr>
  
  <tr>
    <td>Resolution:</td>
    <td>
      <%= h @source.resolution.inspect -%>
    </td>
  </tr>
  
  <tr>
    <td>URL:</td>
    <td>
      <%= link_to(h(@source.url), @source.url) -%>
    </td>
  </tr>
  
  <tr>
    <td>SHA1 Hash:</td>
    <td>
      <%=h @source.sha1hash -%>
    </td>
  </tr>

  <tr>
    <td>Curl Errors:</td>
    <td><%= h(@source.curl_info.blank? ? "No errors." : @source.curl_info) -%></td>
  </tr>

  <tr>
    <td>FFmpeg output:</td>
    <td><pre><%= h(@source.ffmpeg_info) -%></pre></td>
  </tr>
</table>

<h2>XML:</h2>
<pre><%= h(@source.xml) -%></pre>
