<h1><%=h @source.file_name -%></h1>

<dl>
  <dt>Screenshot:</dt>
  <dd>
    <%= link_to(@source.screenshot.url, @source.screenshot.url) -%>
    (<%= FileSize.new(@source.screenshot_file_size.to_i || 0) -%>)
  </dd>

  <dt>Preview:</dt>
  <dd>
    <%= link_to(@source.preview.url, @source.preview.url) -%>
    (<%= FileSize.new(@source.preview_file_size.to_i || 0) -%>)
  </dd>

  <dt>URL:</dt>
  <dd>
    <%= link_to(h(@source.url), @source.url) -%>
  </dd>

  <dt>SHA1 Hash:</dt>
  <dd>
    <%=h @source.sha1hash -%>
  </dd>

  <dt>XML:</dt>
  <dd>
    <pre><%= h(@source.xml) -%></pre>
  </dd>
</dl>
