<% @title = "Site" -%>
<h1>Site</h1>

<table>
  <tr>
    <td class="key" title="">Released</td>
    <td>
      <%= non_blank relative_time(@release) -%>
    </td>
  </tr>
  
  <tr>
    <td class="key" title="">Commit</td>
    <td>
      <%= @commit -%>
    </td>
  </tr>

  <tr>
    <td class="key" title="">Message</td>
    <td>
      <%= @message -%>
    </td>
  </tr>

  <tr>
    <td class="key" title="">Ability</td>
    <td>
      <%= ABILITY -%>
    </td>
  </tr>
</table>

<p>Site time: <%= Time.now.to_s(:info) -%></p>

<ul>
  <li><%= link_to "Icons", info_icons_url -%></li>
  <li><%= link_to "Add", info_add_url -%></li>
  <li><%= link_to "Hash", info_ihash_url -%></li>
  <li><%= link_to "Tags", info_tags_url -%></li>
  <li><%= link_to "Use", info_stats_url -%></li>
</ul>

<h2>Podcasts</h2>
<ul>
  <% @podcasts.each do |podcast| -%>
    <li>
      <%= link_to podcast.title, info_podcast_url(podcast) -%> <%= podcast.clean_url %>
    </li>
  <% end -%>
</ul>
