<% @title = "Site" -%>
<h1>site</h1>

<table>
  <tr>
    <td class="key" title="The local New York date and time this version of the site software was put online">released</td>
    <td>
      <%= non_blank relative_time(@release) -%>
    </td>
  </tr>
  
  <tr>
    <td class="key" title="The Git revision hash that identifies this version of the site software">commit</td>
    <td>
      <%= @commit -%>
    </td>
  </tr>

  <tr>
    <td class="key" title="The Git commit message">message</td>
    <td>
      <%= @message -%>
    </td>
  </tr>

  <tr>
    <td class="key" title="">&nbsp;</td>
    <td>
    </td>
  </tr>

  <tr>
    <td class="key" title="Site software version number">version</td>
    <td>
      1.5
    </td>
  </tr>

  <tr>
    <td class="key" title="The version number of the site software's ability to parse feeds and hash downloads">ability</td>
    <td>
      <%= ABILITY -%>
    </td>
  </tr>

  <tr>
    <td class="key" title="Whether the site is sending emails for real or not">email</td>
    <td>
      <%=  -%>
    </td>
  </tr>

</table>

<p>
  Jobs running: 
  Add Podcast (<%= (p = (`cat #{RAILS_ROOT}/tmp/pids/dj.pid`)[/\d+/] and `ps -p #{p} | wc -l`.to_i > 1) ? running_text : not_running_text %>),
  Update Podcasts (<%= (File.new("log/update_podcasts.log").mtime rescue 61.minutes.ago) > 60.minutes.ago ? running_text : not_running_text %>)
  Update Sources (<%= (File.new("log/update_sources.log").mtime rescue 31.minutes.ago) > 30.minutes.ago ? running_text : not_running_text %>)
</p>

<p>Site time: <%= Time.now.to_s(:info).gsub(/(^|\s)0([1-9])/,'\1\2').gsub(/AM|PM/) {|m| m.first.downcase} -%></p>

<ul>
  <li><%= link_to "Icons", info_icons_url -%></li>
  <li><%= link_to "Add", info_add_url -%></li>
  <li><%= link_to "Hash", info_ihash_url -%></li>
  <li><%= link_to "Tags", info_tags_url -%></li>
  <li><%= link_to "Use", info_stats_url -%></li>
  <li><%= link_to "Titles", info_titles_url -%></li>
</ul>

<!-- Podcasts -->
<ul>
  <% @podcasts.each do |podcast| -%>
    <li>
      <%= link_to podcast.title, info_podcast_url(podcast) -%> <%= podcast.clean_url %>
    </li>
  <% end -%>
</ul>
