<!-- Site

Podcasts
Users
Reviews
Tracker installs
Button installs
Podcasts on first page of search results -->


<% @title = "Use" -%>


<div class="usage">
  <table border="0" cellpadding="0" cellspacing="0">
    <!-- date //-->
    <tr>
    <% @statistics.each do |s| -%>
      <td class="key"><%= s.created_at.strftime("%b %d").gsub(/(^|\s)0([1-9])/,'\1\2') %></td>
    <% end -%>
      <td><!-- today //--></td>
    </tr>
    <!-- added by community //-->
    <tr>
    <% @statistics.each do |s| -%>
      <td><%= s.podcasts_found_by_nonadmins_count %></td>
    <% end -%>
      <td><%= Podcast.found_by_nonadmin.size %></td>
      <th class="key" style="background: url(<%= sparkline_link(@statistics.map(&:podcasts_found_by_nonadmins_count)) %>) no-repeat 50% right;">Added by community</th>
    </tr>
    <!-- added by staff //-->
    <tr>
    <% @statistics.each do |s| -%>
      <td><%= s.podcasts_found_by_admins_count %></td>
    <% end -%>
      <td><%= Podcast.found_by_admin.size %></td>
      <th class="key" style="background: url(<%= sparkline_link(@statistics.map(&:podcasts_found_by_admins_count)) %>) no-repeat 50% right;">Added by staff</th>
    </tr>
    <!-- total //-->
    <tr>
      <% @statistics.each do |s| -%>
      <td><!-- empty //--></td>
      <% end -%>
      <td class="gigantic_font"><%= Podcast.count %></td>
      <th class="key">Podcasts</th>
    </tr>
  </table>
</div>

<div class="usage">
  <table border="0" cellpadding="0" cellspacing="0">
    <!-- date //-->
    <tr>
    <% @statistics.each do |s| -%>
      <td class="key"><%= s.created_at.strftime("%b %d").gsub(/(^|\s)0([1-9])/,'\1\2') %></td>
    <% end -%>
      <td><!-- today //--></td>
    </tr>
    <!-- community //-->
    <tr>
    <% @statistics.each do |s| -%>
      <td><%= s.users_nonadmins_count %></td>
    <% end -%>
      <td><%= User.non_admins.size %></td>
      <th class="key" style="background: url(<%= sparkline_link(@statistics.map(&:users_nonadmins_count)) %>) no-repeat 50% right;">Community</th>
    </tr>
    <!-- podcasters //-->
    <tr>
    <% @statistics.each do |s| -%>
      <td><%= s.authors_count %></td>
    <% end -%>
      <td><%= Author.all.size %></td>
      <th class="key" style="background: url(<%= sparkline_link(@statistics.map(&:authors_count)) %>) no-repeat 50% right;">Podcasters</th>
    </tr>
    <!-- staff //-->
    <tr>
    <% @statistics.each do |s| -%>
      <td><%= s.users_admins_count %></td>
    <% end -%>
      <td><%= User.admins.all.size %></td>
      <th class="key" style="background: url(<%= sparkline_link(@statistics.map(&:users_admins_count)) %>) no-repeat 50% right;">Staff</th>
    </tr>
    <!-- total //-->
    <tr>
    <% @statistics.each do |s| -%>
      <td><!-- empty //--></td>
    <% end -%>
      <td class="gigantic_font"><%= User.all.size %></td>
      <th class="key">Users</th>
    </tr>
  </table>
</div>

<div class="usage">
  <table border="0" cellpadding="0" cellspacing="0">
    <!-- date //-->
    <tr>
    <% @statistics.each do |s| -%>
      <td class="key"><%= s.created_at.strftime("%b %d").gsub(/(^|\s)0([1-9])/,'\1\2') %></td>
    <% end -%>
      <td><!-- today //--></td>
    </tr>
    <!-- written by community //-->
    <tr>
    <% @statistics.each do |s| -%>
      <td><%= s.reviews_by_nonadmins_count %></td>
    <% end -%>
      <td><%= Review.claimed.by_nonadmin.all.size %></td>
      <th class="key" style="background: url(<%= sparkline_link(@statistics.map(&:reviews_by_nonadmins_count)) %>) no-repeat 50% right;">Written by community</th>
    </tr>
    <!-- written by staff //-->
    <tr>
    <% @statistics.each do |s| -%>
      <td><%= s.reviews_by_admins_count %></td>
    <% end -%>
      <td><%= Review.claimed.by_admin.all.size %></td>
      <th class="key" style="background: url(<%= sparkline_link(@statistics.map(&:reviews_by_admins_count)) %>) no-repeat 50% right;">Written by staff</th>
    </tr>
    <!-- total //-->
    <tr>
    <% @statistics.each do |s| -%>
      <td></td>
    <% end -%>
      <td class="gigantic_font"><%= Review.claimed.all.size %></td>
      <th class="key">Reviews</th>
    </tr>
  </table>
</div>

<div class="usage">
  <table border="0" cellpadding="0" cellspacing="0">
    <!-- date //-->
    <tr>
    <% @statistics.each do |s| -%>
      <td class="key"><%= s.created_at.strftime("%b %d").gsub(/(^|\s)0([1-9])/,'\1\2') %></td>
    <% end -%>
      <td><!-- today //--></td>
    </tr>
   <!-- total //-->
    <tr>
    <% @statistics.each do |s| -%>
      <td><%= s.podcasts_from_trackers_count %></td>
    <% end -%>
      <td class="gigantic_font"><%= Podcast.from_limetracker.all.size %></td>
      <th class="key" style="background: url(<%= sparkline_link(@statistics.map(&:podcasts_from_trackers_count)) %>) no-repeat 50% right;">Tracker installs</th>
    </tr>
  </table>
</div>

<div class="usage">
  <table border="0" cellpadding="0" cellspacing="0">
    <!-- date //-->
    <tr>
    <% @statistics.each do |s| -%>
      <td class="key"><%= s.created_at.strftime("%b %d").gsub(/(^|\s)0([1-9])/,'\1\2') %></td>
    <% end -%>
      <td><!-- today //--></td>
    </tr>
   <!-- total //-->
    <tr>
    <% @statistics.each do |s| -%>
      <td><%= s.podcasts_with_buttons_count %></td>
    <% end -%>
      <td class="gigantic_font"><%= Podcast.find(:all, :conditions => {:button_installed => true}).size %></td>
      <th class="key" style="background: url(<%= sparkline_link(@statistics.map(&:podcasts_with_buttons_count)) %>) no-repeat 50% right;">Button installs</th>
    </tr>
  </table>
</div>

<div class="usage">
  <table border="0" cellpadding="0" cellspacing="0">
    <!-- date //-->
    <tr>
    <% @statistics.each do |s| -%>
      <td class="key"><%= s.created_at.strftime("%b %d").gsub(/(^|\s)0([1-9])/,'\1\2') %></td>
    <% end -%>
      <td><!-- today //--></td>
    </tr>
   <!-- total //-->
    <tr>
    <% @statistics.each do |s| -%>
      <td><%= s.podcasts_on_google_first_page_count %></td>
    <% end -%>
      <td class="gigantic_font"><%= @statistics.last.podcasts_on_google_first_page_count.to_i if @statistics.last %></td>
      <th class="key" style="background: url(<%= sparkline_link(@statistics.map(&:podcasts_with_buttons_count)) %>) no-repeat 50% right;">First page hits</th>
    </tr>
  </table>
</div>
