<% commentable = add_comment -%>
<% options ||= {} -%>

<% if current_user -%>
<% remote_form_for(:comment, :update => 'comments_list', :position => :bottom, :url => comments_url) do |f| -%>
  <%= f.label :body, "Add a comment" -%>
    <div><%= f.text_area :body, :style => "height: 8em; #{ 'width: 95%;' if options[:width] == 'full' }" -%></div>

  <%= f.hidden_field :commentable_id, :value => commentable.id -%>
  <%= f.hidden_field :commentable_type, :value => commentable.class.to_s -%>
  <%= submit_tag "Add" -%>
<% end -%>
<% end -%>
