<div class="reviews">
  <h2>Reviews</h2>

  <p>
    <%= link_to "Positive (#{podcast.comments.that_are_positive.count})", positive_reviews_url(:podcast => podcast) %>
    <%= link_to "Negative (#{podcast.comments.that_are_negative.count})", negative_reviews_url(:podcast => podcast) %>
    <%= link_to "All (#{podcast.comments.count})", reviews_url(:podcast => podcast) %>
  </p>

  <ul class="reviews">
    <%= render :partial => 'comments/comment', :collection => comments -%>
  </ul>

  <% if can_add_comments?(podcast.episodes.newest.first) %>
    <%= render :partial => 'comments/add_comment', :object => podcast -%>
  <% end %>

  <% reset_cycle('row_class') %>
</div>
