<% options ||= {} -%>

<div class="field">
  <%= f.label :title -%>
  <div>
    <%= f.text_field :title, :class => 'text' -%>
  </div>
</div>

<div class="field">
  <%= f.label :body, "Review" -%>
  <div>
    <%= f.text_area :body, :class => "text#{ ' full' if options[:width] == 'full' }", :rows => '10' -%>
  </div>
</div>

<%= f.hidden_field :commentable_id, :value => commentable.id -%>
<%= f.hidden_field :commentable_type, :value => commentable.class.to_s -%>

<div class="align">
  Podcast Rating: 
  <%= f.radio_button :positive, true, :checked => "checked" -%>
  <%= f.label :positive, image_tag("icons/thumbs_up.png"), :onclick => "$('comment_positive_true').checked = true;" -%>
  <%= f.radio_button :positive, false -%>
  <%= f.label :positive, image_tag("icons/thumbs_down.png"), :onclick => "$('comment_positive_false').checked = true;" -%>
</div>

<div class="controls">
  <%= submit_tag "Save", :class => 'button' -%>
</div>
