<li id="<%= dom_id(comment) -%>" class="review <%= cycle('odd','even', :name => 'row_class') -%>">
  <% if comment.positive -%>
    <%= image_tag('icons/thumbs_up.png', :alt => 'Thumbs Up', :class => 'rating') -%>
  <% else -%>
    <%= image_tag('icons/thumbs_down.png', :alt => 'Thumbs Down', :class => 'rating') -%>
  <% end -%>

  <h4><%=h comment.title -%></h4>

  <% if comment.commenter -%>
    <cite>by <%= link_to_profile comment.commenter -%></cite>
  <% else -%>
    <%= link_to "Sign up", new_user_path -%> to register your comment.
  <% end -%>
  <p>
    <%=h comment.body -%>
    <% unless comment.id.nil? %>
      <%= link_to '#', review_url(:podcast => comment.episode.podcast, :id => comment.id), :title => 'permalink' -%>
      <% if comment.editable? %>
        <%= link_to 'Edit', edit_review_url(:podcast => comment.episode.podcast.to_param, :id => comment) -%>
        <%= link_to 'Delete', review_url(:podcast => comment.episode.podcast.to_param, :id => comment), :method => :delete -%>
        <%= link_to 'Insightful', rate_review_url(:podcast => comment.episode.podcast.to_param, :id => comment, :rating => 'insightful') -%>
        <%= link_to 'Not So Much', rate_review_url(:podcast => comment.episode.podcast.to_param, :id => comment, :rating => 'not_insightful') -%>
      <% end %>
    <% end %>
  </p>
</li>
