<li id="<%= dom_id(comment) -%>" class="review <%= cycle('odd','even', :name => 'row_class') -%>">
  <% if comment.positive -%>
    <%= image_tag('icons/thumbs_up.png', :alt => 'Thumbs Up', :class => 'rating') -%>
  <% else -%>
    <%= image_tag('icons/thumbs_down.png', :alt => 'Thumbs Down', :class => 'rating') -%>
  <% end -%>

  <h4><%=h comment.title -%></h4>

  <% if comment.commenter -%>
    <cite>by <%= link_to_profile comment.commenter -%></cite>
  <% else -%>
    <%= link_to "Sign up", new_user_path -%> to register your comment.
  <% end -%>
  <p>
    <%=h comment.body -%>
    <%= link_to '#', review_url(:podcast => comment.commentable, :id => comment), :title => 'permalink' -%>
  </p>

  <% if @comment -%>
    <script type="text/javascript">
      if($$('#comments_list li').size() % 2 == 0) {
        $('<%= dom_id(comment) -%>').removeClassName('odd');
        $('<%= dom_id(comment) -%>').addClassName('even');
      }
    </script>
  <% end -%>
</li>
