<% @title = "#{h(@comment.commenter.login)} reviews #{h(@podcast.custom_title)}" -%>
<% javascript_include "comment_edit", "comment_delete" -%>
<% with_podcast ||= false -%>
<% @show_ads = true -%>


<div id="<%=h dom_id(@comment) -%>" class="review <%= cycle('odd','even', :name => 'row_class') -%>">

  <%= render :partial => 'podcasts/small_cover' -%>

  <p><%= link_to(h(@podcast.custom_title), @podcast) %></p>

  <h2 class="title"><%=h @comment.title %></h2>

  <p class="rating"><%= comment_rating(@comment) -%></p>

  <div class="body">
    <%=simple_format h(@comment.body) %>
  </div>

  <p>
    <cite><%= link_to_profile current_user %></cite>
    <span class="episode"><%= link_to @comment.episode.date_title, episode_url(@comment.episode.podcast, @comment.episode) -%></span>
    <%= render(:partial => 'comments/modify_links', :object => @comment) -%>
    <%= render(:partial => 'comments/rating_links', :object => @comment) -%>
  </p>

</div>