<li>
  <%= link_to display_cover_art(episode.podcast, :size => :thumb), podcast_url(episode.podcast) -%>
  <h3>
    <%= link_to_podcast(episode.podcast) -%>
    <%= link_to episode.title, episode_url(episode.podcast, episode) %>
  </h3>

  <date><%= episode.published_at.to_date -%> - <%= time_to_words(episode.duration) -%></date>
  <p><%= search_excerpt(sanitize_condensed_summary(episode.summary), @parsed_query) -%></p>
</li>
