<li>
  <%= link_to_podcast review.episode.podcast -%>
  <span class='searched'><%= review.title -%></span>
  <span class='searched'><%= review.body -%></span>
  <%= link_to_profile review.reviewer -%>
  <%= link_to review.episode.date_title, episode_url(review.episode.podcast, review.episode) -%>
</li>
