

<li id="<%=h dom_id(review) -%>" class="review <%= review.positive? ? "positive" : "negative" %> clearfix">

    <h3>Left for <%= link_to review.episode.podcast.title, podcast_url(:podcast_slug => review.episode.podcast) -%></h3>


  <div class="info">
    <cite><%= link_to_profile review.reviewer -%></cite>
    <span class="created_at light"><%= time_ago_in_words review.created_at %> ago</span>
    <!--<a href="#" class="allreviews">See all my reviews</a>-->
  </div>

  <div class="summary">
    <span class="title"><%= review.title -%></span>

    <span class="body"><%= search_excerpt(review.body, @parsed_q) -%></span>
  </div>
</li>
