<% javascript_include 'search_term_context' -%>

<p>
  '<%= @q -%>' appears in <%= link_to pluralize(@podcast_groups.size, 'podcast title'), "" %>, 
                          <%= link_to pluralize(@podcast_groups.count(Feed) , "feed address"), "" %>,
                          <%= link_to pluralize(@podcast_groups.count(Podcast), "descriptions"), "" %>, and
                          <%= link_to pluralize(@podcast_groups.count(Review), "reviews"), "" %>.
</p>

<%= "<p>Tag #{@tags.map { |t| link_to t.name, tag_url(:tag => t) }.to_sentence}</p>" unless @tags.blank? %>

<%= "<p>User #{@users.map { |u| link_to_profile u }.to_sentence}</p>" unless @users.blank? %>

<% unless @podcast_groups.blank? -%>
<ul class="podcast_results">
  <% @podcast_groups.each_pair do |id, objs| -%>
  <% podcast = @podcasts.find { |p| p.id == id } -%>
  <li>
    <p>
      <%= link_to_podcast podcast -%>
      <% if objs.include?(podcast) -%><span class="searched"><%= podcast.description -%></span><% end -%>
    </p>
      
    <ul>
      <% (@podcast ? objs : objs[0..2]).each do |o| -%>
        <%= render :partial => o.class.to_s.downcase, :object => o %>
      <% end -%>
    </ul>
  
    <% if !@podcast && objs.size > 3 -%>
    <p>More results from <%= link_to "#{podcast.title}&hellip;", search_url(:q => @q, :podcast => podcast) %></p>
    <% end -%>
  </li>
  <% end -%>
</ul>
<% end -%>

