<% javascript_include 'search_term_context' -%>

<p>
  '<%= @q -%>' appears in <u><%= pluralize @podcast_groups.size, 'podcast title' %></u>, 
                          <u><%= pluralize @podcast_groups.count(Episode) , "episodes" %></u>,
                          <u><%= pluralize @podcast_groups.count(Feed) , "feed address" %></u>,
                          <u><%= pluralize @podcast_groups.count(Podcast), "descriptions" %></u>, and
                          <u><%= pluralize @podcast_groups.count(Review), "reviews" %></u>.
</p>

<% unless @users.blank? -%>
<h2>Users</h2>
<ul class="search_results">
  <%= render :partial => 'user', :collection => @users  -%>
</ul>
<% end -%>

<% unless @tags.blank? -%>
<h2>Users</h2>
<ul class="search_results">
  <%= render :partial => 'user', :collection => @users  -%>
</ul>
<% end -%>


<% unless @podcast_groups.blank? -%>
<h2>Podcasts Grouping</h2>
<ul class="podcast_results">
  <% @podcast_groups.each_pair do |id, objs| -%>
  <% podcast = @podcasts.find { |p| p.id == id } -%>
  <li>
    <p>
      <%= link_to_podcast podcast -%>
      <span class="searched"><%= podcast.description -%></span>
    </p>
      
    <ul>
      <% objs.each do |o| -%>
        <%= render :partial => o.class.to_s.downcase, :object => o %>
      <% end -%>
    </ul>
  
    <p>More results from <%= link_to "#{podcast.title}&hellip;", podcast_url(podcast) %></p>
  </li>
  <% end -%>
</ul>
<% end -%>

