<% @title = "Search" -%>
<% @classes = %{podcast show index} -%>
<% javascript_include "search", "jquery.dataTables.min" -%>

<div class="summary">
<h1>Search results for '<em><%= h @parsed_s -%></em>'<%= " in podcast '#{link_to_searched_podcast @podcast}'" if @podcast %></h1>

<div id="search_results" class="tabify main">

  <ul class="tabs">
    <% unless @podcasts.blank? -%><li class="tabs-selected"><a href="#podcast_results"><h4>Podcasts <span>(<%= @podcasts.size %>)</span></h4></a></li><% end -%>
    <% unless @episodes.blank? -%><li><a href="#episodes_results"><h4>Episodes <span>(<%= @episodes.size %>)</span></h4></a></li><% end -%>
    <% unless @reviews.blank? -%><li><a href="#reviews_results"><h4>Reviews <span>(<%= @reviews.size %>)</span></h4></a></li><% end -%>
  </ul>


      <% rounded_corner_tag(:id => "podcast_results") do -%>
        <%= render :partial => 'search/podcast', :collection => @podcasts -%>
        <% reset_cycle('row_class') %>
      <% end unless @podcasts.blank? -%>

      <% rounded_corner_tag(:id => "episodes_results") do -%>
        <ul class="episodes clearfix">
          <%= render :partial => 'search/episode', :collection => @episodes -%>
        </ul>
        <% reset_cycle('row_class') %>
      <% end unless @episodes.blank? -%>

      <% rounded_corner_tag(:id => "reviews_results") do -%>
        <ul class="reviews clearfix">
          <%= render :partial => 'search/review', :collection => @reviews -%>
        </ul>
        <% reset_cycle('row_class') %>
      <% end unless @reviews.blank? -%>

      <% rounded_corner_tag(:id => "no_results") do -%>
        <p>No results returned</p>
      <% end if @podcasts.blank? && @reviews.blank? && @episodes.blank? -%>
  
  
</div>
</div>

<div class="googleads searchads">
  <%= @ads -%>
</div>
