<% @title = "Search" -%>
<% @classes = %{podcast show index} -%>
<% javascript_include "search" -%>

<div class="summary">
<h1>Search results for '<em><%= h @parsed_q -%></em>'<%= " in podcast '#{link_to_searched_podcast @podcast}'" if @podcast %></h1>
<!--
<p>
  '<%= h @q -%>' appears in <%= link_to pluralize(@podcasts.size, 'podcast title'), search_url(:q => "#{h @parsed_q} only:podcasts") %>, 
                            <%= link_to pluralize(@feeds.size , "feed address"), search_url(:q => "#{h @parsed_q} only:feeds") %>,
                            <%= link_to pluralize(@episodes.size, "episodes"), search_url(:q => "#{h @parsed_q} only:episodes") %>, and
                            <%= link_to pluralize(@reviews.size, "reviews"), search_url(:q => "#{h @parsed_q} only:reviews") %>.
</p>
-->

<div id="search_results" class="tabify main">

  <ul>
    <% unless @podcasts.blank? -%><li><a href="#podcast_results"><h4>Podcasts <span>(<%= @podcasts.size %>)</span></h4></a></li><% end -%>
    <% unless @episodes.blank? -%><li><a href="#episodes_results"><h4>Episodes <span>(<%= @episodes.size %>)</span></h4></a></li><% end -%>
    <% unless @reviews.blank? -%><li><a href="#reviews_results"><h4>Reviews <span>(<%= @reviews.size %>)</span></h4></a></li><% end -%>
  </ul>


      <% unless @podcasts.blank? -%>
        <div class="rounded_corners" id="podcast_results">
          <% rounded_corners do -%>
            <%= render :partial => 'search/podcast', :collection => @podcasts -%>
            <% reset_cycle('row_class') %>
          <% end -%>
        </div>
      <% end -%>


      <% unless @episodes.blank? -%>
        <div class="rounded_corners" id="episodes_results">
          <% rounded_corners do -%>
            <ul class="episodes clearfix">
              <%= render :partial => 'search/episode', :collection => @episodes -%>
            </ul>
            <% reset_cycle('row_class') %>
          <% end -%>
        </div>
      <% end -%>

      <% unless @reviews.blank? -%>
        <div class="rounded_corners" id="reviews_results">
          <% rounded_corners do -%>
            <ul class="reviews clearfix">
              <%= render :partial => 'search/review', :collection => @reviews -%>
            </ul>
            <% reset_cycle('row_class') %>
          <% end -%>
        </div>
      <% end -%>

      <% if @podcasts.blank? && @reviews.blank? && @episodes.blank? -%>
        <div class="rounded_corners" id="reviews_results">
          <% rounded_corners do -%>
            <p>No results returned</p>
          <% end -%>
        </div>
      <% end -%>
  
  
</div>
</div>

<div class="googleads searchads">
  <%= @ads -%>
</div>
