<h1>user</h1>

<table>
  <tr>
    <td class="key">Email:</td>
    <td>
      <%= logged_in? && current_user.admin? ? @user.email : @user.email.gsub(/[^@]/, '*') -%>
    </td>
  </tr>

  <tr>
    <td class="key">Confirmed:</td>
    <td>
      <%= @user.confirmed? ? @user.activated_at.to_s(:long_ordinal) : "Not yet." rescue "error" -%>
    </td>
  </tr>

  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="When the user last visited the site signed in">Visited:</td>
    <td>
      <%= @user.logged_in_at.to_s(:long_ordinal) rescue "error" -%>
    </td>
  </tr>

  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="User name, like User Name">Name:</td>
    <td>
      <%= @user.login -%>
    </td>
  </tr>

  <tr>
    <td class="key" title="User name as it appears in the address, like User-Name">URL:</td>
    <td>
      <%= link_to @user.login, @user -%>
    </td>
  </tr>

  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="False if the user has turned off email notifications">Contact:</td>
    <td>
      <%= "NOT IMPLEMENTED YET" -%>
    </td>
  </tr>

  <tr>
    <td class="key" title="Current score number">Score:</td>
    <td>
      <%= @user.score -%>
    </td>
  </tr>

  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="Feeds the user makes">Makes:</td>
    <td>
      <%= @user.owned_podcasts.map { |p| link_to h(p.title), info_podcast_url(p) }.to_sentence -%>
    </td>
  </tr>

  <tr>
    <td class="key" title="Feeds the user found">Finds:</td>
    <td>
      <%= @user.feeds.map(&:podcast).uniq.compact.map { |p| link_to h(p.title), info_podcast_url(p) }.to_sentence -%>
    </td>
  </tr>

  <tr>
    <td class="key" title="Podcasts the user favorited">Favorites:</td>
    <td>
      <%= @user.favorite_podcasts.map { |p| link_to h(p.title), info_podcast_url(p) }.to_sentence -%>
    </td>
  </tr>

  <tr>
    <td class="key" title="Podcasts the user tagged">Tagged:</td>
    <td>
      <%= @user.taggings.map(&:podcast).uniq.map { |p| link_to h(p.title), info_podcast_url(p) }.to_sentence -%>
    </td>
  </tr>

  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="Reviews the user wrote">Reviewed:</td>
    <td>
      <%= @user.reviews.map { |r| link_to h(r.title), info_review_url(r.episode.podcast, r) }.to_sentence -%>
    </td>
  </tr>

  <tr>
    <td class="key" title="Reviews the user found insightful">Insightful:</td>
    <td>
      <%= @user.review_ratings.insightful.map(&:review).compact.map { |r| link_to h(r.episode.podcast.title), review_url(r.episode.podcast, r) }.to_sentence -%>
    </td>
  </tr>

  <tr>
    <td class="key" title="Reviews the user found not insightful">Not Insightful:</td>
    <td>
      <%= @user.review_ratings.not_insightful.map(&:review).compact.map { |r| link_to h(r.episode.podcast.title), review_url(r.episode.podcast, r) }.to_sentence -%>
    </td>
  </tr>

</table>
