<div class="field">
  <%= user_form.label :login, "Sign in" -%>
  <%= user_form.text_field :login, :class => "text" -%>
</div>  

<div class="field">
  <%= user_form.label :email, "Email" -%>
  <%= user_form.text_field :email, :class => "text" -%>
</div>  

<div class="field">
  <%= user_form.label :password, "New Password" -%>
  <%= user_form.password_field :password, :class => "text" -%>
</div>  

<div class="field">
  <%= user_form.check_box :_delete %>
  <%= user_form.label :_delete, 'Delete account' %>
</div>
