<% options ||= {} -%>
<% options[:top_bar] ||= false -%>
<div class="login_pop" style="display: none;">
<% form_for :user, :url => session_path,
            :html => {:id => "quick_signin", :class => "clearfix"} do |f| -%>
            

  <h5 class="signup_heading">Sign in to LimeCast</h5>
  <div class="message"></div>
  <div class="response_container"><!-- this is used for error messages, etc. //--></div>

  <div class="field">
    <%= label :quicksignin, :login, "User name" %>
    <div>
      <input type="text" id="quicksignin_login" class="text login" name="user[login]" tabindex="2" maxlength="255" />
    </div>
  </div>
  <div class="field">
    <%= label :quicksignin, :password, "Password" %>
    <div>
      <input type="password" id="quicksignin_password" class='text password' name="user[password]" tabindex="3" maxlength="255" />
    </div>
  </div>
  <div class="field sign_up" style="display: none;">
    <%= label :quicksignin, :email %>
    <div>
      <input type="text" id="quicksignin_email" class='text email' name="user[email]" tabindex="4" maxlength="255" />
    </div>
  </div>


  <button type="submit" class="signin_signup_button">
    <span>Sign in</span>
  </button>
  
  <input type="submit" value="Submit" style="display: none;" title="to force WebKit to submit on enter" />


  <div class="controls">
    <%= link_to "I forgot my password", forgot_password_path, :class => "forgot" -%> |
    <div class="callout"><ul><li>
      <%= link_to "Sign up", signup_url, :class => "signup_button" %>
    </li></ul></div>
  </div>
  

  <div class="controls_signup" style="display: none;">
    <span class="forgot">Already a member?</span>
    <div class="callout"><ul><li>
      <%= link_to "Sign in", signup_url,  :class => "signin_button" %>
    </li></ul></div>
  </div>

  
  

<% end -%>
</div>
