<% options ||= {} -%>
<% options[:top_bar] ||= false -%>

<% form_for :user, :url => session_path,
            :html => {:id => "quick_signin",
            :style => "display: none;"} do |f| -%>

  <div class="titlebar">
    <a href="#" class="close">Exit</a> <!-- only show this on the top bar //-->
  </div>

  <div class="message"></div>

  <div class="field">
    <%= label :quicksignin, :login, "User" %>
    <div>
      <input type="text" id="quicksignin_login" class="text login" name="user[login]" />
    </div>
  </div>
  <div class="field">
    <%= label :quicksignin, :password, "Pass" %>
    <div>
      <input type="password" id="quicksignin_password" class='text password' name="user[password]" />
    </div>
  </div>
  <div class="field sign_up" style="display: none;">
    <%= label :quicksignin, :email %>
    <div>
      <input type="text" id="quicksignin_email" class='text email' name="user[email]" />
    </div>
  </div>

  <div class="response_container">
    <%= link_to "I forgot my password", forgot_password_path -%>
  </div>

  <div class="controls">
    <%= submit_tag "Sign Up", :id => "signup", :class => "button signup_button" %>
    <%= submit_tag "Sign In", :id => "signin", :class => "button signin_button" %>
  </div>
<% end -%>
