<% options ||= {} -%>
<% options[:top_bar] ||= false -%>
<% options[:suffix] ||= rand(10000) -%>

<div class="quick_signin <% if options[:top_bar] -%>palette top_bar<% else -%>inline<% end -%>"
                       style="display: none;">
  <div class="titlebar">
    <% if options[:top_bar] -%>
      <a href="#" class="close">Exit</a>
    <% end -%>
  </div>
  <div class="contents">
    <% form_for :user, :url => session_path do |f| -%>
      <div class="field">
        <label for="user_login_<%= options[:suffix] -%>"<%= ' class="default"' unless options[:top_bar] -%>>User Name</label>
        <div>
          <%= f.text_field "login_#{options[:suffix]}", :class => 'text login', :name => "user[login]" %>
        </div>
      </div>
      <div class="field">
        <label for="user_password_<%= options[:suffix] -%>"<%= ' class="default"' unless options[:top_bar] -%>>Password</label>
        <div>
          <%= f.password_field "password_#{options[:suffix]}", :class => 'text', :name => "user[password]" %>
        </div>
      </div>
      <div class="field sign_up" style="display: none;">
        <label for="user_email_<%= options[:suffix] -%>"<%= ' class="default"' unless options[:top_bar] -%>>Email</label>
        <div>
          <%= f.text_field "email_#{options[:suffix]}", :class => 'text', :name => "user[email]" %>
        </div>
      </div>

      <div class="response_container"></div>

      <div class="controls">
        <%= submit_tag 'Sign in', :class => 'button signin_button' %>
        <%= submit_tag 'Sign up', :class => 'button signup_button' %>
      </div>
    <% end -%>
  </div>
</div>
