<% options ||= {} -%>
<% options[:top_bar] ||= false -%>
<% options[:suffix] ||= rand(10000) -%>

<div class="quick_signin <%= options[:suffix] %> <% if options[:top_bar] -%>palette top_bar<% else -%>inline<% end -%>"
                       style="display: none;">
  <div class="titlebar">
    <% if options[:top_bar] -%>
      <a href="#" class="close">Exit</a>
    <% end -%>
  </div>
  <div class="message"><%= options[:message] %></div>
  <div class="contents">
    <% form_for :user, :url => session_path do |f| -%>
      <div class="field">
        <label for="login_<%= options[:suffix] -%>">User</label>
        <div>
          <input type="text" id="login_<%= options[:suffix] -%>" class='text login' name="user[login]" />
        </div>
      </div>
      <div class="field">
        <label for="password_<%= options[:suffix] -%>"<%= ' class="default"' if options[:label_in_input] -%>>Pass</label>
        <div>
          <input type="password" id="password_<%= options[:suffix] -%>" class='text password' name="user[password]" />
        </div>
      </div>
      <div class="field sign_up" style="display: none;">
        <label for="email_<%= options[:suffix] -%>">Email</label>
        <div>
          <input type="text" id="email_<%= options[:suffix] -%>" class='text email' name="user[email]" />
        </div>
      </div>

      <div class="response_container">
        <%= link_to "I forgot my password", forgot_password_path -%>
      </div>

      <div class="controls">
        <%= submit_tag 'Sign Up', :id => "signup_#{options[:suffix]}", :class => 'button signup_button' %>
        <%= submit_tag 'Sign In', :id => "signin_#{options[:suffix]}", :class => 'button signin_button' %>
      </div>
    <% end -%>
  </div>
</div>
