<% options ||= {} -%>
<% options[:top_bar] ||= false -%>

<div id="quick_signin" class="<% if options[:top_bar] -%>palette top_bar<% end -%>" 
                       style="display: none;">
  <div class="titlebar">
    <% if options[:top_bar] -%>
      <a href="#" class="close">Exit</a>
    <% end -%>
  </div>
  <div class="contents">
    <% form_for :user, :url => session_path do |f| -%>
      <div class="field">
        <label for="login">User Name</label>
        <div>
          <%= f.text_field 'login', :class => 'text'%>
        </div>
      </div>
      <div class="field">
        <label for="password">Password</label>
        <div>
          <%= f.password_field 'password', :class => 'text' %>
        </div>
      </div>
      <div class="field sign_up" style="display: none;">
        <label for="email">Email</label>
        <div>
          <%= f.text_field 'email', :class => 'text' %>
        </div>
      </div>

      <div class="response_container"></div>

      <div class="controls">
        <%= submit_tag 'Sign in', :class => 'button signin_button' %>
        <%= submit_tag 'Sign up', :class => 'button signup_button' %>
      </div>
    <% end -%>
  </div>
</div>
