<% options ||= {} -%>
<% options[:top_bar] ||= false -%>

<% form_for :user, :url => session_path,
            :html => {:id => "quick_signin",
            :style => "display: none;"} do |f| -%>
            
<div class="rounded_corners">
  <% rounded_corners do -%>
  
  <h5 class="signup_heading">Login to LimeCast</h5>
  <div class="message"></div>
  <div class="response_container"><!-- this is used for error messages, etc. //--></div>

  <div class="field">
    <%= label :quicksignin, :login, "User name" %>
    <div>
      <input type="text" id="quicksignin_login" class="text login" name="user[login]" />
    </div>
  </div>
  <div class="field">
    <%= label :quicksignin, :password, "Password" %>
    <div>
      <input type="password" id="quicksignin_password" class='text password' name="user[password]" />
    </div>
  </div>
  <div class="field sign_up" style="display: none;">
    <%= label :quicksignin, :email %>
    <div>
      <input type="text" id="quicksignin_email" class='text email' name="user[email]" />
    </div>
  </div>


  
  <button type="submit" class="signin_button">
    <span>Login</span>
  </button>
  
  <div class="titlebar">
    <a href="#" class="close">Cancel</a>
  </div>

  <div class="controls">
    <%= link_to "I forgot my password", forgot_password_path, :class => "forgot" -%> |
    <div class="callout"><ul><li>
      <%= link_to "Sign up", signup_url, :id => "signup", :class => "button signup_button" %>
    </li></ul></div>
    
  </div>
  
  <div class="controls_signup" style="display: none;">
    <span class="forgot">Already a member?</span>
    <div class="callout"><ul><li>
      <%= link_to "Login", signup_url, :id => "signup", :class => "button signup_button gotologin" %>
    </li></ul></div>
  </div>
  
  
  
  
<% end -%>
</div>
<% end -%>
