<% options ||= {} -%>
<% options[:top_bar] ||= false -%>
<% options[:name] ||= "quick_signin" -%>

<div id="<%= options[:name] -%>" class="<% if options[:top_bar] -%>palette top_bar<% end -%>" 
                       style="display: none; <% if options[:top_bar] -%>opacity: 0;<% end -%>">
  <div class="titlebar">
    <a href="#" class="close" <% unless options[:top_bar] -%> style="display: none"<% end -%>>Exit</a>
  </div>
  <div class="contents">
    <% form_for :user, :url => session_path do |f| -%>
      <div class="field">
        <label for="email">Email</label>
        <div>
          <%= f.text_field 'email', :class => 'text' %>
        </div>
      </div>
      <div class="field">
        <label for="password">Password</label>
        <div>
          <%= f.password_field 'password', :class => 'text' %>
        </div>
      </div>
      <div class="field login_field" style="display: none;">
        <label for="login">User Name</label>
        <div>
          <%= f.text_field 'login', :class => 'text', :class => 'login_input_field' %>
        </div>
      </div>

      <div class="response_container"></div>

      <div class="controls">
      <span class="login_buttons">
        <%= submit_tag 'Sign in', :class => 'button', :class => 'signin_button' %>
      </span>
      <%= submit_tag 'Sign up', :type => 'button', :class => 'signup_button' %>
      </div>
    <% end -%>
  </div>
</div>
<script type="text/javascript">var quick = new Lime.Widgets.QuickLogin('<%= options[:name] -%>')</script>
