<% @title = h(@user.login) -%>
<% @classes = %{user show} -%>
 

<%= render :partial => 'users/edit' if current_user && (current_user == @user || current_user.admin?) %>

<h1><%=h @user.login -%></h1>

<section id="user">
  <nav>
    <%= link_to "Favorites (#{@user.favorites.count})", '#favorites' if @user.favorites.count > 0 %>
    <%= link_to "Owned (#{@user.owned_podcasts.count})", '#owned' if @user.owned_podcasts.count > 0 %>
    <%= link_to "Found (#{@user.podcasts.count})", '#found' if @user.podcasts.count > 0 %>
    <%= link_to "Reviews (#{@user.reviews.count})", '#reviews' if @user.reviews.count > 0 %>
  </nav>

  <% if @user.favorites.size > 0 -%>
  <ul id="favorites"><%= render :partial => 'podcasts/podcast', :collection => @user.favorite_podcasts -%></ul>
  <% end -%>

  <% if @user.owned_podcasts.count > 0 -%>
  <ul id="owned"><%= render :partial => 'podcasts/podcast', :collection => @user.owned_podcasts -%></ul>
  <% end -%>

  <% if @user.podcasts.count > 0 -%>
  <ul id="found"><%= render :partial => 'podcasts/podcast', :collection => @user.podcasts -%></ul>
  <% end -%>

  <% if @user.reviews.count > 0 -%>
  <ul id="reviews"><%= render :partial => 'reviews/review', :collection => @user.reviews, :locals => {:editable => false} -%></ul>
  <% end -%>
</section>