<h1><%=h @user.login -%></h1>

<% if @user == current_user -%>
  This is me!
  Change password, email 
  (<%= in_place_editor_field :user, :email, {}, :url => "/users/#{@user.id}" -%>)
<% end -%>

<% if @user.owned_podcasts.count > 0 -%>
  <h3>Makes</h3>
  <ul class="podcasts">
    <%= render :partial => 'podcasts/podcast', :collection => @user.owned_podcasts -%>
  </ul>
<% end -%>

<% if @user.podcasts.count > 0 -%>
  <h3>Found</h3>
  <ul class="podcasts">
    <%= render :partial => 'podcasts/podcast', :collection => @user.podcasts -%>
  </ul>
<% end -%>

<% if @user.comments.count > 0 -%>
  <h3>Reviewed</h3>
  <div class="comments">
    <% @user.comments.each do |comment| -%>
      <div id="<%= dom_id(comment) -%>" class="comment">
	<%= link_to_thing(comment.commentable) -%>
	<b><%= comment.title -%></b>
	<%= comment.body -%>
      </div>
    <% end -%>
  </div>
<% end -%>
