<%# @title = h(@user.login) -%>
<%# @show_ads = true if @user.reviews.count > 0 -%>
<%# javascript_include "review_edit", "review_delete", "podcast_edit", "inline_edit_form" -%>

<%= render :partial => 'users/edit' if current_user %>

<div class="user">

  <%= render :partial => 'users/small_picture', :locals => { :user => @user } -%>

  <h1><%=h @user.login -%><%= " (#{@user.score})" unless @user.podcaster? %></h1>
  
  <% if @user.owned_podcasts.count > 0 -%>
    <h2>Makes</h2>
    <ul class="podcasts clearfix">
      <%= render :partial => 'users/podcast', :collection => @user.owned_podcasts -%>
    </ul>
    <% reset_cycle('row_class') %>
  <% end -%>

  <% if @user.podcasts.size > 0 -%>
    <h2>Found (<%= @user.podcasts.size %>)</h2>
    <ul class="podcasts clearfix">
      <%= render :partial => 'users/podcast', :collection => @user.podcasts -%>
    </ul>
    <% reset_cycle('row_class') %>
  <% end -%>
    
  <% if @user.favorite_podcasts.size > 0 -%>
    <h2>Favorites</h2>
    <ul class="podcasts clearfix">
      <%= render :partial => 'users/podcast', :collection => @user.favorite_podcasts, :locals => {:user => @user, :favorite_link => true} -%>
    </ul>
    <% reset_cycle('row_class') %>
  <% end -%>
  
  <% if @user.reviews.count > 0 -%>
    <h2>Reviewed (<%= @user.reviews.count %>)</h2>
    <ul class="reviews clearfix">
      <%= render :partial => 'reviews/review', :collection => @user.reviews, :locals => {:with_podcast => true} -%>
    </ul>
    <% reset_cycle('row_class') %>
  <% end -%>
</div>
