<li id="<%= dom_id(episode) -%>" class="episode expandable <%= cycle('odd','even', :name => 'row_class') -%><% if episode_counter == 0 -%> expanded<% end -%>">
  <span class="expand">Expand</span>

  <div class="summary">
    <span class="date"><%= link_to episode.published_at.to_date, episode_url(:episode => episode.clean_url, :podcast => episode.podcast) -%></span>
    <span class="title"><%= episode.title -%></span>
    <% if episode.duration and episode.duration > 0 -%>
      <span class="duration">(<%= time_to_words(episode.duration) -%>)</span>
    <% end -%>
  </div>

  <div class="full">
    <p class="description"><%=strip_tags episode.summary -%></p>
    
    <%# TODO: if an mp3 doesn't have .mp3 extension? -%>
    <!--
    <% if episode.enclosure_url =~ /mp3$/ -%>
      <object type="application/x-shockwave-flash" data="/flash/player.swf" width="290" height="24" id="audioplayer_<%= episode.id -%>">
        <param name="movie" value="/flash/player.swf" />
        <param name="FlashVars" value="soundFile=<%= episode.enclosure_url -%>&playerID=<%= episode.id -%>" />
        <param name="quality" value="high" />
        <param name="menu" value="false" />
        <param name="wmode" value="transparent" />
      </object>
    <% end -%>
    -->

    <div class="download">
      <%= link_to "<span>Download</span>", episode.enclosure_url, :class => 'icon' -%>
    </div>

    <div class="limewire">
      <%= link_to "<span>Magnet</span>", episode.enclosure_magnet_url, :class => 'icon' -%>
    </div>
    
    <div class="clear"></div>

  </div>
</li>
