<% is_expanded = episode_counter.zero? %>

<li class="episode <%= is_expanded ? 'expanded' : 'collapsed' %>">
  <%= link_to "#{is_expanded ? '▼' : '►'}", "#", :class => "toggle" %>
  <h3>
    <%= link_to episode.date_title, episode_url(:podcast_slug => @podcast, :episode => episode), :rel =>  "div##{h dom_id(episode)}", :class => "tips" -%>
    <%= episode.title %>&nbsp;<span>(<%= time_to_words(episode.duration, true).gsub(/ /, '&nbsp;') -%>)</span>
  </h3>
  <div class="details">
    <p><%= page_description(episode.summary) -%></p>
    <% if episode.sources.with_screenshot.with_preview.first -%>
    <div class="preview"><%= render :partial => 'episodes/video_player', :object => episode, :locals => {:attrs => {:width => 540}} -%></div>
    <% end -%>
  </div>
</li>