<li class="episode <%= 'open' if episode_counter.zero? %>">
  <%= link_to "#{episode_counter.zero? ? '▼' : '►'}", "#", :class => "toggle" %>
  <details>
    <%= link_to episode.date_title, episode_url(:podcast_slug => @podcast, :episode => episode), :rel =>  "div##{h dom_id(episode)}", :class => "tips" -%>
    <%= episode.title %>&nbsp;<span>(<%= time_to_words(episode.duration, true).gsub(/ /, '&nbsp;') -%>)</span>
  </details>

  <article><%= page_description(episode.summary) -%></article>

  <% if source = (episode.sources.with_screenshot.with_preview.first || episode.sources.audio.first) -%>
  <figure class="media">
    <% if source.video? -%>
      <%= video_tag [source.preview.url, source.ogg_preview.url], 
                    :poster => source.screenshot.url, :controls => true, :width => 540, 
                    :rel => h(@episode.title),
                    :id => dom_id(source) %>
    <% elsif source.audio? -%>
      <%= audio_tag [source.url], 
                    :controls => true, :width => 540, 
                    :rel => h(@episode.title),
                    :id => dom_id(source) %>
    <% end -%>
    <div class="controls" style="display: none;">
      <% if source.video? -%>
      <button class="start">►<div>Preview</div></button>
      <% end -%>
      <button class="play">►</button>
      <button class="pause">||</button>
      <button class="mute">♫</button>
      <div class="volume">
        <button value="very-loud" class="selected">Very Loud</button>
        <button value="loud">Loud</button>
        <button value="medium">Medium</button>
        <button value="quiet">Quiet</button>
        <button value="very-quiet">Very Quiet</button>
      </div>
      <meter class="time"></meter>
      <progress><div>⚫</div></progress>
    </div>
  </figure>  
  <br />
  <% end -%>

  <%= render :partial => "episodes/superbutton", :locals => {:episode => episode} unless episode.sources.empty? %>
</li>