<li id="<%= dom_id(episode) -%>" class="episode expandable <%= cycle('odd','even', :name => 'row_class') -%><% if episode_counter == 0 -%> expanded<% end -%>">
  <span class="expand">Expand</span>

  <div class="summary">
    <span class="date"><%= link_to episode.published_at.to_date, episode_url(:episode => episode.clean_url, :podcast => episode.podcast) -%></span>
    <span class="title"><%= episode.title -%></span>
    <% if episode.duration and episode.duration > 0 -%>
      <span class="duration">(<%= time_to_words(episode.duration) -%>)</span>
    <% end -%>
  </div>

  <div class="full">
    <p class="description"><%=sanitize_summary episode.summary -%></p>
    
    <%# TODO: if an mp3 doesn't have .mp3 extension? -%>
    <!--
    <% if episode.source and episode.source.url =~ /mp3$/ -%>
      <object type="application/x-shockwave-flash" data="/flash/player.swf" width="290" height="24" id="audioplayer_<%= episode.id -%>">
        <param name="movie" value="/flash/player.swf" />
        <param name="FlashVars" value="soundFile=<%= episode.source.url -%>&playerID=<%= episode.id -%>" />
        <param name="quality" value="high" />
        <param name="menu" value="false" />
        <param name="wmode" value="transparent" />
      </object>
    <% end -%>
    -->

    <% if episode.source -%>
      <%= render :partial => 'episodes/download', :object => episode -%>
    <% end -%>

    <div class="clear"></div>

  </div>
</li>
