<li id="<%= dom_id(episode) -%>" class="clearfix episode expandable <%= cycle('odd','even', :name => 'row_class') -%><% if episode_counter == 0 -%> expanded<% end -%>">
  <span class="expand">Expand</span>

  <div class="summary">
    <span class="date"><%= link_to episode.published_at.to_date, episode_url(:episode => episode.clean_url, :podcast => episode.podcast) -%></span>
    <span class="title"><%= episode.title -%></span>
    <% if episode.duration and episode.duration > 0 -%>
      <span class="duration">(<%= time_to_words(episode.duration) -%>)</span>
    <% end -%>
  </div>

  <div class="full">
    <p class="description"><%=sanitize_condensed_summary episode.summary -%></p>
    <%= render :partial => 'episodes/audio_player', :object => episode if episode.audio_source -%>
    <%= render :partial => 'episodes/super_button', :locals => {:sources => episode.sources} -%>
  </div>
</li>
