<li class="episode <%= 'open' if episode_counter.zero? %>">
  <%= link_to "#{episode_counter.zero? ? '▼' : '►'}", "#", :class => "toggle" %>
  <h4>
    <%= link_to episode.date_title, episode_url(:podcast_slug => @podcast, :episode => episode), :rel =>  "div##{h dom_id(episode)}", :class => "tips" -%>
    <%= episode.title %>&nbsp;<span>(<%= time_to_words(episode.duration, true).gsub(/ /, '&nbsp;') -%>)</span>
  </h4>

  <article><%= page_description(episode.summary) -%></article>

<% if source = episode.sources.with_screenshot.with_preview.first -%>
  <p>
    <%= video_tag([source.preview.url, source.ogg_preview.url], 
        :poster => source.screenshot.url, 
        :autobuffer => true, :controls => true, :width => 540) %>
  </p>
<% end -%>
</li>