<div class="episode">
  <% if episode.sources.first.screenshot? %>
  <%= image_tag(episode.sources.first.screenshot(:square).to_s, :height => 95, :width => 95) %>
  <div>
  <% else %>
  <div class="no_screenshot">
  <% end %>
    <h3><%= link_to episode.title, episode_url(:podcast_slug => @podcast, :episode => episode) -%></h3>
    <p>
      <span class="details"><%= episode.published_at.to_date -%> - <%= time_to_words(episode.duration) -%></span>
      <%= episode.summary -%>
    </p>
    <p class="links">
    <%#= link_to "View 5 min video preview", episode_url(:episode => episode, :podcast_slug => @podcast, :play => true) -%>
    </p>
    <%= render :partial => 'episodes/audio_player', :object => episode if episode.audio_source %>
  </div>
</div>

