<% episode = info_line -%>

<li class="episode">
  <%= link_to episode.date_title, info_episode_url(episode.podcast, episode) -%> 
  <%= h(episode.title) -%> 
  (<%= time_to_words(episode.duration) -%>) 
  <%= (non_blank(sanitize_condensed_summary(episode.summary))) -%>
  (<%= episode.preview_type %>)
</li>
