<div class="summary">
  <h1><%=h @podcast.custom_title %>/<%=h @episode.title -%></h1>
  <h6 id="page_type">VIDEO PODCAST EPISODE</h6>

  <div class="preview">
    <%= image_tag(@episode.sources.first.screenshot.url, :alt => "#{@episode.title} cover art", :width => 340, :height => 252) -%>
    <%= link_to "Older episode", "#", :class => "previous"-%>
    <%= link_to "Newer episode", "#", :class => "next"-%>
  </div>

  <div class="description">
    <div>
      <h2>
        <%=h @podcast.custom_title %>
        <%= link_to "View series &gt;&gt;", podcast_url(:podcast => @podcast) -%>
      </h2>
      <h3><%=h @episode.title -%></h3>

      <p class="media">
        <strong>5 minute preview</strong> (Full download is <%= @episode.duration.to_duration -%>)
      </p>
      <p>
        <span class="date"><%= @episode.published_at.to_date %></span> - <%= (@episode.summary) -%>
      </p>
    </div>
  </div>
</div>

<div class="clear"></div>