<div class="summary">
  <div id="episode_head">
    <h1><%=h @podcast.title %></h1>
    <div class="callout"><ul><li><%= link_to_podcast(@podcast, :text => "Go to series page") -%></li></ul></div>
    <div class="clear"></div>
    <h2><%=h @episode.title -%></h2>
    <div class="clear"></div>
    <h6 id="page_type">PODCAST EPISODE</h6>
  </div>

  <div class="preview">
    <%= render :partial => 'video_player', :object => @episode -%>
    <%= link_to_episode(@episode.previous_episode, :text => "Older episode", :class => "previous") if @episode.previous_episode -%>
    <%= link_to_episode(@episode.next_episode,     :text => "Newer episode", :class => "next")     if @episode.next_episode -%>
  </div>

  <div class="podcast_block">
    <div>
      <h4>Episode description</h4>

      <p class="media">
        <strong>5 minute preview</strong>
        <%- if @episode.duration -%>
          (Full download is <%= @episode.duration.to_duration -%>)
        <%- end -%>
      </p>

      <p><span class="date"><%= @episode.published_at.to_date %></span> - <%= sanitize_summary @episode.summary -%> </p>
      
      <%= render :partial => "download_button" -%>
    </div>
  </div>
</div>

<div class="clear"></div>

