<div class="summary">
  <div id="episode_head">
    <h1><%=h @podcast.title %></h1>
    <div class="callout"><ul><li><%= link_to "Go to series page", podcast_url(:podcast_slug => @podcast), :title => "Subscribe to the series & view the episode list" -%></li></ul></div>
    <div class="clear"></div>
    <h2><%=h @episode.title -%></h2>
    <div class="clear"></div>
    <h6 id="page_type">PODCAST EPISODE</h6>
  </div>
  <div class="preview">
    <%= render :partial => 'video_player', :object => @episode -%>
    <%= link_to "Older episode", episode_url(:podcast_slug => @podcast, :episode => @episode.previous_episode), :class => "previous" if @episode.previous_episode -%>
    <%= link_to "Newer episode", episode_url(:podcast_slug => @podcast, :episode => @episode.next_episode), :class => "next" if @episode.next_episode -%>
  </div>

  <div class="podcast_block">
    <div>
      <h4>Episode description</h4>

      <p class="media">
        <strong>5 minute preview</strong>
        <%- if @episode.duration -%>
          (Full download is <%= @episode.duration.to_duration -%>)
        <%- end -%>
      </p>

      <p>
        <span class="date"><%= @episode.published_at.to_date %></span> - <%= sanitize_summary @episode.summary -%>
      </p>
      
      
      <script type="text/javascript">
        PODCAST_ID = <%= @episode.podcast_id -%>;

        $(document).ready(function(){
          $("#zone-bar em a, #zone-bar .dl_dropdown a").click(function() {
            var hidden = $(this).parents("li").children("div").is(":hidden");

            $("#zone-bar > ul > li > div").hide()        
            $("#zone-bar > ul > li > a").removeClass();
            
            if(hidden) {
              $(this)
                .parents("li").children("div").toggle()
                .parents("li").children("a").addClass("zoneCur");
            }
            return false;
          });
        });

        $(function(){
          function read_cookie(){
            var id = $.cookie('podcast_' + PODCAST_ID + '_download');
            return id;
          }
        
          function update_cookie(id){
            $.cookie('podcast_' + PODCAST_ID + '_download', id);
          }

          function downloadUrl(delivery, id) {
            if(delivery == "LimeWire") {
              return $('#' + id + '_magnet').attr('href');
            }
            return $('#' + id).attr('href');
          };
        
          function update_download_button(link, type){
            var url  = link.attr('href');
            var info = link.parents('li:first').find('p').text() + " - " + link.text();
        
            $("#download a.download").attr("href", downloadUrl(type, link.attr('id')));
            $("#download a.download span").text(type + " | " + info);
          }
        
          function update_selected_link(link){
            $("#zone-bar .dl_dropdown a").removeClass("circle");
            link.addClass("circle");
          }
        
          function update_selected_type(type){
            $("input[type=radio][value=" + type + "]").attr("checked", "checked");
          }
        
          var default_link = "a.primary";
          var default_type = "Web";
          var cookie = read_cookie();
        
          // Sets the default download link on the page
          var name = default_link;
          if(cookie) {
            name = cookie.split(',')[0];
          }
          var link = $(name);
          if(link.length != 1) {
            link = $(default_link);
          }
        
          // Sets the download type on the page
          var type = default_type;
          if(cookie) {
            type = cookie.split(',')[1];
          }
        
          update_download_button(link, type);
          update_selected_link(link);
          update_selected_type(type);
        
          $("#zone-bar .dl_dropdown li a").click(function(e) {
            var type = $("input[type=radio]:checked").attr('value');
            update_download_button($(this), type);
            update_selected_link($(this));
        
            // XXX: %23 is # ... Doesnt seem to be working in firefox. Bug with encoding? should be able to take '#' out.
            update_cookie("#" + $(this).attr('id') + "," + type);
        
            //return false;
          });
        
        });
    	</script>
      
      <div id="zone-bar">
  			<ul>
  				<li>

  					<span id="download">
  						<a class="download" href="wxample.com">Download full version<span>Web | Flash - small</span></a>
  						<em class="opener-technology">
  							<a href="#" class="arrowz"><img src="../imgs/zonebar-downarrow.png" alt="dropdown" /></a>
  						</em>
  					</span>

  					<div class="dl_dropdown rounded_corners" style="display: none;">
  					  <% rounded_corners do -%>
  					  	<form action="http://limecast.com/search" method="get">            
                  Choose:
                  <input class="radio" id="w" name="download" type="radio" value="Web" checked="checked" /><label for="w">Web</label>
                  <input class="radio" id="m" name="download" type="radio" value="LimeWire" /><label for="m">LimeWire</label>
                </form>
                <div style="display: block;">

                  <ul class="v_options_list">
                    <% @episode.sources.group_by(&:format).each do |format| -%>
                      <li>
                        <p><%= feeds_label_from_format(format[0]) -%></p>
                        <span class="v_options">
                          <% delimited_items(format[1], "|") do |source, delimiter| -%>
                            <%= link_to default_bitrate_label(source.feed.bitrate), source.url,
                                  :id    => "feed_#{source.feed.id}",
                                  :title => [source.resolution, "bitrate: #{source.feed.formatted_bitrate}"].compact.join(" | "),
                                  :class => (source.primary? ? "primary" : nil)-%>
                            <%= link_to source.magnet_url, source.magnet_url, :id => "feed_#{source.feed.id}_magnet", :style => "display:none;" -%>
                            <%= delimiter -%>
                          <% end %>
                        </span>
                      </li>
                    <% end %>
                  </ul>

                </div>
  						<% end -%>
  					</div>

  				</li>
  			</ul>
  		</div>
  
    </div>
  </div>
</div>

<div class="clear"></div>

