<div class="summary">
  <div id="episode_head">
    <h1><%=h @podcast.custom_title %></h1>
    <div class="callout"><ul><li><%= link_to "Go to series page", podcast_url(:podcast => @podcast), :title => "Subscribe to the series & view the episode list" -%></li></ul></div>
    <div class="clear"></div>
    <h2><%=h @episode.title -%></h2>
    <div class="clear"></div>
    <h6 id="page_type">VIDEO PODCAST EPISODE</h6>
  </div>
  <div class="preview">
    <%- if @episode.sources.first.screenshot? -%>
      <div class="container">
        <%= image_tag(@episode.sources.first.screenshot.url, :alt => "#{@episode.title} cover art",  :width => 340) -%>
      </div>
    <%- else -%>
      <%= image_tag('/imgs/video_placeholder.png', :alt => "#{@episode.title} cover art is missing", :width => 340) -%>
    <%- end -%>
    <%= link_to "Older episode", episode_url(:podcast => @podcast, :episode => @episode.previous_episode), :class => "previous" if @episode.previous_episode -%>
    <%= link_to "Newer episode", episode_url(:podcast => @podcast, :episode => @episode.next_episode), :class => "next" if @episode.next_episode -%>
  </div>

  <div class="description">
    <div>
      <h4>Episode description</h4>

      <p class="media">
        <strong>5 minute preview</strong>
        <%- if @episode.duration -%>
          (Full download is <%= @episode.duration.to_duration -%>)
        <%- end -%>
      </p>

      <p>
        <span class="date"><%= @episode.published_at.to_date %></span> - <%= sanitize_summary @episode.summary -%>
      </p>
  
    </div>
  </div>
</div>

<div class="clear"></div>

