<div class="summary">
  <h1><%=h @podcast.custom_title %></h1>
  
  <h2><%=h @episode.title -%></h2>
  
  <h6 id="page_type">VIDEO PODCAST EPISODE</h6>

  <div class="preview">
    <%= image_tag(@episode.sources.first.screenshot.url, :alt => "#{@episode.title} cover art", :width => 340, :height => 252) -%>
    <%= link_to "Older episode", "#", :class => "previous"-%>
    <%= link_to "Newer episode", "#", :class => "next"-%>
  </div>

  <div class="description">
    <div>
      
      
     

      <h4>Episode description</h4>
      <div class="callout"><ul><li><%= link_to "Go to series page", podcast_url(:podcast => @podcast), :title => "Subscribe to the series & view the episode list" -%></li></ul></div>
      <p>
        <span class="date"><%= @episode.published_at.to_date %></span> - <%= (@episode.summary) -%>
      </p>
      <p class="media">
        <strong>5 minute preview</strong> (Full download is <%= @episode.duration.to_duration -%>)
      </p>
      
    </div>
  </div>
</div>

<div class="clear"></div>