<form method="get" action="<%= sources.first.url if sources.first -%>" class="super_button download">
  <div class="dropdown format">
    <ul name="format" class="styled" style="background-color: #555; padding: 3px;">
      <% sources.each_with_index do |s,i| -%>
        <li <% if i > 0 -%>style="display:none;"<% end -%> class="select" value="<%= s.url -%>">
          <%= link_to_with_icon super_button_delivery(s).gsub!(/[\s]+/, "&nbsp;"), s.format, "#" -%>
        </li>
      <% end -%>
    </ul>
  </div>

  <div class="dropdown delivery">
    <ul name="delivery" class="styled" style="background-color: #555; padding: 3px;">
      <li class="select"><%= link_to "Web", "#" -%></li>
      <li style="display: none;" class="select"><%= link_to "Magnet", "#" -%></li>
    </ul>
  </div>

  <div class="submit button green">
    <%= link_to "<span class='cap'><span class='label'>Download</span></span>", sources.first.url, :class => 'super_button_download' %>
  </div>
</form>
