<h1><%=h @episode.title %></h1>

<%= render :partial => 'feeds/info_source_table', :locals => {:options => {:episode => @episode}} -%>

<p>
  <%= link_to "< Newer", info_episode_url(@podcast, @newer) if @newer %> 
  <%= @podcast.episodes.sorted.index(@episode) + 1 %> of <%= @podcast.episodes.count -%> 
  <%= link_to "Older >", info_episode_url(@podcast, @older) if @older %> 
</p>

<h2>Media:</h2>
<% @episode.sources.sorted('bitrate').each do |source| -%>
  <%= render :partial => "sources/info_media", :locals => {:source => source} %>
<% end -%>

<table cellpadding="0" cellspacing="0" border="0">
<%- @episode.attributes.each do |k,v| -%>
  <% next if %w{id duration}.include?(k) || k.to_s =~ /_id/ %>
  <tr>
    <td><%= k %></td>
    <td><%= non_blank v %></td>
  </tr>
<%- end -%>
  <tr>
    <td>duration</td>
    <td><%= @episode.duration.to_i.to_duration %></td>
  </tr>
</table>

<h2>Logos</h2>
<ul>
<%- @episode.thumbnail.styles.keys.each do |k| -%>
  <li><%= link_to nil, @podcast.logo(k) -%></li>
<%- end -%>
</ul>

<h2>Sources</h2>
<ul>
<%- @episode.sources.each do |s| -%>
  <li><%= link_to s.file_name, info_source_url(@episode.podcast, @episode, s) -%></li>
<%- end -%>
</ul>

<% if @episode.primary_source -%>
  <h1>Source (Primary)</h1>
  <iframe name="primary_source_iframe" id="primary_source_iframe" src="<%= info_source_url(:podcast_slug => @episode.podcast, :episode => @episode, :id => @episode.primary_source.id) %>" style="width: 90%; border: solid 1px #111; height: 400px; margin: 10px;">Your browser does not support iframes.</iframe>
<% end -%>
