<h1><%=h @episode.title %></h1>

<table>
<%- @episode.attributes.each do |k,v| -%>
  <% next if %w{id duration}.include?(k) || k.to_s =~ /_id/ %>
  <tr>
    <td><%= k %></td>
    <td><%= v %></td>
  </tr>
<%- end -%>
  <tr>
    <td>duration</td>
    <td><%= @episode.duration.to_i.to_duration %></td>
  </tr>
</table>

<h2>Logos</h2>
<ul>
<%- @episode.thumbnail.styles.keys.each do |k| -%>
  <li><%= link_to nil, @podcast.logo(k) -%></li>
<%- end -%>
</ul>

<h2>Sources</h2>
<ul>
<%- @episode.sources.each do |s| -%>
  <li>
    <table>
      <tr>
        <td>screenshot</td>
        <td><%= s.screenshot.url %></td>
      </tr>
      <tr>
        <td>preview</td>
        <td><%= s.preview.url %></td>
      </tr>
      <tr>
        <td>preview file size</td>
        <td><%= s.preview_file_size.to_i.to_file_size %></td>
      </tr>
      <tr>
        <td>format</td>
        <td><%= s.format %></td>
      </tr>
      <tr>
        <td>url</td>
        <td><%= s.url %></td>
      </tr>
    </table>
  </li>
<%- end -%>
</ul>

