<% @title = "#{h(@podcast.custom_title)} #{h(@episode.title)}" -%>
<% @show_ads = true -%>
<% javascript_include "comment_edit", "comment_delete" -%>

<div class="podcast">
  <%= render :partial => 'podcasts/small_cover' -%>

  <div class="episode">
    <p><%= link_to(h(@episode.podcast.custom_title), @episode.podcast) %></p>
    
    <h1 class="publish_date">
      <%=h @episode.date_title %>
    </h1>
    
    <p class="title"><%=h @episode.title %> (<%= time_to_words(@episode.duration) -%>)</p>
    
    <div class="metadata clearfix">
      <div class="summary">
        <p><%=sanitize_summary @episode.summary %></p>
      </div>
    
      <%= render :partial => 'episodes/super_button', :locals => {:sources => @episode.sources} -%>

    </div>
    
  </div>

  <%= render :partial => 'comments/comments', :object => @episode.comments, :locals => { :podcast => @episode.podcast } -%>
  
</div>
