<% @title = "#{h(@podcast.custom_title)} #{h(@episode.title)}" -%>
<% @show_ads = true -%>
<% javascript_include "comment_edit", "comment_delete" -%>

<div class="podcast">
  <%= render :partial => 'podcasts/small_cover', :locals => { :url => podcast_url(@podcast) } -%>

  <div class="episode">
    <p>Episode of <%= link_to(h(@episode.podcast.custom_title), @episode.podcast) %></p>
    
    <h1><%= @episode.date_title %></h1>

    <p><%=escape_once(@episode.title)%><%= " (#{time_to_words @episode.duration, true})" unless @episode.duration == 0 %></p>
    
    <div class="metadata clearfix">
      <div class="summary">
        <p><%=sanitize_summary @episode.summary %></p>
      </div>
    
      <%= render :partial => 'episodes/super_button', :locals => {:sources => @episode.sources} -%>

    </div>
    
  </div>

  <%= render :partial => 'comments/comments', :object => @episode.comments, :locals => { :episode => @episode, :podcast => @episode.podcast } -%>
  
</div>
