<h1><%=h @episode.title %></h1>

<p>
  <b>Podcast:</b>
  <%= link_to h(@episode.podcast.title), podcast_url(@episode.podcast) %>
</p>

<p>
  <b>Summary:</b>
  <%=strip_tags @episode.summary %>
</p>

<p>
  <b><%= link_to "Download Podcast", @episode.enclosure_url %></b>
</p>

<p>
  <b>Published at:</b>
  <%=h @episode.published_at %>
</p>

<h2>Comments</h2>
<div class="comments">
  <%= render :partial => 'comments/comments', :object => @episode -%>
  <%= render :partial => 'comments/add_comment', :object => @episode -%>
</div>

<%= link_to 'Back', episodes_path %>
