<% @title = "#{h(@podcast.custom_title)} #{h(@episode.title)}" -%>
<% @show_ads = true -%>
<% javascript_include "comment_edit", "comment_delete" -%>

<div class="podcast">
  <%= render :partial => 'podcasts/small_cover' -%>

  <div class="episode">
    <p><%= link_to(h(@episode.podcast.custom_title), @episode.podcast) %></p>
    
    <h1 class="publish_date">
      <%=h @episode.date_title %>
    </h1>
    
    <p class="title"><%=h @episode.title %> (<%= time_to_words(@episode.duration) -%>)</p>
    
    <div class="metadata">
      <div class="summary">
        <p><%=sanitize_summary @episode.summary %></p>
      </div>
    
      <%= render :partial => 'episodes/download', :object => @episode -%>
      
      <div class="clear"></div>
    </div>
    
    <h2>Reviews</h2>
    <div class="reviews">
      <ul class="reviews">
	<%= render :partial => 'comments/comments', :object => @episode -%>
      </ul>

      <% if can_add_comments?(@episode) %>
        <%= render :partial => 'comments/add_comment', :object => @episode -%>
      <% end %>
    </div>
  </div>
  
</div>
