<% @title = "#{h(@podcast.custom_title)} #{h(@episode.title)}" -%>
<% @show_ads = true -%>
<% javascript_include "review_edit", "review_delete", "episode_delete" -%>

<div class="podcast">
  <%= render :partial => 'podcasts/small_cover', :locals => { :url => podcast_url(@podcast) } -%>

  <div class="episode">
    <p id="podcast_link"><%= link_to(h(@episode.podcast.custom_title), @episode.podcast) %></p>
    
    <% if current_user && @episode.writable_by?(current_user) -%>
      <div id="edit_actions" class="clearfix">
        <span class="label"><%= current_user.admin? ? "I can do anything!" : "This is mine!" %></span>
        <ul>
          <li class="delete">
            <%= link_to_with_icon "Delete", :delete, "/episodes/#{@episode.id}", :method => 'delete', :class => 'delete', :confirm => "Are you SURE you want to delete this episode? It will be removed from this podcast!" %>
          </li>
        </ul>
      </div>

    <% end -%>

    <h1 class="heading"><%= escape_once(@episode.title) %></h1>

    <p><%= @episode.date_title %><%= " (#{time_to_words @episode.duration, true})" unless @episode.duration == 0 %></p>
    
    <div class="metadata clearfix">
      <div class="summary">
        <p><%=sanitize_summary @episode.summary %></p>
      </div>
    
      <%= render :partial => 'episodes/super_button', :locals => {:sources => @episode.sources} -%>

    </div>
    
  </div>

  <% if !@episode.reviews.count.zero? || can_add_reviews?(@episode) -%>
    <%= render :partial => 'reviews/reviews', :object => @episode.reviews, :locals => { :hide_totals => true, :episode => @episode, :podcast => @episode.podcast } -%>
  <% end -%>
  
</div>
