<% @title = "#{unescape_entities(h(@episode.title))}" -%>
<% @show_ads = true -%>
<% javascript_include "jquery.media", "superbutton" -%>
<% @classes = %{episode show} -%>

<p><%= link_to h(@podcast.title), podcast_url(@podcast) %></p>

<h2><%=h @episode.title -%></h2>

<nav>
  <%= link_to "< Newer", episode_url(@podcast, @newer) if @newer %> 
  <%= @podcast.episodes.sorted.index(@episode) + 1 %> of <%= @podcast.episodes.count -%> 
  <%= link_to "Older >", episode_url(@podcast, @older) if @older %> 
</nav>

<p>
  <time datetime="<%= @episode.published_at.to_datetime.to_s %>"><%= @episode.published_at.to_date %></time>
  <%= "(#{@episode.duration.to_duration.to_s(false)})" if @episode.duration -%>
</p>

<article pubDate="<%= @episode.published_at.to_datetime.to_s %>">
  <p><%= sanitize_summary @episode.summary -%></p>
</article>

<%= render :partial => "episodes/episode_player", :locals => {:source => @source} if @source -%>

<%= render :partial => "superbutton", :locals => {:episode => @episode} unless @episode.sources.empty? -%>
