<% @title = "#{h(@podcast.title)} #{h(@episode.title)}" -%>
<% @show_ads = true -%>
<% javascript_include "comment_edit", "comment_delete" -%>

<div class="podcast">
  <div class="cover">
    <div class="border"></div>
    <%= image_tag(@podcast.logo.url(:small), :class => 'reflect rheight30 ropacity15') -%>
  </div>

  <div class="episode">
    <p>Episode of <%= link_to_thing(@episode.podcast) %></p>
    
    <h1 class="publish_date">
      <%=h @episode.published_at.strftime("%Y %b %d") %>
    </h1>
    
    <p class="title"><%=h @episode.title %> (<%= time_to_words(@episode.duration) -%>)</p>
    
    <div class="metadata">
      <div class="summary">
        <p><%=strip_tags @episode.summary %></p>
      </div>
    </div>
    
    <p>
      <b><%= link_to "Download Podcast", @episode.enclosure_url %></b>
    </p>
    
    <h2>Reviews</h2>
    <div class="comments">
      <%= render :partial => 'comments/comments', :object => @episode -%>
      <% if can_add_comments?(@episode) %>
        <%= render :partial => 'comments/add_comment', :object => @episode -%>
      <% end %>
    </div>
  </div>
  
</div>
