<% @title = "#{unescape_entities(h(@episode.title))}" -%>
<% @show_ads = true -%>
<% javascript_include "jquery.media", "superbutton" # "jquery.flash", "video_preview", -%>
<% @classes = %{episode show} -%>

<p><%= link_to h(@podcast.title), podcast_url(@podcast) %></p>

<h2><%=h @episode.title -%></h2>

<nav>
  <%= link_to "< Newer", episode_url(@podcast, @newer) if @newer %> 
  <%= @podcast.episodes.sorted.index(@episode) + 1 %> of <%= @podcast.episodes.count -%> 
  <%= link_to "Older >", episode_url(@podcast, @older) if @older %> 
</nav>

<p>
  <time datetime="<%= @episode.published_at.to_datetime.to_s %>"><%= @episode.published_at.to_date %></time>
  <%= "(#{@episode.duration.to_duration.to_s(false)})" if @episode.duration -%>
</p>

<article pubDate="<%= @episode.published_at.to_datetime.to_s %>">
  <p><%= sanitize_summary @episode.summary -%></p>
</article>

<% if @source -%>
  <figure class="media">
    <%= video_tag([@source.preview.url, @source.ogg_preview.url], 
      :poster => @source.screenshot.url, 
      :controls => true, :width =>540) if @source.preview_type == "video" %>
    <div class="controls">
      <button class="start">►</button>
      <button class="play">►</button>
      <button class="pause">||</button>
      <button class="mute">♫</button>
      <div class="volume">
        <button value="very-loud" class="selected">Very Loud</button>
        <button value="loud">Loud</button>
        <button value="medium">Medium</button>
        <button value="quiet">Quiet</button>
        <button value="very-quiet">Very Quiet</button>
      </div>
      <meter class="time"></meter>
      <progress><div>⚫</div></progress>
    </div>
  </figure>  
  <br />
<% end -%>

<%= render :partial => "superbutton", :locals => {:episode => @episode} unless @episode.sources.empty? -%>
