<% @title = "#{unescape_entities(h(@episode.title))}" -%>
<% @show_ads = true -%>
<% javascript_include "review_edit", "review_delete", "episode_delete", 'AC_OETags' -%>

<div class="podcast">
  <%= render :partial => 'podcasts/small_cover', :locals => { :url => podcast_url(@podcast) } -%>

  <div class="episode">
    <% if current_user && @episode.writable_by?(current_user) -%>
      <div id="edit_actions" class="clearfix">
        <span class="label"><%= current_user.admin? ? "I can do anything!" : "This is mine!" %></span>
        <span class="delete">
          <%= link_to_with_icon "Delete", :delete, "/episodes/#{@episode.id}", :class => 'delete' %>
        </span>
      </div>
    <% end -%>

    <p id="podcast_link"><%= link_to(h(@episode.podcast.custom_title), @episode.podcast) %></p>

    <h1 class="heading"><%= unescape_entities(escape_once(@episode.title)) %></h1>

    <p><%= @episode.date_title %><%= " (#{time_to_words @episode.duration, true})" unless @episode.duration == 0 %></p>

    <p>
      <%= link_to "< Previous", episode_url(:podcast_slug => @podcast, :episode => @previous_episode) if @previous_episode %>
      <%= link_to "Next >", episode_url(:podcast_slug => @podcast, :episode => @next_episode) if @next_episode %>
    </p>
    
    <div class="metadata clearfix">
      <div class="summary">
        <p><%=sanitize_summary @episode.summary %></p>
      </div>
      <div class="preview">
        <%= render :partial => 'episodes/video_player', :object => @episode if @episode.sources.first.preview.exists? -%>
      </div>
      <%= render :partial => 'episodes/audio_player', :object => @episode if @episode.audio_source -%>
      <%= render :partial => 'episodes/super_button', :locals => {:sources => @episode.sources} -%>
    </div>
    
  </div>

  <% if !@episode.reviews.count.zero? || can_add_reviews?(@episode) -%>
    <%= render :partial => 'reviews/reviews', :object => @episode.reviews, :locals => { :hide_totals => true, :episode => @episode, :podcast_slug => @episode.podcast } -%>
  <% end -%>
  
</div>
