<% podcast = description -%>
<% is_first ||= false -%>

<div class="description" <%= 'id="first_featured"' if is_first %>>
  <div class="preview">
    <%= image_tag(podcast.logo.url(:small), :alt => "#{podcast.custom_title} cover art", :class => "logo") -%>
  </div>

  <div class="s_desc">
    <h3><%= link_to podcast.title, podcast_url(:podcast_slug => podcast), :title => "Subscribe to the series & view the episode list" -%></h3>
    <p>
      <%= unescape_entities h(podcast.description) -%>
    </p>

    <%= render :partial => "podcasts/social", :locals => {:podcast => podcast, :show_owner => false, :show_finder => false} -%>


    <p class="favorite_cont">
      <% if podcast.is_favorite_of?(current_user) -%>
        <a href="#" class="is favorite">Marked as favorite</a>
      <% end -%>
    </p>

  </div> <!-- /s_desc -->
</div> <!-- /description -->
