<% @no_ads = true -%>
<% @classes = %{home} -%>

<section id="welcome">
  <h2>Welcome to LimeCast, <br /><strong>the web's open podcast directory and archive</strong></h2>
  <p>
    Peer-to-peer technology is reducing the distribution cost of open media to darn near zero. 
    We're building software tools to let everyone 
    <a href="http://wiki.limewire.org/index.php?title=LimeCast">Get Involved</a>.
  </p>
</section>

<section id="featured" class="clearfix">
  <h2>Featured Podcasts</h2>

  <section class="clearfix">
    <%= link_to display_cover_art(@podcast1), podcast_url(@podcast1) -%>
    <h3><%= link_to @podcast1.title.gsub(/ /, '&nbsp;'), podcast_url(@podcast1), :title => "Subscribe to the series & view the episode list" %></h3>
    <p><%= truncate sanitize_condensed_summary(@podcast1.description), :length => 100 -%></p>
  </section>

  <section class="clearfix">
    <%= link_to display_cover_art(@podcast2), podcast_url(@podcast2) -%>
    <h3><%= link_to @podcast2.title.gsub(/ /, '&nbsp;'), podcast_url(@podcast2), :title => "Subscribe to the series & view the episode list" %></h3>
    <p><%= truncate sanitize_condensed_summary(@podcast2.description), :length => 100 -%></p>
  </section>
</section>

<section id="make">
  <h3>Start your own show</h3>
  <p>
    <a href="http://makeinternettv.org/" target="_blank">Make Internet TV</a> has all the steps. 
    Check out <a href="/tracker" target="_blank">LimeTracker</a>, 
    a BitTorrent tracker that makes podcast RSS feeds.
  </p>
</section>

<section id="player">
  <h3>Watch full screen and in HD</h3>
  <p>
    Download the LimeCast Player powered by <a href="http://getmiro.com/" target="_blank">Miro</a>.
  </p>
  <ul>
    <li><a href="http://limecast.com/LimeCast.exe">Windows (25MB)</a></li>
    <li><a href="http://limecast.com/LimeCast.dmg">Mac (16MB)</a></li>
  </ul>
</section>
