<% @title = "Site" -%>
<h1>Site</h1>

<table>
  <tr>
    <td class="key">Released</td>
    <td>
      <%= @release -%>
    </td>
  </tr>
  
  <tr>
    <td class="key">Commit</td>
    <td>
      <%= @commit -%>
    </td>
  </tr>

  <tr>
    <td class="key">Message</td>
    <td>
      <%= @message -%>
    </td>
  </tr>

  <tr>
    <td class="key">Ability</td>
    <td>
      <%= ABILITY -%>
    </td>
  </tr>
</table>

<p>Site time: <%= Time.now.to_s(:info) -%></p>

<ul>
  <li><%= link_to "Icons", info_icons_url -%></li>
  <li><%= link_to "Add", info_add_url -%></li>
  <li><%= link_to "Hash", info_hash_url -%></li>
  <li><%= link_to "Tags", info_tags_url -%></li>
</ul>

<h2>Podcasts</h2>
<ul>
  <% @podcasts.each do |podcast| -%>
    <li>
      <%= link_to podcast.title, info_podcast_url(podcast) -%> <%= podcast.clean_url %>
    </li>
  <% end -%>
</ul>
