<!-- Site

Podcasts
Users
Reviews
Tracker installs
Button installs
Podcasts on first page of search results -->

<!-- t.integer :podcasts_count
t.integer :podcasts_found_by_admins_count
t.integer :podcasts_found_by_nonadmins_count

t.integer :feeds_count
t.integer :feeds_found_by_admins_count
t.integer :feeds_found_by_nonadmins_count

t.integer :users_count
t.integer :users_active_count
t.integer :users_pending_count
t.integer :users_passive_count

t.integer :reviews_count

t.datetime :created_at -->


<% @title = "Use" -%>
<h1>Use</h1>


<div class="usage">
  <h2>Podcasts</h2>
  <p>The number of podcasts in the system.</p>
  <table>
    <tr>
      <td class="key"><%= Podcast.all.size %><%= sparkline(@statistics.map(&:podcasts_count))%></td>
      <td>total</td>
    </tr>
    <tr>
      <td class="key"><%= Podcast.found_by_admin.size %><%= sparkline(@statistics.map(&:podcasts_found_by_admins_count))%></td>
      <td>podcasts added by admins</td>
    </tr>
    <tr>
      <td class="key"><%= Podcast.found_by_nonadmin.size %><%= sparkline(@statistics.map(&:podcasts_found_by_nonadmins_count))%></td>
      <td>podcasts added by non-admins</td>
    </tr>
    <tr>
      <td class="key"><%= Feed.all.size %><%= sparkline(@statistics.map(&:feeds_count))%></td>
      <td>feeds total</td>
    </tr>
    <tr>
      <td class="key"><%= Feed.found_by_admin.size %><%= sparkline(@statistics.map(&:feeds_found_by_admins_count))%></td>
      <td>feeds added by admins</td>
    </tr>
    <tr>
      <td class="key"><%= Feed.found_by_nonadmin.size %><%= sparkline(@statistics.map(&:feeds_found_by_nonadmins_count))%></td>
      <td>feeds added by non-admins</td>
    </tr>
  </table>
  <p><%= @statistics.map { |s| "<b>#{s.podcasts_count.to_i}</b> (#{s.created_at.strftime("%b '%y")})" }.join(', ') %></p>
</div>

<div class="usage">
  <h2>Users</h2>
  <p>
    The number of users in the system. <br />
    <strong>Active</strong> users have been confirmed by email. <br />
    <strong>Pending</strong> haven't confirmed their email, but are able to edit things. <br />
    <strong>Passive</strong> users can't edit things, haven't confirmed their email, and are usually added automatically when a podcast is created (as its owner).
  </p>
  <table>
    <tr>
      <td class="key"><%= User.all.size %><%= sparkline(@statistics.map(&:users_count))%></td>
      <td>total</td>
    </tr>
    <tr>
      <td class="key"><%= User.active.size %><%= sparkline(@statistics.map(&:users_active_count))%></td>
      <td>active</td>
    </tr>
    <tr>
      <td class="key"><%= User.pending.size %><%= sparkline(@statistics.map(&:users_pending_count))%></td>
      <td>pending</td>
    </tr>
    <tr>
      <td class="key"><%= User.passive.size %><%= sparkline(@statistics.map(&:users_passive_count))%></td>
      <td>passive</td>
    </tr>
  </table>
  <p><%= @statistics.map { |s| "<b>#{s.users_active_count.to_i}/#{s.users_pending_count.to_i}/#{s.users_passive_count.to_i}</b> (#{s.created_at.strftime("%b '%y")})" }.join(', ') %></p>
</div>

<div class="usage">
  <h2>Reviews</h2>
  <p>This is the number of reviews in the system.</p>
  <table>
    <tr>
      <td class="key"><%= Review.all.size %><%= sparkline(@statistics.map(&:reviews_count))%></td>
      <td>total</td>
    </tr>
  </table>
  <p><%= @statistics.map { |s| "<b>#{s.reviews_count.to_i}</b> (#{s.created_at.strftime("%b '%y")})" }.join(', ') %></p>
</div>

<div class="usage">
  <h2>Tracker installs</h2>
  <p>
    This is the number of feeds we have that come from LimeTracker. <br />
    These feeds include a &lt;generator&gt; tag with a value of "limecast.com/tracker".
  </p>
  <table>
    <tr>
      <td class="key"><%= Feed.from_limetracker.size %><%= sparkline(@statistics.map(&:feeds_from_trackers_count)) %></td>
      <td>total</td>
    </tr>
  </table>
  <p><%= @statistics.map { |s| "<b>#{s.feeds_from_trackers_count.to_i}</b> (#{s.created_at.strftime("%b '%y")})" }.join(', ') %></p>
</div>

<div class="usage">
  <h2>Button installs</h2>
  <p>This is the number of podcasts that have a LimeCast button installed (not implemented yet).</p>
  <table>
    <tr>
      <td class="key"><%= Podcast.find(:all, :conditions => {:button_installed => true}).size %><%= sparkline(@statistics.map(&:podcasts_with_buttons_count)) %></td>
      <td>total</td>
    </tr>
  </table>
  <p><%= @statistics.map { |s| "<b>#{s.podcasts_with_buttons_count.to_i}</b> (#{s.created_at.strftime("%b '%y")})" }.join(', ') %></p>
</div>

<div class="usage">
  <h2>Podcasts on first page results</h2>
  <p>This is the number of podcasts that show up on the first page of Google results. (not implemented yet)</p>
  <table>
    <tr>
      <td class="key"><%= "Not implemented yet" %><%= sparkline(@statistics.map(&:podcasts_on_google_first_page_count)) %></td>
      <td>total</td>
    </tr>
  </table>
  <p><%= @statistics.map { |s| "<b>#{s.podcasts_on_google_first_page_count.to_i}</b> (#{s.created_at.strftime("%b '%y")})" }.join(', ') %></p>
</div>
