<!-- Site

Podcasts
Users
Reviews
Tracker installs
Button installs
Podcasts on first page of search results -->


<% @title = "Use" -%>
<h1>Use</h1>


<div class="usage">
  <h2>Podcasts</h2>
  <p>The number of podcasts in the system.</p>
  <table>
    <tr>
      <td class="key"><%= Podcast.all.size %><%= sparkline(@statistics.map(&:podcasts_count))%></td>
      <td>total</td>
    </tr>
    <tr>
      <td class="key"><%= Podcast.found_by_admin.size %><%= sparkline(@statistics.map(&:podcasts_found_by_admins_count))%></td>
      <td>podcasts added by admins</td>
    </tr>
    <tr>
      <td class="key"><%= Podcast.found_by_nonadmin.size %><%= sparkline(@statistics.map(&:podcasts_found_by_nonadmins_count))%></td>
      <td>podcasts added by non-admins</td>
    </tr>
    <tr>
      <td class="key"><%= Feed.all.size %><%= sparkline(@statistics.map(&:feeds_count))%></td>
      <td>feeds total</td>
    </tr>
    <tr>
      <td class="key"><%= Feed.found_by_admin.size %><%= sparkline(@statistics.map(&:feeds_found_by_admins_count))%></td>
      <td>feeds added by admins</td>
    </tr>
    <tr>
      <td class="key"><%= Feed.found_by_nonadmin.size %><%= sparkline(@statistics.map(&:feeds_found_by_nonadmins_count))%></td>
      <td>feeds added by non-admins</td>
    </tr>
  </table>
  <p><%= @statistics.map { |s| "<b>#{s.podcasts_count.to_i}</b> (#{s.created_at.strftime("%b '%y")})" }.join(', ') %></p>
</div>

<div class="usage">
  <h2>Users</h2>
  <p>
    The number of users in the system. <br />
    <strong>Confirmed</strong> users have been confirmed by email. <br />
    <strong>Unconfirmed</strong> haven't confirmed their email, but are able to edit things. <br />
    <strong>Passive</strong> users can't edit things, haven't confirmed their email, and are usually added automatically when a podcast is created (as its owner).
  </p>
  <table>
    <tr>
      <td class="key"><%= User.all.size %><%= sparkline(@statistics.map(&:users_count))%></td>
      <td>total</td>
    </tr>
    <tr>
      <td class="key"><%= User.confirmed.size %><%= sparkline(@statistics.map(&:users_confirmed_count))%></td>
      <td>confirmed</td>
    </tr>
    <tr>
      <td class="key"><%= User.unconfirmed.size %><%= sparkline(@statistics.map(&:users_unconfirmed_count))%></td>
      <td>unconfirmed</td>
    </tr>
    <tr>
      <td class="key"><%= User.passive.size %><%= sparkline(@statistics.map(&:users_passive_count))%></td>
      <td>passive</td>
    </tr>
  </table>
  <p><%= @statistics.map { |s| "<b>#{s.users_confirmed_count.to_i}/#{s.users_unconfirmed_count.to_i}/#{s.users_passive_count.to_i}</b> (#{s.created_at.strftime("%b '%y")})" }.join(', ') %></p>
</div>

<div class="usage">
  <h2>Reviews</h2>
  <p>This is the number of reviews in the system.</p>
  <table>
    <tr>
      <td class="key"><%= Review.all.size %><%= sparkline(@statistics.map(&:reviews_count))%></td>
      <td>total</td>
    </tr>
  </table>
  <p><%= @statistics.map { |s| "<b>#{s.reviews_count.to_i}</b> (#{s.created_at.strftime("%b '%y")})" }.join(', ') %></p>
</div>

<div class="usage">
  <h2>Tracker installs</h2>
  <p>
    This is the number of feeds we have that come from LimeTracker. <br />
    These feeds include a &lt;generator&gt; tag with a value of "limecast.com/tracker".
  </p>
  <table>
    <tr>
      <td class="key"><%= Feed.from_limetracker.size %><%= sparkline(@statistics.map(&:feeds_from_trackers_count)) %></td>
      <td>total</td>
    </tr>
  </table>
  <p><%= @statistics.map { |s| "<b>#{s.feeds_from_trackers_count.to_i}</b> (#{s.created_at.strftime("%b '%y")})" }.join(', ') %></p>
</div>

<div class="usage">
  <h2>Button installs <em>[NOT IMPLEMENTED YET]</em></h2>
  <p>This is the number of podcasts that have a LimeCast button installed.</p>
  <table>
    <tr>
      <td class="key"><%= Podcast.find(:all, :conditions => {:button_installed => true}).size %><%= sparkline(@statistics.map(&:podcasts_with_buttons_count)) %></td>
      <td>total</td>
    </tr>
  </table>
  <p><%= @statistics.map { |s| "<b>#{s.podcasts_with_buttons_count.to_i}</b> (#{s.created_at.strftime("%b '%y")})" }.join(', ') %></p>
</div>

<div class="usage">
  <h2>Podcasts on first page results</h2>
  <p>This is the number of podcasts that show up on the first page of Google results.</p>
  <table>
    <tr>
      <td class="key"><%= @statistics.first.podcasts_on_google_first_page_count %><%= sparkline(@statistics.map(&:podcasts_on_google_first_page_count)) %></td>
      <td>total (at last count)</td>
    </tr>
  </table>
  <p><%= @statistics.map { |s| "<b>#{s.podcasts_on_google_first_page_count.to_i}</b> (#{s.created_at.strftime("%b '%y")})" }.join(', ') %></p>
</div>
