<h1>Tags</h1>

<ol id="tags">
<% for tag in @tags %>
  <li id="<%= dom_id(tag) -%>">
    <span><%=link_to h(tag.name), edit_admin_tag_path(tag) %></span>
    <span><%= link_to 'Delete', admin_tag_path(tag), :confirm => 'Are you sure?', :method => :delete %></span>
    <span><a href="#" onclick="$('merge_<%= tag.id -%>').show()">Merge</a>
      <span style="display:none;" id="merge_<%= tag.id -%>"> 
        <% form_tag merge_admin_tag_url(tag), :class => 'display:inline;' do |f| -%>
          into
          <%= text_field_tag :name -%>
          <%= submit_tag "Merge" -%>
          <a href="#" onclick="$('merge_<%= tag.id -%>').hide()">X</a>
        <% end -%>
      </span>
    </span>
  </li>
<% end %>
</ol>

<br />

<%= link_to 'New tag', new_admin_tag_path %>
