<% @title = h(@tag.name) -%>
<% @full_width = true -%>
<% @classes = %{podcast index} -%>
 <script type="text/javascript">
   $().ready(function() {  
    $('.description > p').jTruncate({  
     length: 120,  
    });  
   });
  </script>
  
<div class="summary">
<h1>Tag: <%= h @tag.name -%></h1>
<div class="main rounded_corners" id="browse">
  <% rounded_corners do -%>
  <%= will_paginate @podcasts,
    :previous_label => '<img src="../imgs/icons/left-arrow.gif" title="Previous page" />',
    :next_label     => '<img src="../imgs/icons/right-arrow.gif" title="Next page" />',
    :inner_window   => 1,
    :outer_window   => 1 -%>
  
  <ul class="podcasts">
    <%= render :partial => 'podcasts/podcast', :collection => @podcasts, :locals => {:show_remove_favorite => false} -%>
  </ul>
    <%= will_paginate @podcasts,
      :previous_label => '<img src="../imgs/icons/left-arrow.gif" title="Previous page" />',
      :next_label     => '<img src="../imgs/icons/right-arrow.gif" title="Next page" />',
      :inner_window   => 1,
      :outer_window   => 1 -%>

    <% end -%>
    <p class="per_page">
      View: <% delimited_items([5, 10, 20, 50]) do |count, comma| -%>
        <%= link_to count, { :limit => count}, {:class => ((params[:limit] || 10).to_i == count) ? "pp_current" : nil} -%><%= comma -%>
      <% end -%>
      per page
    </p>
</div>
</div>
<div class="googleads">
  <%= @ads -%>
</div>
