<% @title = h(@tag.name) -%>
<% @full_width = true -%>
<% @classes = %{podcast index} -%>
 <script type="text/javascript">
   $().ready(function() {  
    $('.s_desc > p').jTruncate({  
     length: 120,  
    });  
   });
  </script>
  
<div class="summary">
<h1>Tag: <%= h @tag.name -%></h1>
<div class="multicolumn rounded_corners" id="browse">
  <% rounded_corners do -%>
  <div id="view_options">
    <p>
      View:
      <a href="#"><img src="/imgs/columns_on.png" alt="Columns view" /></a>
      <a href="#"><img src="/imgs/grid_off.png" alt="Grid view" /></a>
    </p>
    <p class="per_page">
      <% delimited_items([5, 10, 20, 50]) do |count, comma| -%>
        <%= link_to count, all_url(:limit => count), :class => ((params[:limit] || 5).to_i == count) ? "pp_current" : nil -%><%= comma -%>
      <% end -%>
      per page
    </p>
    <div id="sort">
      <p>Sort by: <%= dropdown [["Most recent","recent"], ["Popular","oldest"]], nil, {} %></p>
    </div>
  </div>
<ul class="podcasts">
  <%= render :partial => 'podcasts/podcast', :collection => @podcasts -%>
</ul>

    <% end -%>
</div>
</div>
<div class="googleads">
  <%= @ads -%>
  <%= @ads -%>
</div>