<h1>Categories</h1>

<ol id="categories">
<% for category in @categories %>
  <li id="<%= dom_id(category) -%>">
    <span><%=link_to h(category.name), edit_admin_category_path(category) %></span>
    <span><%= link_to 'Delete', admin_category_path(category), :confirm => 'Are you sure?', :method => :delete %></span>
  </li>
<% end %>
</ol>

<%= sortable_element 'categories',
                     # :complete => visual_effect(:highlight, 'list'),
                     :url => {:action => "order"} %>

<br />

<%= link_to 'New category', new_admin_category_path %>
