<% sources ||= info_medias -%>

<table class="medias">
<% sources.each do |source| -%>
  <tr class="media">
    <td>
      <% link_to info_source_url(source.podcast, source.episode, source.id) do -%><%= non_blank source.formatted_bitrate -%> <%= non_blank source.extension -%><% end -%>
      <%= non_blank source.size.to_file_size.to_s(true, false).downcase -%> 
      <%= non_blank source.resolution -%> 
      <%= source.framerate.blank? ? blankness : "#{source.framerate.to_s.split(' ').first}fps" -%> 
      <%= source.episode.duration == 0 ? blankness : source.episode.duration.to_i.to_duration -%>
      <%= link_to("magnet", source.magnet_url) -%>
      <%= source.torrent.file? ? link_to("torrent", source.torrent.url) : blankness -%>
      <%= link_to(h(source.file_name), source.url) -%>
    </td>
  </tr>
<% end -%>

</table>