<% javascript_include "jquery.flash", "video_preview" -%>

<% @title = @podcast.title -%>
<h1>source</h1>

<%= render :partial => 'info/podcasts/info_source_table', :locals => {:options => {:source => @source}} -%>

<!-- Info: -->
<table>
  <tr>
    <td class="key" title="The download URL that defines this source">url</td>
    <td>
      <%= @source.url.blank? ? blankness : link_to(@source.url, @source.url) -%>
    </td>
  </tr>

  <tr>
    <td class="key" title="The download file name from response headers, or from the URL before we get the download">filename</td>
    <td>
      <%= non_blank @source.file_name -%>
    </td>
  </tr>
  
  
  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="">bitrate</td>
    <td>
      <%= @source.bitrate == 0 ? blankness : @source.bitrate.to_bitrate.to_s -%> 
      (<%= @source.bitrate == 0 ? blankness : (@source.bitrate * 1000).to_formatted_s %> bytes/second)
    </td>
  </tr>

  <tr>
    <td class="key" title="">size</td>
    <td>
      <%= non_blank @source.size.to_file_size.to_s(true, false) -%> 
      (<%= non_blank @source.size.to_formatted_s %> bytes)
    </td>
  </tr>
  
  <tr>
    <td class="key" title="">extension</td>
    <td>
      <%= non_blank @source.extension -%>
    </td>
  </tr>
  
  <tr>
    <td class="key" title="">resolution</td>
    <td>
      <%= non_blank @source.resolution -%>
    </td>
  </tr>
  
  <tr>
    <td class="key" title="">framerate</td>
    <td>
      <%= non_blank @source.framerate.to_f -%>
    </td>
  </tr>
  
  <tr>
    <td class="key" title="">duration</td>
    <td>
      <%= @source.duration == 0 ? blankness : @source.duration.to_duration.to_s -%> 
      (<%= @source.duration %> seconds)
    </td>
  </tr>
  
  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="">hash</td>
    <td>
      <%= non_blank @source.sha1hash -%>
    </td>
  </tr>

  <tr>
    <td class="key" title="">magnet</td>
    <td>
      <%= link_to @source.magnet_url.gsub(/&/, '<br />&'), @source.magnet_url -%>
    </td>
  </tr>

  <tr>
    <td class="key" title="">torrent</td>
    <td>
      <%= @source.torrent.file? ? link_to(@source.torrent.url, @source.torrent.url) : blankness -%>
    </td>
  </tr>

  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="Flash player presenting the video or audio preview">preview (h.264 mp4)</td>
    <td class="preview">
      <div>
    <% if @source.preview_type == 'video' -%>
      <%= render :partial => 'info/episodes/video_player', :object => @source, :locals => {:format => :mp4, :attrs => {:class => "scale", :width => 540}} -%>
    <% else -%>
      <%= render :partial => 'info/episodes/audio_player', :object => @source %>
    <% end -%>
      </div>
    </td>
  </tr>

  <tr>
    <td class="key" title="The video still image FFmpeg took from the episode shown inline">video still</td>
    <td>
    <%- if @source.screenshot? -%>
      <%= image_tag(@source.screenshot.url, {:rel => @source.preview.url, :alt => "#{@episode.title} cover art"}) -%>
    <%- else -%>
       <%= blankness -%>
    <%- end -%>
    </td>
  </tr>

  <tr>
    <td class="key" title="A link to the mp4 preview video FFmpeg clipped from the episode, and the file size">mp4&nbsp;video&nbsp;preview</td>
    <td>
      <%= @source.preview.url =~ /missing\.png$/ ? blankness : link_to(@source.preview.url, @source.preview.url) + " #{FileSize.new(@source.preview_file_size.to_i || 0)}"-%>
    </td>
  </tr>

  <tr>
    <td class="key" title="A link to the ogg preview video FFmpeg clipped from the episode, and the file size">ogg&nbsp;video&nbsp;preview</td>
    <td>
      <%= @source.ogg_preview.url =~ /missing\.png$/ ? blankness : link_to(@source.ogg_preview.url, @source.ogg_preview.url) + " #{FileSize.new(@source.ogg_preview_file_size.to_i || 0)}"-%>
    </td>
  </tr>

  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="Verbose debug output from FFmpeg, including all the metadata it read. If it failed for any reason, the specifics of that should be kept here.">ffmpeg&nbsp;output</td>
    <td>
      <%= @source.ffmpeg_info.blank? ? blankness : "<pre>#{@source.ffmpeg_info}</pre>" -%>
    </td>
  </tr>

  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="Verbose debug output from cURL, including all the response headers it received. If the download 404ed, that should show up here.">curl&nbsp;output</td>
    <td>
      <%= @source.curl_info.blank? ? blankness : "<pre>#{@source.curl_info}</pre>" -%>
    </td>
  </tr>
</table>