<% javascript_include "jquery.flash", "video_preview" -%>

<h1>source</h1>

<% content_for :pagination do -%>
  <%= link_to "< Newer", info_source_url(@podcast, @newer.episode, @newer.id) if @newer %> 
  <%= @podcast.sources.sorted.index(@source) + 1 %> of <%= @podcast.sources.count -%> 
  <%= link_to "Older >", info_source_url(@podcast, @older.episode, @older.id) if @older %> 
<% end -%>

<%= render :partial => 'info/podcasts/info_source_table', :locals => {:options => {:source => @source}} -%>

<!-- Info: -->
<table>
  <tr>
    <td class="key" title="The ability version number of the site software that last parsed, downloaded, hashed, and opened this source">ability</td>
    <td>
      <%= @source.ability -%>
    </td>
  </tr>

  <tr>
    <td class="key" title="True if this episode is still in the feed, false if it's archived in the site after falling off the feed's end">archive</td>
    <td>
      <%= @source.archived -%>
    </td>
  </tr>

  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="The episode date and time according to the XML">xml&nbsp;date</td>
    <td>
      <%= relative_time @source.published_at -%>
    </td>
  </tr>

  <tr>
    <td class="key" title="When we first noticed this new episode in the feed">found&nbsp;date</td>
    <td>
      <%= relative_time @episode.created_at -%>
    </td>
  </tr>

  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="When this record was created">age</td>
    <td>
      <%= @source.created_at.blank? ? blankness : relative_time(@source.created_at) -%>
    </td>
  </tr>

  <tr>
    <td class="key" title="When this XML was downloaded and parsed">xml&nbsp;age</td>
    <td>
      <%= @source.downloaded_at.blank? ? blankness: relative_time(@source.downloaded_at) -%>
    </td>
  </tr>

  <tr>
    <td class="key" title="When the site downloaded, hashed, and opened this source">download&nbsp;age</td>
    <td>
      <%= @source.hashed_at.blank? ? blankness : relative_time(@source.hashed_at) -%>
    </td>
  </tr>
</table>

<!-- Media: -->
<%= render :partial => "info/sources/info_medias", :locals => {:sources => [@source]} %>
<table>
  <tr>
    <td class="key" title="The chosen extension for the user">extension&nbsp;result</td>
    <td>
      <%= non_blank @source.extension -%>
    </td>
  </tr>
  <tr>
    <td class="key" title="The result resolution for the user">resolution&nbsp;result</td>
    <td>
      <%= non_blank @source.resolution -%>
    </td>
  </tr>
  <tr>
    <td class="key" title="The SHA1 hash">hash&nbsp;result</td>
    <td>
      <%= non_blank @source.sha1hash -%>
    </td>
  </tr>
  <tr>
    <td class="key" title="The result frame rate for the user">frame&nbsp;rate&nbsp;result</td>
    <td>
      <%= non_blank @source.framerate -%>
    </td>
  </tr>
  <tr>
    <td class="key" title="The chosen download file name for the user">download&nbsp;file&nbsp;name&nbsp;result</td>
    <td>
      <%= non_blank @source.file_name -%>
    </td>
  </tr>

  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="The calculated and adjusted bitrate to show to the user">bitrate&nbsp;result</td>
    <td>
      <%= @source.bitrate == 0 ? blankness : @source.bitrate.to_bitrate.to_s -%>
    </td>
  </tr>

  <tr>
    <td class="key" title="The calculated size to show the user">size&nbsp;result</td>
    <td>
      <%= non_blank @source.size.to_file_size.to_s -%>
    </td>
  </tr>

  <tr>
    <td class="key" title="The chosen duration for the user">duration&nbsp;result</td>
    <td>
      <%= @source.duration. == 0 ? blankness : @source.duration.to_duration.to_s -%>
    </td>
  </tr>

  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="The calculated bitrate in bytes per second">bitrate&nbsp;exact</td>
    <td>
      <%= non_blank @podcast.bitrate -%>
    </td>
  </tr>

  <tr>
    <td class="key" title="The chosen size in bytes">size&nbsp;exact</td>
    <td>
      <%= non_blank @source.size -%>
    </td>
  </tr>

  <tr>
    <td class="key" title="The chosen duration in seconds">duration&nbsp;exact</td>
    <td>
      <%= non_blank @source.duration -%>
    </td>
  </tr>

  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="The enclosure size in bytes as parsed from the XML either of two places">xml&nbsp;size</td>
    <td>
      <%= non_blank @source.size_from_xml -%>
    </td>
  </tr>

  <tr>
    <td class="key" title="The enclosure size in bytes as seen on the disk">disk&nbsp;size</td>
    <td>
      <%= non_blank @source.size_from_disk -%>
    </td>
  </tr>

  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="The duration in seconds as parsed from the XML">xml&nbsp;duration</td>
    <td>
      <%= non_blank @source.duration_from_feed -%>
    </td>
  </tr>

  <tr>
    <td class="key" title="The duration in seconds according to FFmpeg">ffmpeg&nbsp;duration</td>
    <td>
      <%= non_blank @source.duration_from_ffmpeg -%>
    </td>
  </tr>

  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="The file extension in the XML">xml&nbsp;extension&nbsp;exact</td>
    <td>
      <%= non_blank @source.extension_from_feed -%>
    </td>
  </tr>

  <tr>
    <td class="key" title="The file extension in the XML">http&nbsp;extension</td>
    <td>
      <%= non_blank @source.extension_from_disk -%>
    </td>
  </tr>

  <tr>
    <td class="key" title="The extension of the file saved to disk">disk&nbsp;extension</td>
    <td>
      <%= non_blank @source.extension -%>
    </td>
  </tr>

  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="Verbose debug output from cURL, including all the response headers it received. If the download 404ed, that should show up here.">curl&nbsp;output</td>
    <td>
      <%= @source.curl_info.blank? ? blankness : "<pre>#{@source.curl_info}</pre>" -%>
    </td>
  </tr>

  <tr>
    <td class="key" title="Verbose debug output from FFmpeg, including all the metadata it read. If it failed for any reason, the specifics of that should be kept here.">ffmpeg&nbsp;output</td>
    <td>
      <%= @source.ffmpeg_info.blank? ? blankness : "<pre>#{@source.ffmpeg_info}</pre>" -%>
    </td>
  </tr>
</table>

<!-- Preview -->
<table>
  <tr>
    <td class="key" title="Flash player presenting the video or audio preview">preview</td>
    <td class="preview">
      <div>
    <% if @source.preview_type == 'video' -%>
      <%= render :partial => 'info/episodes/video_player', :object => @source -%>
    <% else -%>
      <%= render :partial => 'info/episodes/audio_player', :object => @source %>
    <% end -%>
      </div>
    </td>
  </tr>

  <tr>
    <td class="key" title="The video still image FFmpeg took from the episode shown inline">video still</td>
    <td>
    <%- if @source.screenshot? -%>
      <%= image_tag(@source.screenshot.url, {:rel => @source.preview.url, :alt => "#{@episode.title} cover art"}) -%>
    <%- else -%>
       <%= blankness -%>
    <%- end -%>
    </td>
  </tr>

  <tr>
    <td class="key" title="A link to the preview video FFmpeg clipped from the episode, and the file size">video&nbsp;preview</td>
    <td>
      <%= @source.preview.url =~ /missing\.png$/ ? blankness : link_to(@source.preview.url, @source.preview.url) + " #{FileSize.new(@source.preview_file_size.to_i || 0)}"-%>
    </td>
  </tr>

</table>

<!-- Text -->
<table>
  <tr>
    <td class="key" title="Episode title parsed and scrubbed from the XML">item&nbsp;title</td>
    <td>
      <%= non_blank @episode.title %>
    </td>
  </tr>

  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="Episode description sanitized and formatted to a single line of text for summary display. Runs multiple paragraphs together and doesn't allow links, formatting, or any other HTML.">item&nbsp;description&nbsp;line</td>
    <td>
      <%= non_blank line_description(@episode.summary), false %>
    </td>
  </tr>

  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="Episode description sanitized and formatted for page display. Allows multiple paragraphs and links, but removes HTML formatting.">item&nbsp;description&nbsp;page</td>
    <td class="shaded">
      <%= non_blank page_description(@episode.summary), false %>
    </td>
  </tr>

  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="The HTML behind item description page">item&nbsp;description&nbsp;page&nbsp;source</td>
    <td>
      <%= non_blank page_description(@episode.summary) %>
    </td>
  </tr>
</table>


<!-- XML -->
<% if @source.diagnostic_xml.blank? %>
  <%= blankness -%>
<% else %>
  <pre class="formatted-xml"><%=h @source.diagnostic_xml -%></pre>
<% end %>
