<% feed = info_line -%>
<tr class="feed">
  <td><%= "primary" if feed.primary? %></td>
  <td>
    <%= non_blank feed.formatted_bitrate -%>
    <%= non_blank feed.apparent_format -%>
  </td>
  <td>
    <%= info_feed_link(feed, false) -%>
  </td>
  <td><%= link_to info_user_link(feed.owner) %></td>
  <td><%= link_to info_user_link(feed.finder) %></td>
  <td><%= link_to "itunes", feed.itunes_link -%></td>
  <td><%= link_to "magnet", magnet_feed_url(feed.podcast, feed) -%></td>
  <td><%= link_to "torrent", torrent_feed_url(feed.podcast, feed) -%></td>
  <td><%= link_to feed.url -%></td>
</tr>
