<h1>Feed</h1>

<!-- Map -->
<table>
  <%= render :partial => 'info/feeds/info_source_table', :locals => {:options => {:feed => @feed}} -%>
</table>

<!-- Info -->
<table>
  <tr>
    <td>Maker</td>
    <td><%= @feed.podcast.owner.nil? ? blankness : link_to(@feed.podcast.owner.login, @feed.podcast.owner) -%></td>
  </tr>

  <tr>
    <td>RSS</td>
    <td><%= link_to(@feed.url) -%></td>
  </tr>

  <tr>
    <td>Magnet</td>
    <td><%= link_to(magnet_feed_url(@feed)) -%></td>
  </tr>

  <tr>
    <td>Torrent</td>
    <td><%= link_to(torrent_feed_url(@feed)) -%></td>
  </tr>

  <tr>
    <td>Ability</td>
    <td><%= non_blank @feed.ability -%></td>
  </tr>

  <tr>
    <td>Updated</td>
    <td><%= non_blank relative_time(@feed.updated_at) -%></td>
  </tr>

  <tr>
    <td>set iTunes</td>
    <td><%= non_blank @feed.itunes_link -%></td>
  </tr>
  
  <tr>
    <td>parsed iTunes</td>
    <td><%= "NOT IMPLEMENTED YET" -%></td>
  </tr>

  <tr>
    <td>Cover</td>
    <td>
    <% @feed.podcast.logo.styles.keys.each do |size| -%>
      <%= image_tag @feed.podcast.logo(size) -%>
    <% end -%>
    </td>
  </tr>

  <tr>
    <td>Title</td>
    <td><%= non_blank @feed.title -%></td>
  </tr>

  <tr>
    <td>Site</td>
    <td><%= link_to(@feed.podcast.site) -%></td>
  </tr>

  <tr>
    <td>Line Description</td>
    <td><%= non_blank format_with_paragraph_entity(sanitize_condensed_summary(@feed.description)) -%></td>
  </tr>

  <tr>
    <td>Page Description</td>
    <td><%= non_blank sanitize_summary(@feed.description) -%></td>
  </tr>

  <tr>
    <td>HTML Description</td>
    <td><%= non_blank sanitize_lightly(@feed.description) -%></td>
  </tr>
</table>

<!-- Tags -->
<ul>
<%- @feed.podcast.tags.without_badges.all.each do |t| -%>
  <li><%= t.name %></li>
<%- end -%>
</ul>

<!-- Sources -->
<ul>
  <% @feed.sources.each do |s| -%>
    <li><%= link_to s.episode.date_title, info_source_url(@feed.podcast, s.episode, s) -%></li>
  <% end -%>
</ul>

<!-- XML -->
<pre class="formatted-xml">
  <%= @feed_xml %>
</pre>

<!-- <h2>Torrent XML</h2> -->
<!-- <pre><%=h @feed.remixed_as_torrent -%></pre> -->

<!-- <h2>Magnet XML</h2> -->
<!-- <pre><%=h @feed.remixed_as_magnet -%></pre> -->
