<h1>Feed</h1>

<h2>Map</h2>
<%= render :partial => 'info/feeds/info_source_table', :locals => {:options => {:feed => @feed}} -%>

<h2>Info</h2>
<table>
  <tr>
    <td class="key" title="The user who makes this feed based on the current email address in the XML">makes</td>
    <td><%= info_user_link(@feed.owner) -%></td>
  </tr>

  <tr>
    <td class="key" title="The user who added this feed, if any">found</td>
    <td><%= info_user_link(@feed.finder) -%></td>
  </tr>

  <tr>
    <td class="key" title="Linked RSS address">rss</td>
    <td><%= link_to(@feed.url) -%></td>
  </tr>

  <tr>
    <td class="key" title="Link to LimeCast-produced feed remixed with magnet links">magnet</td>
    <td><%= link_to(magnet_feed_url(@feed.podcast, @feed)) -%></td>
  </tr>

  <tr>
    <td class="key" title="Link to LimeCast-produced feed remixed with torrents">torrent</td>
    <td><%= link_to(torrent_feed_url(@feed.podcast, @feed)) -%></td>
  </tr>

  <tr>
    <td class="key" title="The ability version number that downloaded and parsed this feed">ability</td>
    <td><%= non_blank @feed.ability -%></td>
  </tr>

  <tr>
    <td class="key" title="When the site last downloaded and parsed this feed">updated</td>
    <td><%= non_blank relative_time(@feed.updated_at) -%></td>
  </tr>

  <tr>
    <td class="key" title="iTunes ID set by the user in LimeCast Edit">set&nbsp;itunes</td>
    <td><%= non_blank @feed.itunes_link -%></td>
  </tr>
  
  <tr>
    <td class="key" title="iTunes ID parsed from a mention in the podcast description xml">parsed&nbsp;itunes</td>
    <td><%= "NOT IMPLEMENTED YET" -%></td>
  </tr>

  <tr>
    <td class="key" title="Cover art in all the different sizes shown inline">cover</td>
    <td>
    <% [:large, :small, :square, :icon, :thumb].each do |size| -%>
      <%= image_tag @feed.podcast.logo(size) -%>
    <% end -%>
    </td>
  </tr>

  <tr>
    <td class="key" title="The podcast title parsed from the XML of this feed">title</td>
    <td><%= non_blank @feed.title -%></td>
  </tr>

  <tr>
    <td class="key" title="Link anchor for the page, shortened and formatted, linked to the podcaster's website">site</td>
    <td><%= link_to(@feed.podcast.site) -%></td>
  </tr>

  <tr>
    <td class="key" title="Podcast description formatted to a single line of text for summary display. Combines multiple paragraphs and unlinks links.">line&nbsp;description</td>
    <td><%= non_blank format_with_paragraph_entity(sanitize_condensed_summary(@feed.description)) -%></td>
  </tr>

  <tr>
    <td class="key" title="Podcast description formatted for page display. Has multiple paragraphs and allows links.">page&nbsp;description</td>
    <td><%= non_blank sanitize_summary(@feed.description) -%></td>
  </tr>

  <tr>
    <td class="key" title="Podcast description taken from the XML, letting all but the most dangerous HTML through.">html&nbsp;description</td>
    <td><%= non_blank sanitize_lightly(@feed.description) -%></td>
  </tr>
</table>

<h2>XML</h2>
<pre class="formatted-xml">
  <%= @feed_xml %>
</pre>
