<p>
  <b>Summary:</b>
  <%=h @episode.summary %>
</p>

<p>
  <b>Published at:</b>
  <%=h @episode.published_at %>
</p>

<p>
  <b>Enclosure url:</b>
  <%=h @episode.enclosure_url %>
</p>

<p>
  <b>Created at:</b>
  <%=h @episode.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @episode.updated_at %>
</p>

<p>
  <b>Guid:</b>
  <%=h @episode.guid %>
</p>

<p>
  <b>Enclosure type:</b>
  <%=h @episode.enclosure_type %>
</p>

<p>
  <b>Duration:</b>
  <%=h @episode.duration %>
</p>

<p>
  <b>Title:</b>
  <%=h @episode.title %>
</p>


<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
