<% options ||= {} -%>
<% options[:show_rating] = true unless options.has_key?(:show_rating) -%>

<%= f.hidden_field :episode_id -%>

<% if options[:show_rating] -%>
<div class="align">
  <%= f.radio_button :positive, true, :checked => "checked" -%>
<label for="review_positive_true"><%= image_tag("icons/thumbs_up.png") -%>Positive</label>
  &nbsp;&nbsp;
  <%= f.radio_button :positive, false -%>
<label for="review_positive_false"><%= image_tag("icons/thumbs_down.png") -%>Negative</label>
</div>
<% end -%>

<div class="field">
  <label for="review_title" class="default">Title...</label>
  <div>
    <%= f.text_field :title, :class => 'text' -%>
  </div>
</div>

<div class="field">
  <label for="review_body" class="default">My review of <%= podcast.custom_title %>&hellip;</label>
  <div>
    <%= f.text_area :body, :class => "text#{ ' full' if options[:width] == 'full' }", :rows => '10' -%>
  </div>
</div>

<div class="controls">
  <input type="submit" value="Save"   class="button" />
  <input type="button" value="Cancel" class="button cancel" />
</div>
