<% options ||= {} -%>
<% podcast = review.podcast -%>

<% form_for review,
            :url => (review.new_record? ? reviews_url(:podcast_slug => podcast) : review_url(:podcast_slug => podcast, :id => review)),
            :html => {:class => "review_form"} do |f| -%>

  <p class="errors"></p>

  <p>
    <%= f.radio_button :positive, true, :class => 'radio', :checked => "checked", :id => "review_positive_true#{'_'+dom_id(review)}" -%>
    <%= f.label "positive_true#{'_'+dom_id(review)}", "Positive" %>

    <%= f.radio_button :positive, false, :class => 'radio', :id => "review_positive_false#{'_'+dom_id(review)}" -%>
    <%= f.label "positive_false#{'_'+dom_id(review)}", "Negative" %>

    <%= f.label :title, "Title..." %><br />
    <%= f.text_field :title, :size => 50 -%>

    <%= f.label :body, "My review of #{h podcast.title}..." %><br />
    <%= f.text_area :body, :rows => 4, :cols => 50 -%>
  </p>
  
  <button type="submit">Save</button>
  
  <%= link_to "cancel", "#", :class => 'cancel' if options[:cancel] -%>
<% end -%>
