<% options ||= {} -%>

<% form_for review, 
            :url => (review.new_record? ? reviews_url(:podcast_slug => podcast) : review_url(:podcast_slug => podcast, :id => review)), 
            :html => {:class => "review_form"} do |f| -%>
  <%= f.hidden_field :episode_id -%>

  <p class="errors" style="display: none"></p>

  <p>
    <strong>Mark as:</strong>

    <img src="/images/icons/thumbs_up.png" alt="Thumb's up"/>
    <%= f.radio_button :positive, true, :class => 'radio', :checked => "checked", :id => "review_positive_true_#{dom_id(review)}" -%>
    <label for="review_positive_true_<%= dom_id(review) -%>">Positive</label>

    <img src="/images/icons/thumbs_down.png" alt="Thumb's down"/>
    <%= f.radio_button :positive, false, :class => 'radio', :id => "review_positive_false_#{dom_id(review)}" -%>
    <label for="review_positive_false_<%= dom_id(review) -%>">Negative</label>

    <h6>Heading</h6>
    <%= f.text_field :title, :class => 'text', :size => 15, :id => "review_title_#{dom_id(review)}" -%>

    <h6>Your review of <%=h podcast.title %></h6>
    <div class="textarea">
    <%= f.text_area :body, :rows => 2, :cols => 20, :id => "review_body_#{dom_id(review)}" -%>
    </div>
  </p>
  <button type="submit">
    <span>Submit review</span>
  </button>
  
  <a href="#" class="cluetip_link" onclick="return false;" rel="#login_pop" style="visibility: hidden;"><!-- //--></a>

  <%= link_to "cancel", "#", :class => 'cancel' if options[:cancel] -%>
<% end -%>
