<% with_podcast ||= false -%>

<li id="<%=h dom_id(review) -%>" class="review <%= cycle('odd','even', :name => 'row_class') -%>">
  <div class="show">
    <%= link_to_podcast(review.episode.podcast) if with_podcast -%>

    <span class="title"><%= link_to_with_icon ("<span class=\"searched\">#{h review.title}</span>"), 
                                              (review.positive ? :thumbs_up : :thumbs_down), 
                                              review_url(:podcast => review.episode.podcast, :id => review.id), :title => 'permalink' -%></span>
    <span class="body searched"><%= format_with_paragraph_entity unescape_entities(review.body) -%></span>

    <% if @user.nil? -%>
      <cite><%= link_to_profile review.reviewer -%></cite>
    <% end -%>

    <span class="episode"><%= link_to review.episode.date_title, episode_url(review.episode.podcast, review.episode) -%></span>

    <%= render(:partial => 'reviews/modify_links', :object => review) -%>
    <%= render(:partial => 'reviews/rating_links', :object => review) -%>

  </div>

  <% unless current_user -%><div class="quick_signin_container after_rating"></div><% end -%>

  <% form_for review, :url => review_url(:podcast => review.episode.podcast, :id => review.id), :method => :post, :html => {:class => 'edit', :style => 'display: none;'} do |f| -%>
    <%= render :partial => 'reviews/form', :locals => {:f => f, :podcast => review.episode.podcast, :options => { :suffix => "_#{review.id}" }} -%>
  <% end -%>
</li>
