<li id="<%=h dom_id(review) -%>" class="review <%= review.positive? ? "positive" : "negative" %> clearfix">

  <div class="info">
    <cite><%= link_to_profile review.reviewer -%></cite>
    <span class="created_at light"><%= time_ago_in_words review.created_at %> ago</span>
    <a href="#" class="allreviews">See all my reviews</a>
  </div>

  <div class="summary">
    <span class="title"><%= link_to (@q ? search_excerpt(review.title, @q) : h(review.title)), 
                                              review_url(:podcast => review.episode.podcast, :id => review.id), :title => 'permalink' -%></span>
    <span class="body"><%= unescape_entities(review.body) -%></span>
    <div class="helpfulness">Did you find this review helpful?
      <div class="social">
        <ul>
            <li><a href="#"><span>Yes</span></a></li>
            <li><a href="#"><span>No</span></a></li>
 
        </ul>
      </div>
      
    </div>
  </div>


  <!-- some stuff from orig design, not sure if it's still going to be used yet //-->
  <% unless current_user -%><div class="quick_signin_container after_rating"></div><% end -%>
  <%#= render(:partial => 'reviews/modify_links', :object => review) -%>
  <%#= render(:partial => 'reviews/rating_links', :object => review) -%>
  <%# form_for review, :url => review_url(:podcast => review.episode.podcast, :id => review.id), :method => :post, :html => {:class => 'edit', :style => 'display: none;'} do |f| -%>
    <%#= render :partial => 'reviews/form', :locals => {:f => f, :podcast => review.episode.podcast, :options => { :suffix => "_#{review.id}" }} -%>
  <%# end -%>

</li>
