<% with_podcast ||= false -%>

<li id="<%=h dom_id(review) -%>" class="review <%= cycle('odd','even', :name => 'row_class') -%>">
  <div class="show">
    <%= link_to_podcast(review.episode.podcast) if with_podcast -%>

    <span class="title"><%= link_to_with_icon h(review.title), 
                                              (review.positive ? :thumbs_up : :thumbs_down), 
                                              review_url(:podcast => review.episode.podcast, :id => review.id), :title => 'permalink' -%></span>
    <span class="body"><%= format_with_paragraph_entity review.body -%></span>

    <% if @user.nil? -%>
      <cite><%= link_to_profile review.reviewer -%></cite>
    <% end -%>

    <span class="episode"><%= link_to review.episode.date_title, episode_url(review.episode.podcast, review.episode) -%></span>

    <%= render(:partial => 'reviews/modify_links', :object => review) -%>
    <%= render(:partial => 'reviews/rating_links', :object => review) -%>

    <%= render :partial => 'users/quick_signin', :locals => {:options => {:suffix => "after_rating_#{review.id}"}} -%>
  </div>

  <% form_for review, :url => reviews_url(:podcast => review.episode.podcast), :method => :post, :html => {:class => 'edit', :style => 'display: none;'} do |f| -%>
    <%= render :partial => 'reviews/form', :locals => {:f => f, :podcast => review.episode.podcast} -%>
  <% end -%>
</li>
