<li id="<%= dom_id review %>" class="review <%= review.positive? ? "positive" : "negative" %>">
  <div class="details">
    <%= link_to review.podcast.title, podcast_url(review.podcast) unless review.podcast.nil? || @podcast %>
    <h5><%= unescape_entities review.title %></h5> 
    <%= unescape_entities review.body %>
    <%= "by #{link_to review.reviewer.login, user_url(review.reviewer)}" %> 
    <%= "on #{review.created_at.to_date.to_s}" %> 
  </div>

  <% if editable && editable != false -%>
  <div>
    <% if current_user && review.writable_by?(current_user) -%>
    <%= link_to "Edit", edit_podcast_url(@podcast), :class => "edit" %> / 
    <%= link_to "Delete", review_url(@podcast, review), :class => "delete" %> ,
    <% end -%>

    <%= link_to "Insightful", rate_review_url(:podcast_slug => review.podcast.to_param, :id => review, :rating => 'insightful'), :class => 'rate insightful login' -%> / 
    <%= link_to "Not Insightful", rate_review_url(:podcast_slug => review.podcast.to_param, :id => review, :rating => 'not_insightful'), :class => 'rate not_insightful login' -%>
  </div>

  <%= render :partial => 'reviews/form', 
             :locals => { :options => {:cancel => true}, 
                          :review => review} if current_user && review.writable_by?(current_user) %>
  <% end -%>
</li>
