<%- with_podcast_reference = false if with_podcast_reference.nil? -%>
<%- with_helpfulness       = true if with_helpfulness.nil? -%>

<li class="<%= cycle "odd", "even" -%> review <%= review.positive? ? "positive" : "negative" %> clearfix">
  <%- if with_podcast_reference -%>
    <h3>Left for <%= link_to_podcast(review.episode.podcast) -%></h3>
  <%- end -%>


  <div class="summary">
    <span class="title"><%= review.title -%></span>
    <span class="info light"><%= review_by_line(review) -%></span>
    <span class="body"><p><%= unescape_entities(review.body) -%></p></span>
    <%= render :partial => "reviews/helpfulness", :object => review if with_helpfulness -%>
  </div>

</li>

