<% with_podcast_reference ||= false -%>

<li id="<%=h dom_id(review) -%>" class="<%= cycle "odd", "even" -%> review <%= review.positive? ? "positive" : "negative" %> clearfix">
  <%- if with_podcast_reference -%>
    <h3>Left for <%= link_to review.episode.podcast.title, podcast_url(:podcast_slug => review.episode.podcast) -%></h3>
  <%- end -%>




    <span class="title"><%= review.title -%></span>
    <span class="info light">Written by <%= link_to_profile review.reviewer -%> <%= time_ago_in_words review.created_at %> ago</span>
    <p><%= unescape_entities(review.body) -%></p>
    <div class="helpfulness">Did you find this review helpful?</div>
      <div class="social">
        <ul>
          <li><%= link_to "<span>Yes</span> (#{review.insightful})", rate_review_url(:podcast_slug => review.episode.podcast.to_param, :id => review, :rating => 'insightful'), :class => 'rate insightful login', :rel => review.id -%></li>
          <li><%= link_to "<span>No</span> (#{review.not_insightful})", rate_review_url(:podcast_slug => review.episode.podcast.to_param, :id => review, :rating => 'not_insightful'), :class => 'rate not_insightful login', :rel => review.id -%></li>
        </ul>
      </div>
    


</li>

