<% episode ||= podcast.episodes.newest.first -%>

<div class="reviews list">
  <h2>Reviews <span>(<%= @podcast.reviews.count %>)</span></h2>

  <div id="r_view">
    <p>
      <span class="linkable current">
        <%= link_to "All (#{reviews.count})", "#podcast_reviews", :class => "all", :rel => "all" %>
        <span class="all">All (<%= reviews.count(:select => "*") -%>)</span>
      </span>
      <span class="linkable">
        <%= link_to "Positive (#{reviews.that_are_positive.count})", "#podcast_reviews", :class => "positive", :rel => "positive" %>
        <span class="positive">Positive (<%= reviews.that_are_positive.count(:select => "*") -%>)</span>
      </span>
      <span class="linkable">
        <%= link_to "Negative (#{reviews.that_are_negative.count})", "#podcast_reviews", :class => "negative", :rel => "negative" %>
        <span class="negative">Negative (<%= reviews.that_are_negative.count(:select => "*") -%>)</span>
      </span>
    </p>
  </div>
  <ul class="reviews">
    <%= render :partial => 'reviews/review', :collection => reviews.reverse, :locals => {:editable => true} -%>
  </ul>
  <div class="quick_signin_container after_adding_review"></div>
  <div id="review_doit">
    <% if can_add_reviews?(episode) %>
      <%= render :partial => 'reviews/add_review', :object => podcast -%>
    <% end %>
  </div> 

</div><!-- /s_reviews -->

