  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title, :value => @podcast.title %>
  </p>
  <p>
    <%= f.label :site %><br />
    <%= f.text_field :site, :value => @podcast.site %>
  </p>
  <p>
    <%= f.label :feed_url %><br />
    <%= f.text_field :feed_url, :value => @podcast.feed_url %>
  </p>
  <p>
    <%= f.label :feed_etag %><br />
    <%= f.text_field :feed_etag, :value => @podcast.feed_etag %>
  </p>
  <p>
    <%= f.label :language %><br />
    <%= f.text_field :language, :value => @podcast.language %>
  </p>
  <p>
    <%= f.label :itunes_link %><br />
    <%= f.text_field :itunes_link, :value => @podcast.itunes_link %>
  </p>
  <p>
    <%= f.label :logo_link %><br />
    <%= f.text_field :logo_link, :value => @podcast.logo_link %>
  or
    <%= f.file_field :logo -%>
  </p>
  <p>
    Choose a main tag:
    <% Tag.find_all_by_special(true).each do |tag| %>
      <span onclick="$('podcast_tag_list').value += ' <%= tag.name -%>'>
        <%= @tag.name -%>
      </span>
    <% end %>
  </p>
  <p>
    <%= f.label :tag_list -%><br />
    <%= f.text_field :tag_list -%>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :value => @podcast.description, :cols => 26, :rows => 10 %>
  </p>
