<h1>Editing podcast</h1>

<% form_for(@podcast, :url => admin_podcast_path(@podcast.id)) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'admin/podcasts/form', :locals => {:f => f} -%>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', admin_podcast_path(@podcast.id) %> |
<%= link_to 'Back', admin_podcasts_path %>
