<p id="podcast_edit_tags_link"><%= link_to "(edit)", "#" %></p>

<div id="podcast_edit_tags" style="display: none;">
  <ul class="tags"><%= podcast.tags.badges.map { |tag| "<li>#{link_to h(tag.name), tag_url(tag)}</li>" }.join(' ') -%></ul>

  <h6>Unclaimed Tags</h6>
  <ul class="tags"><%= podcast.unclaimed_taggings.empty? ? "<li>none</li>" : podcast.unclaimed_taggings.map { |t| 
      "<li>#{link_to h(t.tag.name), tag_url(t.tag)}</li>" 
    }.join(' ') -%></ul>

  <% podcast.taggers.each do |editor| -%>
  <h6>Tags from <%= link_to_profile(editor) %></h6>
  <ul class="tags"><%= editor.taggings.empty? ? "<li>none</li>" : editor.user_taggings.for_podcast(podcast).map { |ut| 
      "<li>#{link_to h(ut.tag.name), tag_url(ut.tag)}
           #{link_to('✘', ut, :class => 'delete', :style => 'color:red;font-size:1.2em;') if ut.writable_by?(current_user)}</li>" 
    }.join(' ') -%></ul>
  <% end -%>

  <br /><br />
  <p><%= link_to "(cancel)", "#", :id => "podcast_tags_link" %></p>
</div>
