  <div class="field">
    <%= podcast_form.label :custom_title, "Title" -%>
    <%= podcast_form.text_field :custom_title, :class => "text" -%>
  </div>  
  <br />
  
  <% podcast_form.fields_for :feeds do |feed_form| %>
    <% feed = feed_form.object -%>
    <fieldset>
      <div class="feed_details">
        <%= feed.formatted_bitrate -%> 
        <%= feed.apparent_format %> 
        <%= link_to feed.url %>
      </div>
      <div class="field">
        <%= feed_form.label :itunes_link, "iTunes ID" -%>
        <%= feed_form.text_field :itunes_link, :value => (feed.itunes_link.split("?id=").last if feed.itunes_link), :size => 10 -%>
      </div>
      <div class="field">
        <%= podcast_form.radio_button :primary_feed_id, feed.id %>
        <%= podcast_form.label "primary_feed_id_#{feed.id}", "Primary" %>
      </div>
      <% unless feed.new_record? %>
        <div>
          <%= feed_form.check_box :_delete %>
          <%= feed_form.label :_delete, 'Remove' %>
        </div>
      <% end %>
    </fieldset>

  <% end -%>
