<% podcast = podcast_form.object %>

<div class="field">
  <%= podcast_form.label :custom_title, "<strong>Custom Title</strong>" -%>
  <%= podcast_form.text_field :custom_title, :class => "text" -%>
  <span class="note">Changing the custom title also changes the URL of this page</span>
  <%= errors_for podcast, :custom_title %>
</div>  
<div class="field">
  <%= podcast_form.label :itunes_link, "<strong>iTunes</strong>" -%>
  <%= podcast_form.text_field :itunes_link, :class => "text" -%>
  <span class="note">Enter the iTunes podcast ID like 123456789 to link to it in iTunes<span>
</div>

<div class="field">
  <%= podcast_form.check_box :protected %>
  <%= podcast_form.label :protected, "Only let the maker edit" %>
</div>
<div class="field">
  <%= podcast_form.check_box :_delete %>
  <%= podcast_form.label :_delete, 'Delete podcast' %>
</div>
