<% podcast = podcast_form.object %>

<div class="field">
  <%= podcast_form.label :title, "<strong>Title</strong>" -%>
  <%= podcast_form.text_field :title, :class => "text" -%>
  <span class="note">Changing the title also changes the URL of this page</span>
  <%= errors_for podcast, :title %>
</div>  
<div class="field">
  <%= podcast_form.check_box :protected %>
  <%= podcast_form.label :protected, "Only let the maker edit" %>
</div>
<div class="field">
  <%= podcast_form.check_box :has_previews %>
  <%= podcast_form.label :has_previews, "Preview episodes" %>
</div>
<div class="field">
  <%= podcast_form.check_box :has_p2p_acceleration %>
  <%= podcast_form.label :has_p2p_acceleration, "Enable P2P acceleration" %>
</div>
<div class="field">
  <%= podcast_form.check_box :_delete %>
  <%= podcast_form.label :_delete, 'Delete podcast' %>
</div>
