<%= podcast = podcast_form.object %>

<div class="field">
  <%= podcast_form.label :title, "Title" -%>
  <%= podcast_form.text_field :title, :class => "text" -%>
  <%= errors_for podcast, :title %>
</div>  
<div class="field">
  <%= podcast_form.check_box :has_previews %>
  <%= podcast_form.label :has_previews, "Preview episodes" %>
</div>
<div class="field">
  <%= podcast_form.check_box :has_p2p_acceleration %>
  <%= podcast_form.label :has_p2p_acceleration, "Enable P2P acceleration" %>
</div>
<div class="field">
  <%= podcast_form.check_box :_delete %>
  <%= podcast_form.label :_delete, 'Delete podcast' %>
</div>

<br />
<h4>All Tags</h4>
<ul class="tags"><%= podcast.tags.without_badges.map { |tag| "<li>#{link_to h(tag.name), tag_url(tag)}</li>" }.join(' ') -%></ul>

<% podcast.taggers.each do |editor| -%>
<h4>Tags from <%= link_to_profile(editor) %></h4>
<ul class="tags"><%= editor.taggings.empty? ? "<li>none</li>" : editor.user_taggings.for_podcast(podcast).map { |ut| 
    "<li>#{link_to h(ut.tag.name), tag_url(ut.tag)} #{link_to '✘', ut, :class => 'delete', :style => 'color:red;font-size:1.2em;'}</li>" 
  }.join(' ') -%></ul>
<% end -%>

<br />
<h4>Badge</h4>
<ul class="tags"><%= podcast.tags.badges.map { |badge| "<li>#{link_to h(badge.name), tag_url(badge)}</li>" }.join(' ') -%></ul>

<br />
<h4>Feeds</h4>
<% podcast_form.fields_for :feeds do |feed_form| %>
  <% feed = feed_form.object -%>

  <% unless feed.new_record? -%>
  <fieldset>
    <div class="feed_details">
      <strong><%= feed.formatted_bitrate -%> 
      <%= feed.apparent_format %> </strong>
      <%= link_to feed.url, feed.url %>
    </div>
    <div class="field">
      <%= feed_form.label :itunes_link, "iTunes ID" -%>
      <%= feed_form.text_field :itunes_link, :value => (feed.itunes_link.split("?id=").last if feed.itunes_link), :size => 10 -%>
    </div>
    <% unless podcast.feeds.count < 2 -%>
    <div class="field">
      <%= podcast_form.radio_button :primary_feed_id, feed.id %>
      <%= podcast_form.label "primary_feed_id_#{feed.id}", "Primary" %>
    </div>
    <div>
      <%= feed_form.check_box :_delete %>
      <%= feed_form.label :_delete, 'Remove' %>
    </div>
    <% end -%>
  </fieldset>
  <% end -%>
<% end -%>

<% podcast_form.fields_for :feeds, (podcast.feeds.to_a.find(&:new_record?) || Feed.new) do |new_feed_form| -%>
<br />
<div class="field">
  <%= new_feed_form.label :url, "Add the RSS feed of this podcast in another format..." %>
  <%= new_feed_form.text_field :url, :class => "new_podcast_feed_url", :size => 40 %>
  <%= errors_for new_feed_form.object, :url %>
</div>
<% end -%>
