<% @podcast.feeds.build # build a new one so we can include a new Feed in our form %>

<div class="field">
  <%= podcast_form.label :custom_title, "Title" -%>
  <%= podcast_form.text_field :custom_title, :class => "text" -%>
  <%= errors_for podcast_form.object, :custom_title %>
</div>  
<div class="field">
  <%= podcast_form.check_box :has_previews %>
  <%= podcast_form.label :has_previews, "Preview episodes" %>
</div>
<div class="field">
  <%= podcast_form.check_box :has_p2p_acceleration %>
  <%= podcast_form.label :has_p2p_acceleration, "Enable P2P acceleration" %>
</div>
<div class="field">
  <%= podcast_form.check_box :_delete %>
  <%= podcast_form.label :_delete, 'Delete podcast' %>
</div>
<br />
<h4>Feeds</h4>

<% podcast_form.fields_for :feeds do |feed_form| %>
  <% feed = feed_form.object -%>

  <fieldset>
  <% if feed.new_record? -%>
    <br />
    <div class="field">
      <%= feed_form.label :url, "Add the RSS feed of this podcast in another format..." %>
      <%= feed_form.text_field :url, :class => "new_podcast_feed_url", :size => 40 %>
    </div>
  <% else -%>
    <div class="feed_details">
      <strong><%= feed.formatted_bitrate -%> 
      <%= feed.apparent_format %> </strong>
      <%= link_to feed.url %>
    </div>
    <div class="field">
      <%= feed_form.label :itunes_link, "iTunes ID" -%>
      <%= feed_form.text_field :itunes_link, :value => (feed.itunes_link.split("?id=").last if feed.itunes_link), :size => 10 -%>
    </div>
   <% unless podcast_form.object.feeds.count < 2 -%>
    <div class="field">
      <%= podcast_form.radio_button :primary_feed_id, feed.id %>
      <%= podcast_form.label "primary_feed_id_#{feed.id}", "Primary" %>
    </div>
    <div>
      <%= feed_form.check_box :_delete %>
      <%= feed_form.label :_delete, 'Remove' %>
    </div>
  <% end -%>
  <% end -%>
  </fieldset>
<% end -%>

<% @podcast.feeds.reject { |f| f.new_record? } # and destroy the new feed we used as a dummy -%>