<%- show_favorite = false if show_favorite.nil? -%>

<div class="podcast_block">
  <div class="preview">
    <%= display_cover_art(podcast) -%>
  </div>

  <div class="description">
    <h3><%= link_to_podcast(podcast) -%></h3>
    <p><%= truncated_text sanitize_condensed_summary(podcast.description), 100 -%></p>

    <%= render :partial => "tags/tags", :object => podcast.tags -%>
    <%= render :partial => "podcasts/social", :locals => {:podcast => podcast} -%>

    <%= render :partial => "podcasts/favorite", :locals => {:podcast => podcast} if show_favorite -%>

  </div>
</div>
