<%- show_remove_favorite = true if show_remove_favorite.nil? -%>
<%- show_marked_as_favorite = true if show_marked_as_favorite.nil? -%>

<div class="podcast_block">
  <div class="preview">
    <%= image_tag(cover_art(podcast), :alt => "#{podcast.title} cover art", :class => "logo") -%>
  </div>

  <div class="description">
     
    <h3><%= link_to podcast.title, podcast_url(:podcast_slug => podcast.clean_url), :title => "Subscribe to the series & view the episode list" -%></h3>
    <p>
      <%= truncated_text unescape_entities(h(podcast.description)), 110 -%>
    </p>
    <h6>Tags:</h6>
    <ul>
      <%= comma_separated_list_items(podcast.tags.map {|tag| link_to(tag.name, tag_url(:tag => tag.name)) }) -%>
    </ul>
    
    <%= render :partial => "podcasts/social", :locals => {:podcast => podcast} -%>
    <%= render :partial => "podcasts/favorite", :locals => {:podcast => podcast, :show_remove_favorite => show_remove_favorite, :show_marked_as_favorite => show_marked_as_favorite} -%>
  </div>
</div>
