<div id="subscribe" class="itunes_feed">
  <div>
    <a href="#">
      <h2>Subscribe</h2>
      <p>iTunes <span>(Qt - small)</span></p>
    </a>
  </div>
 
</div>

<a href="#" class="options" id="s_options_toggle">Change subscription options</a>

<div id="subscribe_options_container" class="rounded_corners clearfix" style="display: none">
  <% rounded_corners do -%>
  <script type="text/javascript">
      $(function() {
        $('#subscribe_options').tabs({
          fxFade: true,
          fxSpeed: 'fast'
        });
      });

    $(function(){
      function read_cookie(){
        var id = $.cookie('podcast_' + PODCAST_ID + '_subscription');
        return id;
      }

      function update_cookie(id){
        $.cookie('podcast_' + PODCAST_ID + '_subscription', id);
      }

      function update_subscribe_button(link){
        var url  = link.attr('href');
        var type = link.parents('div').attr('id');
        var info = link.parents('li').find('p').text() + " - " + link.text();

        $("#subscribe a").attr("href", url);
        $("#subscribe p").html(type + " <span>(" + info + ")</span>");
        $("#subscribe").attr("class", type + "_feed");
      }

      function update_selected_link(link){
        $("#subscribe_options .pane a").removeClass("circle");
        link.addClass("circle");
      }

      var default_link = "#rss a.primary";
      var name = read_cookie() || default_link;
      var link = $(name);
      if( link.length != 1 ) {
        link = $(default_link);
      }
      update_subscribe_button(link);
      update_selected_link(link);
     
                        if(name.match(/miro/)) {
        $('#subscribe_options').triggerTab(2);
                        } else if(name.match(/rss/)) {
        $('#subscribe_options').triggerTab(3);
                        }

      $("#subscribe_options .pane a").map(function(){
        $(this).click(function(){
          update_subscribe_button($(this));
          update_selected_link($(this));

          update_cookie("#" + $(this).attr('id'));

          $("#subscribe_options_container").slideUp("fast");
          $("#s_options_toggle").toggle();

          return false;
        });
      });
    });

    PODCAST_ID = <%= @podcast.id -%>;
  </script>  
  

  <div id="subscribe_options">
      <ul>
        <li<%= ' class="disabled"' if @podcast.feeds.with_itunes_link.empty? -%>><a href="#itunes" class="itunes"><span>iTunes</span></a></li>
        <li><a href="#miro" class="miro"><span>miro</span></a></li>
        <li><a href="#rss" class="rss"><span>RSS</span></a></li>
      </ul>
    
      <div id="itunes" class="pane">
        <%= render :partial => "subscribe_pane", :locals => {:feeds => @podcast.feeds.with_itunes_link, :type => "itunes", :url => lambda {|f| "http://www.itunes.com/podcast?id=#{feed.itunes_link}" } } -%>
        <p class="info">340x240 - 1.6mg bitrate</p>
      </div>
    
      <div id="miro" class="pane">
        <%= render :partial => "subscribe_pane", :locals => {:feeds => @podcast.feeds, :type => "miro", :url => lambda {|f| "http://subscribe.getmiro.com/?url1=#{f.url}" } } -%>
        <p class="info">340x240 - 1.6mg bitrate</p>
      </div>
    
      <div id="rss" class="pane">
        <%= render :partial => "subscribe_pane", :locals => {:feeds => @podcast.feeds, :type => "rss", :url => lambda {|f| f.url } } -%>
        <p class="info">340x240 - 1.6mg bitrate</p>
      </div>
  </div>

  <% end -%>
  

</div>


