<div id="subscribe" class="itunes_feed">
  <div>
    <a href="#">
      <h2>Subscribe</h2>
      <p>iTunes <span>(Qt - small)</span></p>
    </a>
  </div>
 
</div>

<a href="#" class="options" id="s_options_toggle">Change subscription options</a>

<div id="subscribe_options_container" class="clearfix" style="display: none">
  <script type="text/javascript">
      $(function() {
          $('#subscribe_options').tabs({
            fxFade: true,
            fxSpeed: 'fast'
          });

      });

    $(function(){
      function update_cookies(url, type, info){
        $.cookie('podcast_' + PODCAST_ID + '_subscription_url', url);
        $.cookie('podcast_' + PODCAST_ID + '_subscription_type', type);
        $.cookie('podcast_' + PODCAST_ID + '_subscription_info', info);
      }

      function update_subcribe_button(url, type, info){
        $("#subscribe a").attr("href", url);
        $("#subscribe p").html(type + " <span>(" + info + ")</span>");
        $("#subscribe").attr("class", type + "_feed");
      }

      $("#subscribe_options .pane a").map(function(){
        $(this).click(function(){
          var url  = $(this).attr('href');
          var type = $(this).parents('div').attr('id');
          var info = $(this).parents('li').find('p').text() + " - " + $(this).text();

          update_cookies(url, type, info);
          update_subcribe_button(url, type, info);

          return false;
        });
      });
    });

    PODCAST_ID = <%= @podcast.id -%>;
  </script>  
  

  <div id="subscribe_options" class="rounded_corners">
    <% rounded_corners do -%>
    <ul>
      <li<%= ' class="disabled"' if @podcast.feeds.with_itunes_link.empty? -%>><a href="#itunes" class="itunes"><span>iTunes</span></a></li>
      <li><a href="#miro" class="miro"><span>miro</span></a></li>
      <li><a href="#rss" class="rss"><span>RSS</span></a></li>
    </ul>
    
    <div id="itunes" class="pane">
      <%= render :partial => "subscribe_pane", :locals => {:feeds => @podcast.feeds.with_itunes_link, :url => lambda {|f| "http://www.itunes.com/podcast?id=#{feed.itunes_link}" } } -%>
      <p class="info">340x240 - 1.6mg bitrate</p>
    </div>
    
    <div id="miro" class="pane">
      <%= render :partial => "subscribe_pane", :locals => {:feeds => @podcast.feeds, :url => lambda {|f| "http://subscribe.getmiro.com/?url1=#{f.url}" } } -%>
      <p class="info">340x240 - 1.6mg bitrate</p>
    </div>
    
    <div id="rss" class="pane selected">
      <%= render :partial => "subscribe_pane", :locals => {:feeds => @podcast.feeds, :url => lambda {|f| f.url } } -%>
      <p class="info">340x240 - 1.6mg bitrate</p>
    </div>
    <% end -%>
  </div>

</div>



