<div id="subscribe" class="itunes_feed">
  <div>
    <a href="#">
      <h2>Subscribe</h2>
      <p>iTunes <span>(Qt - small)</span></p>
    </a>
  </div>
 
</div>

<a href="#" class="options" id="s_options_toggle">Change subscription options</a>

<div id="subscribe_options_container" class="clearfix" style="display: none">
  <script type="text/javascript">
      $(function() {
                                        $('#subscribe_options').tabs({
            fxFade: true,
            fxSpeed: 'fast'
          });

      });

    $(function(){
      function read_cookie(){
        return $.cookie('podcast_' + PODCAST_ID + '_subscription');
      }

      function update_cookie(id){
        $.cookie('podcast_' + PODCAST_ID + '_subscription', id);
      }

      function update_subscribe_button(link){
        var url  = link.attr('href');
        var type = link.parents('div').attr('id');
        var info = link.parents('li').find('p').text() + " - " + link.text();

                                $("#subscribe")
                                  .attr("class", type + "_feed")
          .find("a")
                                          .attr("href", url)
                                        .end()
                                        .find("p")
                                          .html(type + " <span>(" + info + ")</span>");
        //$("#subscribe a").attr("href", url);
        //$("#subscribe p").html(type + " <span>(" + info + ")</span>");
        //$("#subscribe").attr("class", type + "_feed");
      }

      function update_selected_link(link){
        $("#subscribe_options .pane a").removeClass("circle");
        link.addClass("circle");
      }

      var link = $(read_cookie());
                        if( link.length != 1 ) {
                                link = $("a.primary");
                        }
      update_subscribe_button(link);
      update_selected_link(link);


      $("#subscribe_options .pane a").map(function(){
        $(this).click(function(){
          update_subscribe_button(url, type, info);
          update_selected_link($(this));

          $("#subscribe_options_container").slideUp("fast");
          $("#s_options_toggle").toggle();

          return false;
        });
      });
    });

    PODCAST_ID = <%= @podcast.id -%>;
  </script>  
  

  <div id="subscribe_options" class="rounded_corners">
    <% rounded_corners do -%>
    <ul>
      <li<%= ' class="disabled"' if @podcast.feeds.with_itunes_link.empty? -%>><a href="#itunes" class="itunes"><span>iTunes</span></a></li>
      <li><a href="#miro" class="miro"><span>miro</span></a></li>
      <li><a href="#rss" class="rss"><span>RSS</span></a></li>
    </ul>
    
    <div id="itunes" class="pane">
      <%= render :partial => "subscribe_pane", :locals => {:feeds => @podcast.feeds.with_itunes_link, :url => lambda {|f| "http://www.itunes.com/podcast?id=#{feed.itunes_link}" } } -%>
      <p class="info">340x240 - 1.6mg bitrate</p>
    </div>
    
    <div id="miro" class="pane">
      <%= render :partial => "subscribe_pane", :locals => {:feeds => @podcast.feeds, :url => lambda {|f| "http://subscribe.getmiro.com/?url1=#{f.url}" } } -%>
      <p class="info">340x240 - 1.6mg bitrate</p>
    </div>
    
    <div id="rss" class="pane selected">
      <%= render :partial => "subscribe_pane", :locals => {:feeds => @podcast.feeds, :url => lambda {|f| f.url } } -%>
      <p class="info">340x240 - 1.6mg bitrate</p>
    </div>
    <% end -%>
  </div>

</div>


