
<span class="delivery_method">
  <p>Choose your delivery method:</p>
  <input class="radio" id="web" name="download" type="radio" value="Web" checked="checked" /><label for="web">Web</label>
  <input class="radio" id="torrent" name="download" type="radio" value="Torrent" /><label for="torrent">Torrent</label>
  <input class="radio" id="magnet" name="download" type="radio" value="Magnet" /><label for="magnet">Magnet</label>
</span>

<ul class="v_options_list web">
  <li>
    <p><%= podcasts_label_from_format(podcast.format) -%></p>
    <span class="v_options">
      <% delimited_items([podcast], "|") do |podcast, delimiter| -%>
        <%= link_to_podcast_size(podcast, "rss") {|p| p.url } -%>
        <%= delimiter -%>
      <% end %>
    </span>
  </li>
</ul>

<ul class="v_options_list torrent">
  <li>
    <p><%= podcasts_label_from_format(podcast.format) -%></p>
    <span class="v_options">
      <% delimited_items([podcast], "|") do |podcast, delimiter| -%>
        <%= link_to_podcast_size(podcast, "rss_torrent") {|p| torrent_feed_url(p.id) } -%>
        <%= delimiter -%>
      <% end %>
    </span>
  </li>
</ul>

<ul class="v_options_list magnet">
  <li>
    <p><%= podcasts_label_from_format(podcast.format) -%></p>
    <span class="v_options">
      <% delimited_items([podcast], "|") do |podcast, delimiter| -%>
        <%= link_to_podcast_size(podcast, "rss_magnet") {|p| magnet_feed_url(p.id) } -%>
        <%= delimiter -%>
      <% end %>
    </span>
  </li>
</ul>

