<%= render :partial => 'podcasts/edit' if current_user && @podcast.writable_by?(current_user) %>

<h1><%=h @podcast.title %></h1>
<h6 id="page_type">PODCAST SERIES</h6>





<div class="podcast_block">
  
  <div class="preview">
    <%= image_tag(cover_art(@podcast), :alt => "#{@podcast.title} cover art", :class => "logo") -%>
  </div>
  <div class="description">
     
    <h4>About this podcast</h4>
    <p>
      <%= link_to(h(@podcast.clean_site), h(@podcast.site)) + " &ndash; " unless @podcast.clean_site.blank? %> 
      <%= (link_to("iTunes", "http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=#{@podcast.primary_feed.itunes_link}", :class => "itunes", :title => "View #{@podcast.title} in iTunes") + " &ndash; ") if @podcast.primary_feed && !@podcast.primary_feed.itunes_link.blank? -%>
      <%= unescape_entities h(@podcast.description) -%>
    </p>
    <h6>Tags:</h6>
    <ul>
      <%= comma_separated_list_items(@podcast.tags.map {|tag| link_to(tag.name, tag_url(:tag => tag.name)) }) -%>
    </ul>
    	<%= render :partial => "podcasts/favorite", :locals => {:podcast => @podcast, :show_add_favorite => false, :show_remove_favorite => false, :show_marked_as_favorite => false} -%>
   <%= render :partial => "podcasts/social", :locals => {:podcast => @podcast} -%>
  </div>

  
  
  <div id="podcast_block_bottom">
  </div>
	
	
	

</div>

<%= render :partial => "podcasts/subscribe" -%>




<div class="favorite_cont">
  <% if @podcast.is_favorite_of?(current_user) -%>
    <%= link_to "Marked as favorite", user_url(current_user, :anchor => "profile_favorites"), :class => "calloutlight", :title => "Go to your favorites" %>
  <% else -%>
    <div class="addit"><ul><li><%= link_to 'Add to favorites', favorite_podcast_url(:podcast_slug => @podcast.clean_url), :class => "favorite_link" -%></li></ul></div>
  <% end -%>
  <% unless current_user -%><div class="quick_signin_container after_favoriting"></div><% end -%>
</div>

