<%= render :partial => 'podcasts/edit' if current_user && @podcast.writable_by?(current_user) %>

<h1><%=h @podcast.title %></h1>
<h6 id="page_type">PODCAST SERIES</h6>

<div class="podcast_block">
  
  <div class="preview">
    <%= display_cover_art(@podcast) -%>
  </div>

  <div class="description">
    <h4>About this podcast</h4>
    <p>
      <%= link_to_podcast_home(@podcast) + " &ndash; " unless @podcast.clean_site.blank? %> 
      <%= link_to_itunes(@podcast.primary_feed) + " &ndash; " if @podcast.primary_feed && !@podcast.primary_feed.itunes_link.blank? -%>
      <%= truncated_text unescape_entities(h(@podcast.description)), 110 -%>
    </p>
    <%= render :partial => "tags/tags", :object => @podcast.tags -%>
    <%= render :partial => "podcasts/social", :locals => {:podcast => @podcast} -%>
  </div>
  
  <div id="podcast_block_bottom"></div>
</div>

<%= render :partial => "podcasts/subscribe" -%>

<div class="favorite_cont">
  <ul>
    <li><%= render :partial => "podcasts/favorite", :locals => {:podcast => @podcast, :show_remove => false} -%></li>
    <li><a href="#podcast_reviews" id="comment_link"><%= @podcast.reviews.count %> reviews</a></li>
    <li><a href="#review_doit" id="comment_add">Leave a review</a></li>
  </ul>
</div>

