<%= render :partial => 'podcasts/edit' if current_user %>

<h1><%=h @podcast.custom_title %></h1>
<h6 id="page_type">VIDEO PODCAST SERIES</h6>

<div class="preview">
  <%= image_tag(@podcast.logo.url(:small), :alt => "#{@podcast.custom_title} cover art", :class => "logo") -%>
</div>

<div class="description">
  <div class="s_desc">
     <p class="favorite_cont">
      <% if @podcast.is_favorite_of?(current_user) -%>
        <a href="#" class="is favorite">Marked as favorite</a>
      <% else -%>
        <div class="addit"><ul><li><%= link_to 'Add to favorites', favorite_podcast_url(:podcast_slug => @podcast.clean_url), :class => "favorite_link" -%></li></ul></div>
      <% end -%>
      <% unless current_user -%><div class="quick_signin_container after_favoriting"></div><% end -%>
    </p>
    <h4>Series description</h4>
    <p>
      <%= link_to h(@podcast.clean_site), h(@podcast.site) %> - <%= unescape_entities h(@podcast.description) -%>
    </p>
    <h6>Tags:</h6>
    <ul>
      <%= comma_separated_list_items(@podcast.tags.map {|tag| link_to(tag.name, tag_url(:tag => tag.name)) }) -%>
    </ul>
   
  </div>

  <%= render :partial => "podcasts/subscribe" -%>
  <%= render :partial => "podcasts/social", :locals => {:podcast => @podcast} -%>

</div>

