<form method="get" action="<%= @podcast.primary_feed.url if @podcast.primary_feed -%>" class="super_button subscribe">
  <span class="dropdown format">
    <ul name="format" class="styled">
      <% sorted_by_primary(feeds).each_with_index do |f, i| -%>
        <li <% if i == 0 -%>class="select selected"<% else -%>class="select" style="display:none;"<% end -%>>
          <input type="hidden" name="<%= dom_id(f) -%>" value="<%=h f.id -%>">
          <%= link_to_with_icon super_button_delivery(f).gsub!(/[\s]+/, "&nbsp;"), f.apparent_format, '#' -%>
        </li>
      <% end -%>
    </ul>
  </span>
  
  <span class="dropdown delivery">
    <ul name="delivery" class="styled" style="background-color: #555; padding: 3px;">
      <li name="delivery_rss" class="delivery_rss select selected">
        <%= link_to_with_icon "RSS", :rss, "#" -%>
      </li>
      <li name="delivery_miro" style="display: none;" class="delivery_miro select">
        <%= link_to_with_icon "Miro", :miro, "#" -%>
      </li>
      <li name="delivery_itunes" style="display: none;" class="delivery_itunes select">
        <span class="itunes_wrapper">
          <%= link_to_with_icon "iTunes", :itunes, "#" -%>
        </span>
      </li>
    </ul>
  </span>
  
  <span class="submit button orange">
    <%= link_to "<span class='cap'><span class='label'>Subscribe</span></span>", (feeds.first.url rescue "#"), :class => 'super_button_subscribe' %>
  </span>

  <%# for lookup purposes only -%>
  <% feeds.select {|f| !f.itunes_link.blank? }.each do |feed| -%>
  <input type="hidden" id="itunes_<%= feed.id %>" value="<%= feed.itunes_link %>" />
  <% end -%>
  <% feeds.each do |feed| -%>
  <input type="hidden" id="url_<%= feed.id %>" value="<%= feed.url %>" />
  <% end -%>
</form>
<br />
<div class="clear"></div>

