<h1>Editing podcast</h1>

<% form_for(@podcast, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => {:f => f} -%>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @podcast %> |
<%= link_to 'Back', podcasts_path %>
