<% form_for(@podcast) do |f| %>
<fieldset style="width: 700px">
  <%= f.error_messages %>

  <div style="width: 300; height: 300; float: right; overflow: hidden;">
    <%= image_tag @podcast.logo_link -%>
  </div>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title, :value => @podcast.title %>
  </p>
  <p>
    <%= f.label :site %><br />
    <%= f.text_field :site, :value => @podcast.site %>
  </p>
  <p>
    <%= f.label :feed %><br />
    <%= f.text_field :feed, :value => @podcast.feed %>
  </p>
  <p>
    <%= f.label :logo %><br />
    <%= f.text_field :logo, :value => @podcast.logo_link %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
</fieldset>
<% end %>