<% @title = "Popular Podcasts" -%>
<% @full_width = true -%>
<% @classes = %{podcast index} -%>
<div class="summary">

    <h1>Popular podcasts</h1>
    
    
    <script type="text/javascript">
     $().ready(function() {  
      $('.s_desc>p').jTruncate({  
       length: 120,  
      });  
     });
    </script>

  <div class="multicolumn rounded_corners" id="browse">
    <% rounded_corners do -%>
    <div id="view_options">
      <p>
        View:
        <a href="#"><img src="imgs/columns_on.png" alt="Columns view" /></a>
        <a href="#"><img src="imgs/grid_off.png" alt="Grid view" /></a>
      </p>
      <p class="per_page">
        <% delimited_items([5, 10, 20, 50]) do |count, comma| -%>
          <%= link_to count, all_url(:limit => count), :class => ((params[:limit] || 5).to_i == count) ? "pp_current" : nil -%><%= comma -%>
        <% end -%>
        per page
      </p>
      <div id="sort">
        <p>Sort by: <%= dropdown [["Most recent","recent"], ["Popular","oldest"]], nil, {} %></p>
      </div>
    </div>
    
    <%= render :partial => 'podcasts/podcast', :collection => @podcasts -%>

    <%= will_paginate @podcasts,
      :previous_label => '<img src="../imgs/icons/left-arrow.gif" title="Newer episodes" />',
      :next_label     => '<img src="../imgs/icons/right-arrow.gif" title="Older episodes" />',
      :inner_window   => 1,
      :outer_window   => 1 -%>
      <% end -%>
  </div>
  
</div>

  <div class="googleads">
    <%= @ads -%>
    <%= @ads -%>
  </div>
