<h1><%=h @podcast.custom_title %></h1>

<table cellpadding="0" cellspacing="0" border="0">
<%- @podcast.attributes.each do |k,v| -%>
  <% next if ["id"].include?(k) || k.to_s =~ /_id/ %>
  <tr>
    <td><%= k %></td>
    <td><%= v %></td>
  </tr>
<%- end -%>
</table>

<h2>Logos</h2>
<ul>
<%- @podcast.logo.styles.keys.each do |k| -%>
  <li><%= link_to nil, @podcast.logo(k) -%></li>
<%- end -%>
</ul>

<table>
  <tr>
    <th>Episode</th>
    <% @podcast.feeds.each do |f| -%>
    <th>
      <%= link_to "Feed #{f.id}", info_feed_url(@podcast, f) -%><br>
      <% if f.primary? -%>(Primary)<% end -%>
    </th>
    <% end -%>
  </tr>
  <% @podcast.episodes.each do |e| -%>
    <tr>
      <td>
        <%= link_to e.date_title, info_episode_url(@podcast, e) -%>
      </td>

      <% @podcast.feeds.each do |f| -%>
        <td>
          <% source = Source.find_by_feed_id_and_episode_id(f.id, e.id) -%>
          <% if source -%>
            <% link_to info_source_url(@podcast, e, source) do -%>
              <%= f.formatted_bitrate -%>
              <%= f.apparent_format -%>
            <% end -%>
          <% end -%>
        </td>
      <% end -%>
    </tr>
  <% end -%>
</table>

<h2>Feeds</h2>
<ul>
<%- @podcast.feeds.each do |f| -%>
  <li><%= f.url %></li>
<%- end -%>
</ul>

<h2>Tags</h2>
<ul>
<%- @podcast.tags.each do |t| -%>
  <li><%= t.name %></li>
<%- end -%>
</ul>

<h2>Episodes</h2>
<ul>
<%- @podcast.episodes.each do |e| -%>
  <li>
  <%= link_to e.title, episode_url(:episode => e, :podcast => @podcast) + "/info" %>
  </li>
<%- end -%>
</ul>

