<h1><%=h @podcast.custom_title %></h1>

<table cellpadding="0" cellspacing="0" border="0">
<%- @podcast.attributes.each do |k,v| -%>
  <% next if ["id"].include?(k) || k.to_s =~ /_id/ %>
  <tr>
    <td><%= k %></td>
    <td><%= v %></td>
  </tr>
<%- end -%>
</table>

<h2>Logos</h2>
<ul>
<%- @podcast.logo.styles.keys.each do |k| -%>
  <li><%= link_to nil, @podcast.logo(k) -%></li>
<%- end -%>
</ul>

<h2>Feeds</h2>
<ul>
<%- @podcast.feeds.each do |f| -%>
  <li><%= f.url %></li>
<%- end -%>
</ul>

<h2>Tags</h2>
<ul>
<%- @podcast.tags.each do |t| -%>
  <li><%= t.name %></li>
<%- end -%>
</ul>

<h2>Episodes</h2>
<ul>
<%- @podcast.episodes.each do |e| -%>
  <li>
  <%= link_to e.title, episode_url(:episode => e, :podcast => @podcast) + "/info" %>
  </li>
<%- end -%>
</ul>

