<h1><%=h @podcast.title %></h1>

<table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="key">Description</td>
    <td>
      <%= @podcast.description -%>
    </td>
  </tr>
  <tr>
    <td class="key">Has P2P Acceleration</td>
    <td>
      <%= @podcast.has_p2p_acceleration ? "true" : "false" -%>
    </td>
  </tr>
  <tr>
    <td class="key">Has Previews</td>
    <td>
      <%= @podcast.has_previews ? "true" : "false" -%>
    </td>
  </tr>
  <tr>
    <td class="key">Language</td>
    <td>
      <%= @podcast.language -%>
    </td>
  </tr>
  <tr>
    <td class="key">Logo</td>
    <td>
      <%= link_to @podcast.logo.url, @podcast.logo.url -%>
    </td>
  </tr>
  <tr>
    <td class="key">Owner Email</td>
    <td>
      <%= @podcast.owner_email -%>
    </td>
  </tr>
  <tr>
    <td class="key">Owner Name</td>
    <td>
      <%= @podcast.owner_name -%>
    </td>
  </tr>
  <tr>
    <td class="key">Site</td>
    <td>
      <%= @podcast.site -%>
    </td>
  </tr>
  <tr>
    <td class="key">Updated At</td>
    <td>
      <%= @podcast.updated_at -%>
    </td>
  </tr>
  <tr>
    <td class="key">Created at</td>
    <td>
      <%= @podcast.created_at -%>
    </td>
  </tr>
</table>

<h2>Titles</h2>
<table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="key">Original Title</td>
    <td><code><%= @podcast.original_title %></code></td>
  </tr>
  <tr>
    <td class="key">Title (as shown on site)</td>
    <td><code><%= @podcast.title %></code></td>
  </tr>
  <tr>
    <td class="key">URL Slug</td>
    <td><code><%= @podcast.clean_url %></code></td>
  </tr>
</table>

<h2>Finders</h2>
<ul>
  <% @podcast.feeds.each do |f| -%>
    <%= content_tag :li, link_to(f.finder.login, user_url(f.finder)) unless f.finder.nil? %>
  <% end -%>
</ul>

<h2>Logos</h2>
<ul>
<%- @podcast.logo.styles.keys.each do |k| -%>
  <li><%= link_to nil, @podcast.logo(k) -%></li>
<%- end -%>
</ul>

<table>
  <tr>
    <th>Episode</th>
    <% @podcast.feeds.each do |f| -%>
    <th>
      <%= link_to "Feed #{f.id}", info_feed_url(@podcast, f) -%><br>
      <% if f.primary? -%>(Primary)<% end -%>
    </th>
    <% end -%>
  </tr>
  <% @podcast.episodes.each do |e| -%>
    <tr>
      <td>
        <%= link_to e.date_title, info_episode_url(@podcast, e) -%>
      </td>

      <% @podcast.feeds.each do |f| -%>
        <td>
          <% source = Source.find_by_feed_id_and_episode_id(f.id, e.id) -%>
          <% if source -%>
            <% link_to info_source_url(@podcast, e, source) do -%>
              <%= f.formatted_bitrate -%>
              <%= f.apparent_format -%>
            <% end -%>
          <% end -%>
        </td>
      <% end -%>
    </tr>
  <% end -%>
</table>

<h2>Tags</h2>
<ul>
<%- @podcast.tags.each do |t| -%>
  <li><%= t.name %></li>
<%- end -%>
</ul>

