<% @title = "Podcast" -%>
<h1>Podcast</h1>

<%= render :partial => 'feeds/info_source_table', :locals => {:options => {:podcast => @podcast}} -%>

<p class="episode_info">
  New episode <%= link_to @podcast.episodes.newest.first.published_at.to_date, info_episode_url(@podcast, @podcast.episodes.newest.first) -%> <%= relative_time(@podcast.episodes.newest.first.published_at, true) -%><br />
  
  <%= @podcast.episodes.count -%> episodes
  since <%= link_to @podcast.episodes.oldest.first.published_at.to_date, info_episode_url(@podcast, @podcast.episodes.oldest.first) -%>
  every <%= time_to_words(@podcast.average_time_between_episodes, false) -%><br/>
  Total run time <%= time_to_words(@podcast.total_run_time, false) -%>
</p>

<h2>Episode List</h2>
<table class="episodes">
  <%= render :partial => 'episodes/info_line', :collection => @podcast.episodes -%>
</table>

<h2>Feed Table</h2>
<table class="feeds">
  <%= render :partial => 'feeds/info_line', :collection => @podcast.feeds -%>
</table>

<table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="key">Description</td>
    <td>
      <%= non_blank @podcast.description -%>
    </td>
  </tr>
  <tr>
    <td class="key">Has P2P Acceleration</td>
    <td>
      <%= @podcast.has_p2p_acceleration ? "true" : "false" -%>
    </td>
  </tr>
  <tr>
    <td class="key">Has Previews</td>
    <td>
      <%= @podcast.has_previews ? "true" : "false" -%>
    </td>
  </tr>
  <tr>
    <td class="key">Language</td>
    <td>
      <%= non_blank @podcast.language -%>
    </td>
  </tr>
  <tr>
    <td class="key">Logo</td>
    <td>
      <%= link_to @podcast.logo.url, @podcast.logo.url -%>
    </td>
  </tr>
  <tr>
    <td class="key">Owner Email</td>
    <td>
      <%= non_blank @podcast.owner_email -%>
    </td>
  </tr>
  <tr>
    <td class="key">Owner Name</td>
    <td>
      <%= non_blank @podcast.owner_name -%>
    </td>
  </tr>
  <tr>
    <td class="key">Site</td>
    <td>
      <%= non_blank @podcast.site -%>
    </td>
  </tr>
  <tr>
    <td class="key">Updated At</td>
    <td>
      <%= @podcast.updated_at -%>
    </td>
  </tr>
  <tr>
    <td class="key">Age</td>
    <td>
      <%= @podcast.created_at -%>
    </td>
  </tr>
</table>

<h2>Titles</h2>
<table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="key">Original Title</td>
    <td><code><%= @podcast.original_title %></code></td>
  </tr>
  <tr>
    <td class="key">Title (as shown on site)</td>
    <td><code><%= @podcast.title %></code></td>
  </tr>
  <tr>
    <td class="key">URL Slug</td>
    <td><code><%= @podcast.clean_url %></code></td>
  </tr>
</table>

<h2>Finders</h2>
<ul>
  <% @podcast.feeds.each do |f| -%>
    <%= content_tag :li, link_to(f.finder.login, user_url(f.finder)) unless f.finder.nil? %>
  <% end -%>
</ul>

<h2>Logos</h2>
<ul>
<%- @podcast.logo.styles.keys.each do |k| -%>
  <li><%= link_to nil, @podcast.logo(k) -%></li>
<%- end -%>
</ul>

<h2>Tags</h2>
<ul>
<%- @podcast.tags.without_badges.all.each do |t| -%>
  <li><%= t.name %></li>
<%- end -%>
</ul>

<h2>Badges</h2>
<ul>
<%- @podcast.tags.badges.each do |t| -%>
  <li><%= t.name %></li>
<%- end -%>
<%- @podcast.additional_badges.each do |t| -%>
  <li><%= t %></li>
<%- end -%>
</ul>

<% if @podcast.primary_feed -%>
  <h1>Primary Feed</h1>
  <iframe name="primary_feed_iframe" id="primary_feed_iframe" src="<%= info_feed_url(:podcast_slug => @podcast, :id => @podcast.primary_feed.id) %>" style="width: 90%; border: solid 1px #111; height: 400px; margin: 10px;">Your browser does not support iframes.</iframe>
<% end -%>