<h1>Feed Me</h1>
<p>Paste the URL of a podcast RSS feed here.</p>

<% form_for @new_podcast do |f| -%>
  <p>
    <%= f.label "feed" -%><br />
    <%= f.text_field :feed -%>
    <%= submit_tag "Add" -%>
  </p>
<% end -%>

<% if @podcast -%>
  <p class="notice">
    <% if @podcast.new_record? -%>
      <%= @podcast.feed_error -%>
    <% else -%>
      Yum! I've added <%= link_to_thing(@podcast) -%>
      <% if @podcast.respond_to?(:owner) and @podcast.owner -%>
	<% if current_user and @podcast.owner == current_user -%>
	  by you, <%= link_to_profile(@podcast.owner) -%>. More please
	<% else -%>
          by <%= link_to_profile(@podcast.owner) -%>. You get +1 point 
	  and a link for finding it. More please
	<% end -%>
      <% else -%>
	and emailed <%= @podcast.owner_name -%>, the maker. You get +1 point and a link for finding it. More please
      <% end -%>
    <% end -%>
  </p>
<% end -%>

<% if !logged_in? -%>
  <%= render :partial => 'users/signup_inline' -%>
<% end -%>
