<h2>Feed me</h2>
<p>Know the address of a podcast? Add it to the LimeWire Podcast Directory:</p>

<script type="text/javascript">
  function pollForPodcast() {
    feed = $('podcast_feed_url').value;
    new Ajax.PeriodicalUpdater('notice', 
                               '/podcasts/status?feed=' + encodeURIComponent(feed), 
                               {method: 'get', frequency: 2, decay: 1});
  }
</script>

<% remote_form_for @new_podcast, :success => 'pollForPodcast()' do |f| -%>
  <div class="field huge">
    <%= f.label "Feed" -%>
    <div>
      <%= f.text_field :feed_url, :class => 'text' -%>
      <%= submit_tag "Add", :class => 'button' -%>
    </div>
  </div>
<% end -%>

<% if @podcast -%>
  <p id="notice">
    <% if @podcast.new_record? -%>
      <%= @podcast.feed_error -%>
    <% else -%>
      Yum! I've added <%= link_to_thing(@podcast) -%>
      <% if @podcast.respond_to?(:owner) and @podcast.owner -%>
        <% if current_user and @podcast.owner == current_user -%>
          by you, <%= link_to_profile(@podcast.owner) -%>. More please
        <% else -%>
          by <%= link_to_profile(@podcast.owner) -%>. You get +1 point 
          and a link for finding it. More please
        <% end -%>
      <% else -%>
        and emailed <%= @podcast.owner_name -%>, the maker. You get +1 point and a link for finding it. More please
      <% end -%>
    <% end -%>
  </p>
<% else -%>
  <p id="notice"></p>
<% end -%>

<% if !logged_in? -%>
  <%= render :partial => 'users/signup_inline' -%>
<% end -%>
