<% @title = "Add Podcast" -%>
<% javascript_include "podcasts_new" -%>
<% @full_width = true -%>

<h2>Feed me</h2>
<p>Know the address of a podcast? Add it to LimeCast:</p>

<div id="added_podcast_list"></div>


<% form_for @podcast, :id => 'new_podcast', :method => 'post' do |f| -%>
  <div class="field huge">
    <%= f.label "Feed" -%>
    <div>
      <label for='podcast_feed_url' class='default' style="display:none;">http://example.com/rss.xml</label>
      <%= f.text_field :feed_url, :class => 'text' -%>
      <%= submit_tag "Add", :class => 'button' -%>
    </div>
  </div>
<% end -%>

<div id="added_podcast" style="display: none;">
  <form>
    <div class="field huge">
      <label>Feed</label>
      <div>
        <input type='text'   class="text"   disabled="disabled" style="background: #222" />
        <input type='submit' class="button" disabled="disabled" style="background: #666" value="Add" />
      </div>
    </div>
  </form>
  <div class="status">
    <%= render :partial => 'status_loading' -%>
  </div>
</div>

<% if !logged_in? -%>
  <%= render :partial => 'users/quick_signin' -%>
<% end -%>
