<% @classes = %{podcast show} -%>

<%= render :partial => "summary" -%>

<div class="supplemental">

  <h2 class="linkable<%= " current" if params[:controller] == 'podcasts' %>">
    <span>Episodes</span>
    <a href="#">Episodes</a>
  </h2>
  <h2 class="linkable<%= " current" if params[:controller] == 'reviews' %>">
    <span>Series reviews (<%= @podcast.episodes.count %>)</span>
    <a href="#">Series reviews (<%= @podcast.episodes.count %>)</a>
  </h2>

  <div id="s_episodes_wrap"<%= " style=\"display: none;\"" if params[:controller] == 'reviews' %>>
    <div class="cbb" id="s_episodes">
			<%= render :partial => "info", :locals => {:podcast => @podcast} -%>
			<%= render :partial => "view_options" -%>
			<%= render :partial => "download_options" -%>
      <%= render :partial => "episodes/episode", :collection => @episodes -%>
    </div><!-- /s_episodes -->
  </div><!-- /s_episodes -->
    
  <div id="s_reviews_wrap">
    <%= render :partial => 'reviews/reviews', :object => @reviews, :locals => {:podcast => @podcast} %>
  </div>
  
</div> <!-- /supplemental -->
