<% @classes = %{podcast show} -%>
<% @title = h(@podcast.title) -%>
<% @show_ads = true -%>
<% stylesheet_link "sknd.global", "sknd.presentation", "sknd.typography", "sknd.icons", "podcast_show" -%>
<% javascript_include "review_edit", "review_delete", "podcasts_new", "podcast_edit", "review_ratings_new" -%>

<script type="text/javascript">
  $().ready(function() {  
    $('.description > p').jTruncate({  
      length: 400,  
    });  
  });
</script>

<div class="summary">
  <%= render :partial => 'podcasts/summary' -%>
</div>
<div class="clear"></div>

<div class="supplemental">

  <h2 class="linkable<%= " current" if params[:controller] == 'podcasts' %>">
    <span>Episodes</span>
    <a href="#">Episodes</a>
  </h2>
  <h2 class="linkable<%= " current" if params[:controller] == 'reviews' %>">
    <span>Series reviews (<%= @podcast.reviews.count %>)</span>
    <a href="#" id="series_reviews">Series reviews (<%= @podcast.reviews.count %>)</a>
  </h2>

  <div class="wrapper"<%= " style=\"display: none;\"" if params[:controller] == 'reviews' %>>
    <%= render :partial => 'episodes/episodes', :object => @episodes, :locals => {:podcast => @podcast} %>
  </div>
    
  <div class="wrapper"<%= " style=\"display: none;\"" unless params[:controller] == 'reviews' %>>
    <%= render :partial => 'reviews/reviews', :object => @podcast.reviews, :locals => {:podcast => @podcast} %>
  </div>

</div>



<div class="podcast">

  <%#= render :partial => 'edit', :locals => {:podcast => @podcast} if current_user && @podcast.writable_by?(current_user) %>

  <%#= render :partial => 'badges' %>

  <%#= render :partial => 'reviews/reviews', :object => @podcast.reviews, :locals => { :podcast => @podcast } -%>
  
</div>
<div id="series_page_goog">
  <div class="googleads">
    <%= @ads -%>
    <%= @ads -%>
  </div>
</div>