<% @title = h(@podcast.title) -%>
<% @show_ads = true -%>
<% javascript_include "jquery.flash", "video_preview", "superbutton" -%>
<% @classes = %{podcast show} -%>

<h2><%= h(@podcast.title) %></h2>

<address>
  <%= link_to(h(@podcast.clean_site), @podcast.site) unless @podcast.clean_site.blank? %> 
  <%= link_to_rss(@podcast) unless @podcast.url.blank? -%> 
  <%= link_to_itunes(@podcast) unless @podcast.itunes_link.blank? -%> 
  <br />
  <%= "Made by #{link_to @podcast.author.name, author_url(@podcast.author), :type => :author}" if @podcast.author && @podcast.author.podcasts.count > 1 %>
  <%= "Found by #{link_to @podcast.finder.login, @podcast.finder}" if @podcast.finder %>
</address>

<%= render :partial => "superbutton", :locals => {:episode => @episode} -%>

<% if @episode -%>
<address>
  New episode <%= link_to @episode.date_title, episode_url(@podcast, @episode) %>
  <time datetime="<%= @episode.published_at.to_datetime.to_s %>"><%= time_to_words(Time.now - @episode.published_at, false) %></time> ago<br />
  <%= link_to pluralize(@podcast.episodes.count, "episode"), podcast_episodes_url(@podcast) -%>
  since <%= link_to @podcast.oldest_episode.date_title, link_to_episode(@podcast.oldest_episode) -%>
  every <%= time_to_words(@podcast.average_time_between_episodes, false) -%><br/>
  Total run time <%= time_to_words(@podcast.total_run_time, false) -%>
</address>
<% end -%>

<section>
  <%= link_to (@favorited ? "Unfavorite" : "Favorite"), favorite_podcast_url(@podcast), :class => "favorite" %>
</section>

<section>
  <h3>Description</h3>

  <article>
    <%= unescape_entities h(@podcast.description) %>
  </article>

  <ul class="tags"><%= @podcast.tags.map {|t| "<li>#{link_to_tag(t)}</li>" }.join(' ') -%></ul>
</section>

<% unless @related.empty? -%>
<section>
  Similar to <ul class="similar"><%= comma_separated_list_items @related.map {|p| link_to(p) } -%></ul>
</section>
<% end -%>

<section id="episodes">
  <h3>Episodes</h3>
  <ul>
    <%= render :partial => "episodes/episode", :collection => @episodes -%>
  </ul>
  <%= link_to "All #{@podcast.episodes.count} episodes", podcast_episodes_url(@podcast) %>
</section>

<section id="reviews">
  <h3>Reviews</h3>

  <% unless [@reviews.that_are_positive, @reviews.that_are_negative].any? { |r| r.count(:select => "*").zero? } -%>
  <nav>
    <%= link_to "All (#{@reviews.count(:select => "*")})", "#reviews", :class => "all" -%>
    <%= link_to "Positive (#{@reviews.that_are_positive.count(:select => "*")})", "#reviews", :class => "positive" -%>
    <%= link_to "Negative (#{@reviews.that_are_negative.count(:select => "*")})", "#reviews", :class => "negative" -%>
  </nav>
  <% end -%>

  <ul>
    <%= render :partial => 'reviews/review', :collection => @reviews.reverse, :locals => {:editable => true} -%>
  </ul>

  <br />
  
  <%= render :partial => 'reviews/form', :locals => {:review => @review} if can_add_reviews?(@podcast) %>
</section>


<%# rounded_corner_tag(:class => "related") do -%>
<!-- <h3>Related podcasts</h3>
<ul id="all_podcasts">
  <%#= render :partial => "recommendations/recommendation", :collection => @related -%>
</ul> -->
<%# end -%>
