<div class="podcast">
  <h2><%=h @podcast.title %></h2>

  <% if @podcast.writable_by?(current_user) -%>
    <div id="edit_actions">
      <span><%= link_to "Edit", edit_podcast_url(@podcast) -%></span>
      <span><%= link_to "Delete", podcast_url(@podcast), :method => 'delete' -%></span>
    </div>
  <% end -%>

  <div class="cover">
    <div class="border"></div>
    <%= image_tag(@podcast.logo.url(:small), :class => 'reflect rheight30 ropacity15') -%>
  </div>

  <div class="info">
    <h3><%=h @podcast.user.login -%></h3>
<!--<div class="site">Site<%=link_to h(@podcast.site), h(@podcast.site) %></div>-->
    <dl>
      <dt>Language</dt>
      <dd>English</dd>
    </dl>
    
    <div class="controls">
      <span class="price">Free</span>
      <%= link_to "<span>Subscribe</span>", @podcast.feed, :class => 'action_button' %>
      <div class="clear"></div>
    </div>
  </div>

  <div class="description">
    <h4>Podcast Description</h4>
    
    <p><%= @podcast.description -%></p>
  </div>

  <div id="reviews">

    <h4>Customer Reviews</h4>

    <div class="reviews">
      <%= render :partial => 'comments/comments', :object => @podcast -%>
      <%= render :partial => 'comments/add_comment', :object => @podcast -%>
    </div>
  </div>

  <div id="episodes">
    <h2>Episodes</h2>
    <ul>
      <%= render :partial => 'episodes/episode', :collection => @podcast.episodes -%>
    </ul>
  </div>

  <div id="controls">
    <% if @podcast.writable_by?(current_user) -%>
      <%= link_to 'Edit', edit_podcast_path(@podcast) %> |
    <% end -%>

    <%= link_to 'Back', podcasts_path %>
  </div>
</div>
