<% @classes = %{podcast show} -%>

<%= render :partial => "summary" -%>

<div class="supplemental">

  <h2 class="linkable current">
    <span>Episodes</span>
    <a href="#">Episodes</a>
  </h2>
  <h2 class="linkable">
    <span>Series reviews (<%= @podcast.episodes.count %>)</span>
    <a href="#">Series reviews (<%= @podcast.episodes.count %>)</a>
  </h2>

  <div class="cbb" id="s_episodes" style="display: none">
    <div id="e_info">
      <p>
        <%= pluralize(@podcast.episodes.count, 'episode') -%>
        <span>since <%= @podcast.episodes.first.published_at.to_date -%> every <%= @podcast.average_time_between_episodes.to_i.to_duration -%></span>
      </p>
    </div>

    <div id="e_view">
      <p>View:<a href="#"><img src="imgs/columns_on.png" alt="Columns view" /></a><a href="#"><img src="imgs/grid_off.png" alt="Grid view" /></a></p>
      <ul class="pages">
        <% [5, 10, 20, 50].each do |count| -%>
          <li><%= link_to count, {:limit => count}, :class => ((params[:limit] || 5).to_i == count) ? "pp_current" : "" -%>,</li>
        <% end -%>
      </ul>
      <p id="sort">
        Sort by: 
        <div class="dropdown">
          <a href="#" class="options">Most recent</a>
          <div>
            <ul class="cbb">
              <li class="selected"><a href="#">Most Recent</a></li>
              <li><a href="#">First to last</a></li>
            </ul>
          </div>
        </div>
      </p>
    </div>

    <div id="dl_option_cont">
      <p>Choose download format (2 Steps):</p>
      <form action="http://limecast.com/search" method="get" id="dl_option">            
        <strong>1.</strong>
        <input class="text search" id="w" name="q" size="15" type="radio" /><label for="w">Web</label>
        <input class="text search" id="m" name="q" size="15" type="radio" /><label for="m">Magnet</label>
        <strong>2.</strong>
        <a href="#" class="options">Flash (small)</a>
      </form>
      <ul>
        <li><a href="#">help</a> | </li>
        <li><a href="#">hide</a></li>
      </ul>
    </div>
    <%= render :partial => "episodes/episode", :collection => @episodes -%>
  </div><!-- /s_episodes -->
    
  <div class="cbb" id="s_reviews" style="display: ;none">
    <div id="r_view">
      <p>View:
        <span class="linkable current">
          <%= link_to "All (#{@podcast.reviews.count})", reviews_url(:podcast => @podcast) %>
          <span>All (38)</span>
        </span>
        <span class="linkable">
          <%= link_to "Positive (#{@podcast.reviews.that_are_positive.count})", positive_reviews_url(:podcast => @podcast) %>
          <span>Positive (36)</span>
        </span>
        <span class="linkable">
          <%= link_to "Negative (#{@podcast.reviews.that_are_negative.count})", negative_reviews_url(:podcast => @podcast) %>
          <span>Negative (2)</span>
        </span>
      </p>
    </div>
    <%= render :partial => 'reviews/reviews', :objects => {:reviews => @reviews} %>
    <%#= render :partial => 'reviews/review', :collection => @reviews -%>
  </div><!-- /s_reviews -->

  </div> <!-- /s_episodes_reviews -->
