<%= image_tag(@podcast.logo.url(:small)) -%>

<h1><%=h @podcast.title %></h1>

<div class="user"><%=h @podcast.user.login -%></div>
<div class="site"><%=link_to @podcast.site, h(@podcast.site) %></div>

<div class="subscribe">
  <%= link_to "Subscribe", @podcast.feed %>
</div>

<h2>Podcast Description</h2>
<div class="description">
  <%= @podcast.description -%>
</div>

<h2>Episodes</h2>
<ul>
<% @podcast.episodes.each do |episode| -%>
  <li><%= link_to (episode.title or "untitled"), episode_url(episode) -%></li>
<% end -%>
</ul>

<%= link_to 'Edit', edit_podcast_path(@podcast) %> |
<%= link_to 'Back', podcasts_path %>
