<% @classes = %{podcast show} -%>

<div class="summary">
  <%= render :partial => "podcasts/summary" -%>
</div>

<div class="supplemental">

  <h2 class="linkable<%= " current" if params[:controller] == 'podcasts' %>">
    <span>Episodes</span>
    <a href="#">Episodes</a>
  </h2>
  <h2 class="linkable<%= " current" if params[:controller] == 'reviews' %>">
    <span>Series reviews (<%= @podcast.episodes.count %>)</span>
    <a href="#" id="series_reviews">Series reviews (<%= @podcast.episodes.count %>)</a>
  </h2>

  <div id="s_episodes_wrap"<%= " style=\"display: none;\"" if params[:controller] == 'reviews' %>>
    <div id="s_episodes" class="rounded_corners">
      <% rounded_corners do -%>
        <%= render :partial => "podcasts/info", :locals => {:podcast => @podcast} -%>
        <%= render :partial => "podcasts/view_options" -%>
        <%= render :partial => "podcasts/download_options" -%>
        <div id="episode_cont"><%= render :partial => "episodes/episode", :collection => @episodes -%></div>
        <div id="pagination">
          <ul>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a>...</li>
            <li ><a href="#">24</a></li>
            <li ><a href="#"><img src="../imgs/icons/right-arrow.gif" title="Older episodes" /></a></li>
          </ul>
        </div>
      <% end -%>
    </div>
  </div>
    
  <div id="s_reviews_wrap"<%= " style=\"display: none;\"" unless params[:controller] == 'reviews' %>>
    <%= render :partial => 'reviews/reviews', :object => @reviews, :locals => {:podcast => @podcast} %>
  </div>

  
</div>
