<div style="float: right; margin: 20px;">
  <%= image_tag(@podcast.logo.url(:small)) -%>
</div>

<h1><%=h @podcast.title %></h1>

<p>
  <b>Site:</b>
  <%= link_to h(@podcast.site), @podcast.site %>
</p>

<p>
  <b>Feed:</b>
  <%= link_to h(@podcast.feed), @podcast.feed %>
</p>

<h2>Episodes:</h2>
<ul>
<% @podcast.episodes.each do |episode| -%>
  <li><%= link_to (episode.title or "untitled"), episode_url(episode) -%></li>
<% end -%>
</ul>

<% if @podcast.writable_by?(current_user) -%>
  <%= link_to 'Edit', edit_podcast_path(@podcast) %> |
<% end -%>

<%= link_to 'Back', podcasts_path %>
