<% @title = h(@podcast.title) -%>
<% @show_ads = true -%>

<div class="podcast">

  <div class="cover">
    <div class="border"></div>
    <%= image_tag(@podcast.logo.url(:small), :class => 'reflect rheight30 ropacity15') -%>
  </div>

  <% if @podcast.writable_by?(current_user) -%>
    <div id="edit_actions">
      <span class="label">This is mine!</span>
      <ul>
        <li class="edit">
          <%= link_to "<span>Edit</span>", edit_podcast_url(@podcast), :class => 'icon' -%>
        </li>
        <li class="delete">
          <%= link_to "<span>Delete</span>", "/podcasts/#{@podcast.id}", :method => 'delete', :class => 'icon' -%>
        </li>
      </ul>
      <div class="clear"></div>
    </div>
  <% end -%>

  <h2><%=h @podcast.title %></h2>

  <div class="urls">
    <ul>
      <li class="site">
        <%=link_to h(@podcast.clean_site), h(@podcast.site) %>
      </li>
      <li class="rss">
        <%= link_to "<span>RSS</span>", @podcast.feed_url, :class => 'icon' %>
      </li>
    <% if @podcast.itunes_link -%>
      <li class="itunes">
        <%= link_to "<span>iTunes</span>", @podcast.itunes_link, :class => 'icon' %>
      </li>
    <% end -%>
    </ul>
    <div class="clear"></div>
  </div>

  <div class="authors">
    <ul>
    <% if @podcast.user -%>
      <li class="user found_by">
        Found by <%= link_to_profile @podcast.user -%>
      </li>
    <% end -%>
    <% if @podcast.owner -%>
      <li class="user made_by">
        Made by <%= link_to_profile @podcast.owner -%>
      </li>
    <% end -%>
    </ul>
    <div class="clear"></div>
  </div>
  
  <div class="stats">

    <% if @podcast.episodes.size > 0 -%>
      <p class="new_episode">
        New episode <%= link_to @podcast.episodes.newest.first.published_at.to_formatted_s(:normal), episode_url(@podcast, @podcast.episodes.newest.first) -%>
      </p>
    <% end -%>

    <p class="totals">
      <% link_to(podcast_episodes_url(@podcast)) do -%><%= @podcast.episodes.count -%> episodes<% end -%>

      <% if @podcast.episodes.size > 0 -%>
        since <%= link_to @podcast.episodes.oldest.first.published_at.to_formatted_s(:normal), episode_url(@podcast, @podcast.episodes.oldest.first) -%>
      <% end -%>

      <% if @podcast.episodes.size > 1 -%>
        every <%= (@podcast.average_time_between_episodes / (60 * 60 * 24) * 100).to_i / 100.0 -%> days
      <% end -%>
    </p>

    <% if @podcast.total_run_time > 60 -%>
    <p class="run_time">
      Total run time <%= time_to_words(@podcast.total_run_time) -%>
    </p>
    <% end -%>
  </div>
  
  <div class="description">
    <h3>Description</h3>
    <p><%= @podcast.description -%></p>
  </div>
  
  <div class="tags">
    Tags:
    <% if @podcast.tags.length > 0 then %>
      <% @podcast.tags.each do |tag| -%>
        <%= link_to "<span>#{h(tag.name)}</span>", tag_url(tag) -%>
      <% end -%>
    <% else -%>
      <span class="notice">No one has added any tags yet!</span>
    <% end -%>
  </div>
  
  <% unless @podcast.episodes.empty? %>
    <div class="episodes">
      <h3>Recent Episodes</h3>
      <ul class="episodes">
        <%= render :partial => 'episodes/episode', :collection => @episodes -%>
      </ul>
      <% link_to(podcast_episodes_url(@podcast), :class => 'all_episodes') do -%><span>All <%= @podcast.episodes.count -%> episodes</span><% end -%>
      <% reset_cycle('row_class') %>
    </div>
    
    <div class="reviews">
      <h3>Reviews</h3>

      <% unless @comments.empty? -%>
        <ul class="reviews">
          <%= render :partial => 'comments/comments', :object => @podcast.episodes.newest.first, :locals => {:short => true} -%>
        </ul>

 	      <%= link_to "All #{@comments.size} reviews", reviews_url(:podcast => @podcast), :class => 'all_reviews' -%>
      <% end -%>

      <% unless @podcast.episodes.newest.first.been_reviewed_by?(current_user) %>
        <%= render :partial => 'comments/add_comment', :object => @podcast -%>
      <% end %>
      <% reset_cycle('row_class') %>
    </div>
  <% end %>
  
</div>
