<% @classes = %{podcast show} -%>
<% @title = h(@podcast.title) -%>
<% @show_ads = true -%>
<% stylesheet_link "podcast_show" -%>
<% javascript_include "limecast_form", "podcast", "reviews" -%>


<div class="summary clearfix">
  <%= render :partial => 'podcasts/summary' -%>
</div>

<div id="podcast_content" class="clearfix">
  <h2>Latest Episodes <span>(<%= link_to @podcast.episodes.count, podcast_episodes_url(@podcast) -%>)</span></h2>

  <div id="episode_list">
    <%= render :partial => 'episodes/episodes', :object => @episodes, :locals => {:podcast => @podcast} %>
  </div>
  
  <div id="podcast_reviews">
    <%= render :partial => 'reviews/reviews', :object => @podcast.reviews, :locals => {:podcast => @podcast} %>
  </div>

</div> <!-- /podcast_content -->

<div id="series_page_goog">
  <%= google_ads -%>
</div>

<% rounded_corner_tag(:class => "related") do -%>
<h3>Related podcasts</h3>
<ul id="all_podcasts">
  <%= render :partial => "recommendations/recommendation", :collection => @related -%>
</ul>
<% end -%>
