<% @classes = %{podcast show} -%>
<% @title = h(@podcast.title) -%>
<% @show_ads = true -%>
<% stylesheet_link "sknd.global", "sknd.presentation", "sknd.typography", "sknd.icons", "podcast_show" -%>
<% javascript_include "reviews", "podcast_edit", "review_ratings_new", "jquery.dataTables.min" -%>


<div class="summary clearfix">
  <%= render :partial => 'podcasts/summary' -%>
</div>

<div id="podcast_content">
  
  <h2>Latest episode preview</h2>
  
  <div id="latest_episode" class="preview">
    <h3><%= link_to_episode @most_recent_episode -%></h3>
    <p class="details"><em><%= @most_recent_episode.published_at.to_date -%> - <%= time_to_words(@most_recent_episode.duration) -%></em></p>
    <p><%= sanitize_condensed_summary(@most_recent_episode.summary) -%></p>
    <div class="video_player">
      <%= render :partial => 'episodes/video_player', :object => @most_recent_episode, :locals => {:options => {:hide_broken_previews => true}} -%>
    </div> <!-- /video_player -->
  </div> <!-- /latest_episode -->
  
  
  <h2>Episode list <span>(<%= @podcast.episodes.count -%>)</span></h2>

  <div id="episode_list">
    <%= render :partial => 'episodes/episodes', :object => @episodes, :locals => {:podcast => @podcast} %>
  </div>
  
  <div id="podcast_reviews">
    <%= render :partial => 'reviews/reviews', :object => @podcast.reviews, :locals => {:podcast => @podcast} %>
  </div>

</div> <!-- /podcast_content -->

<div id="series_page_goog">
  <%= google_ads -%>
</div>

<div class="related rounded_corners">
  <% rounded_corners do -%>
  <h3>Related podcasts</h3>
  <ul id="all_podcasts">
    <%= render :partial => "recommendations/recommendation", :collection => @related -%>
  </ul>
  <% end -%>
</div>
