<% options ||= {} -%>
<% podcast = options[:podcast] || 
             (options[:episode].podcast if options[:episode]) ||
             (options[:source].podcast if options[:source]) -%>
<% episode = options[:episode] ||
             (options[:source].episode if options[:source])-%>
<% source =  options[:source] -%>


<table>
  <tr>
    <td class="extra"><%= link_to "site", podcast_url(podcast) %></td>
    <th><%= controller.controller_name == "podcasts" ? content_tag(:strong, podcast.title) : link_to(podcast.title, info_podcast_url(podcast)) -%></th>
    <th><%= link_to "rss", podcast.url %> <%= podcast.ability -%></th>
  </tr>
  <% (episode ? [episode] : podcast.episodes).each do |e| -%>
    <tr>
      <td class="extra"><%= link_to "site", episode_url(podcast, e) %></td>
      <td>
        <% if e == episode && !source -%>
          <b><%= e.date_title -%></b>
        <% else -%>
          <%= link_to e.date_title, info_episode_url(podcast, e) -%>
        <% end -%>
      </td>

      <td>
        <% e.sources.each do |s| -%>
          <% if s == source -%>
            <b>
              <%= s.bitrate -%>
              <%= s.format -%>
              <%= s.ability -%><%= "a" if s.archived? -%>
            </b>
          <% else -%>
            <%= info_source_link(s) -%>
          <% end -%>
        <% end -%>
      </td>
    </tr>
  <% end -%>

  <!-- all sources that don't have an episode //-->
  <% podcast.sources.all(:conditions => "episode_id IS NULL").each do |s| -%>
    <tr>
      <td class="extra"></td>
      <td>
        no episode
      </td>
      <td><%= podcast.formatted_bitrate -%> <%= podcast.apparent_format -%> <%= s.ability -%><%= "a" if s.archived? -%></td>
    </tr>
  <% end -%>

  <!-- pagination //-->
  <% if @content_for_pagination -%>
  <tr>
    <td class="pagination" colspan="3"><%= yield :pagination -%></td>
  </tr>
  <% @content_for_pagination = nil # reset this in case there are more content_for()'s -%>
  <% end -%>
</table>
