<% @title = "Podcast" -%>
<h1>podcast</h1>

<!-- Map -->
<%= render :partial => 'info/feeds/info_source_table', :locals => {:options => {:podcast => @podcast}} -%>

<!-- Episodes -->
<p class="episode_info">
<% if newest_episode = @podcast.episodes.newest.first -%>
  New episode <%= link_to newest_episode.published_at.to_date, info_episode_url(@podcast, newest_episode) -%> 
  <%= relative_time(newest_episode.published_at, false, false, false) %><br />
  <% end -%>

  <%= @podcast.episodes.count -%> episodes
<% if oldest_episode = Episode.oldest.find_by_podcast_id(@podcast.id) -%>
  since <%= link_to oldest_episode.published_at.to_date, info_episode_url(@podcast, oldest_episode) -%>
<% end -%>
  every <%= time_to_words(@podcast.average_time_between_episodes, false) -%><br/>
  Total run time <%= time_to_words(@podcast.total_run_time, false) -%>
</p>

<ul class="episodes">
  <%= render :partial => 'episodes/info_line', :collection => @podcast.episodes -%>
</ul>

<!-- Feeds -->
<table class="feeds">
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th>make</th>
    <th>find</th>
    <th>itunes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render :partial => 'info/feeds/info_line', :collection => @podcast.feeds -%>
</table>

<h2>Media (newest episode)</h2>
<%= render :partial => "info/sources/info_medias", :locals => {:sources => @podcast.newest_episode.sources} if @podcast.newest_episode %>

<!-- Info: -->
<table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="key" title="True if somebody has locked down the podcast so only the primary feed's maker can edit it">protected</td>
    <td>
      <%= @podcast.protected? ? "true" : "false" %>
    </td>
  </tr>
  <tr>
    <td class="key" title="True if the user has enabled P2P acceleration for this podcast in LimeCast Edit">p2p&nbsp;enabled</td>
    <td>
      <%= @podcast.has_p2p_acceleration ? "true" : "false" -%>
    </td>
  </tr>
  <tr>
    <td class="key" title="True if the user has enabled media preview for this podcast">preview&nbsp;enabled</td>
    <td>
      <%= @podcast.has_previews ? "true" : "false" -%>
    </td>
  </tr>
</table>

<!-- Top: -->
<table>
  <tr>
    <td class="key" title="The podcast ranking on the leaderboard">top</td>
    <td>
      <%= "NOT IMPLEMENTED YET" -%>
    </td>
  </tr>
  <tr>
    <td class="key" title="The users who have favorited this podcast">favorite</td>
    <td>
      <%= @podcast.favoriters.size -%>
    </td>
  </tr>
  <tr>
    <td class="key" title="The number of page views the podcast has">hits</td>
    <td>
      <%= "NOT IMPLEMENTED YET" -%>
    </td>
  </tr>
</table>

<!-- Tags -->
<table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="key" title="Badges the system has assigned this podcast">badges</td>
    <td><%= (@podcast.tags.badges.map{|b| b.name} + @podcast.additional_badges).join(", ") -%></td>
  </tr>
  <tr>
    <td class="key" title="Badges the system has not assigned this podcast">not&nbsp;badges</td>
    <td><%= (Tag.badges - @podcast.tags.badges).map{|b| b.name}.join(", ") -%></td>
  </tr>
  <tr>
    <td class="key" title="Tags each user has assigned this podcast">tags</td>
    <td><%= @podcast.tags.without_badges.map{|b| b.name}.join(", ") -%></td>
  </tr>
</table>

<!-- Features -->
<table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="key" title="List of links to review info pages">reviews</td>
    <td><%= @podcast.reviews.empty? ? blankness : @podcast.reviews.map{|r| link_to(h(r.title), info_review_url(r)) rescue "" }.join(", ") -%></td>
  </tr>
  <tr>
    <td class="key" title="Related podcasts">related&nbsp;podcasts</td>
    <td><%= @podcast.related_podcasts.empty? ? blankness : @podcast.related_podcasts.map{|p| link_to h(p.title), info_podcast_url(p)}.join(", ") -%></td>
  </tr>
</table>

<% if @podcast.primary_feed -%>
  <% @feed = @podcast.primary_feed -%>

  <%= render :file => 'info/feeds/show.html.erb' -%>
<% end -%>
