<% @title = "Podcast" -%>
<h1>podcast</h1>

<!-- Map -->
<%= render :partial => 'info_source_table', :locals => {:options => {:podcast => @podcast}} -%>

<!-- Episodes -->
<p class="episode_info">
<% if newest_episode = @podcast.episodes.newest.first -%>
  New episode <%= link_to newest_episode.published_at.to_date, episode_url(@podcast, newest_episode) -%> 
  <%= time_to_words(Time.now - newest_episode.published_at, false) %> ago<br />
  <% end -%>

  <%= @podcast.episodes.count -%> episodes
<% if oldest_episode = Episode.oldest.find_by_podcast_id(@podcast.id) -%>
  since <%= link_to oldest_episode.published_at.to_date, info_episode_url(@podcast, oldest_episode) -%>
<% end -%>
  every <%= time_to_words(@podcast.average_time_between_episodes, false) -%><br/>
  Total run time <%= time_to_words(@podcast.total_run_time, false) -%>
</p>

<ul class="episodes">
  <%= render :partial => 'episodes/info_line', :collection => @podcast.episodes -%>
</ul>

<!-- podcast -->
<table class="feeds">
  <tr>
    <th></th>
    <th></th>
    <th class="key">make</th>
    <th class="key">find</th>
    <th class="key">itunes</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render :partial => 'info/podcasts/info_line', :object => @podcast -%>
</table>

<!-- Media (newest episode) -->
<%= render :partial => "info/sources/info_medias", :locals => {:sources => @podcast.newest_episode.sources} if @podcast.newest_episode %>

<!-- Info: -->
<table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="key" title="The podcast title sanitized for pages and made unique">title&nbsp;page</td>
    <td>
      <%= non_blank @podcast.title %>
    </td>
  </tr>
  <tr>
    <td class="key" title="The podcast title sanitized for URLs and made unique">title&nbsp;url</td>
    <td>
      <%= non_blank @podcast.clean_url %>
    </td>
  </tr>

  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="Raw title text the user typed in edit">custom&nbsp;title</td>
    <td>
      <%= non_blank @podcast.custom_title %>
    </td>
  </tr>
  <tr>
    <td class="key" title="Current raw title from XML source">feed&nbsp;title</td>
    <td>
      <%= non_blank @podcast.xml_title %>
    </td>
  </tr>

  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="True if somebody has locked down the podcast so only the primary feed's maker can edit it">protected</td>
    <td>
      <%= @podcast.protected? ? "true" : "false" %>
    </td>
  </tr>
  <tr>
    <td class="key" title="True if the user has enabled P2P acceleration for this podcast in LimeCast Edit">p2p&nbsp;enabled</td>
    <td>
      <%= @podcast.has_p2p_acceleration ? "true" : "false" -%>
    </td>
  </tr>
  <tr>
    <td class="key" title="True if the user has enabled media preview for this podcast">preview&nbsp;enabled</td>
    <td>
      <%= @podcast.has_previews ? "true" : "false" -%>
    </td>
  </tr>
  <tr>
    <td class="key" title="iTunes ID linked to iTunes directory, if set">itunes</td>
    <td>
      <%= @podcast.itunes_link.blank? ? blankness : link_to_itunes(@podcast) -%>
    </td>
  </tr>
</table>

<!-- Top: -->
<table>
  <tr>
    <td class="key" title="The podcast ranking on the leaderboard">top</td>
    <td>
      <%= blankness -%>
    </td>
  </tr>
  <tr>
    <td class="key" title="The users who have favorited this podcast">favorite</td>
    <td>
      <%= @podcast.favoriters.size -%>
    </td>
  </tr>
  <tr>
    <td class="key" title="The number of page views the podcast has">hits</td>
    <td>
      <%= blankness -%>
    </td>
  </tr>
  <tr>
    <td class="key" title="Most recent rank of podcast page in search results, link to try the search yourself, and date and time statistic was gathered">google</td>
    <td>
      <%= blankness -%>
    </td>
  </tr>
</table>

<!-- Tags -->
<table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="key" title="Badges the system has assigned this podcast">badges</td>
    <td><%= (@podcast.tags.badges.map{|b| b.name} + @podcast.additional_badges).join(", ") -%></td>
  </tr>
  <tr>
    <td class="key" title="Badges the system has not assigned this podcast">not&nbsp;badges</td>
    <td><%= (Tag.badges - @podcast.tags.badges).map{|b| b.name}.join(", ") -%></td>
  </tr>
  <tr>
    <td class="key" title="Tags each user has assigned this podcast">tags</td>
    <td><%= @podcast.tags.without_badges.map{|b| b.name}.join(", ") -%></td>
  </tr>
</table>

<!-- Features -->
<table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="key" title="Search this podcast box">search</td>
    <td><%= blankness -%></td>
  </tr>
  <tr>
    <td class="key" title="List of links to review info pages">reviews</td>
    <td><%= @podcast.reviews.empty? ? blankness : @podcast.reviews.map{|r| link_to(h(r.reviewer.login), info_review_url(@podcast, r)) }.join(", ") -%></td>
  </tr>
  <tr>
    <td class="key" title="Related podcasts">related</td>
    <td><%= @podcast.related_podcasts.empty? ? blankness : @podcast.related_podcasts.map{|p| link_to h(p.title), info_podcast_url(p)}.join(", ") -%></td>
  </tr>

  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="Cover art in all the different sizes shown inline">cover</td>
    <td>
    <% [:large, :small, :square, :icon, :thumb].each do |size| -%>
      <%= @podcast.logo && @podcast.logo.file? ? image_tag(@podcast.logo(size)) : blankness -%>
    <% end -%>
    </td>
  </tr>

  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="Link anchor for the page, shortened and formatted, linked to the podcaster's website">site</td>
    <td><%= link_to_podcast_home(@podcast) -%></td>
  </tr>

  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="When the site last downloaded and parsed this feed">updated</td>
    <td><%= non_blank relative_time(@podcast.updated_at, true) -%></td>
  </tr>
  <tr>
    <td class="key" title="Linked original RSS address">rss</td>
    <td><%= link_to(@podcast.url, @podcast.url) -%></td>
  </tr>

  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="Link to LimeCast's hosted RSS feed">plain</td>
    <td><%= link_to(plain_feed_url(@podcast.to_filename_param), plain_feed_url(@podcast.to_filename_param)) -%></td>
  </tr>
  <tr>
    <td class="key" title="Link to LimeCast-produced podcast remixed with magnet links">magnet</td>
    <td><%= link_to(magnet_feed_url(@podcast.to_filename_param('magnet')), magnet_feed_url(@podcast.to_filename_param('magnet'))) -%></td>
  </tr>
  <tr>
    <td class="key" title="Link to LimeCast-produced podcast remixed with torrents">torrent</td>
    <td><%= link_to(torrent_feed_url(@podcast.to_filename_param('torrent')), torrent_feed_url(@podcast.to_filename_param('torrent'))) -%></td>
  </tr>

  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="Link to author page">author</td>
    <td><%= blankness -%></td>
  </tr>
  <tr>
    <td class="key" title="The user who makes this podcast based on the current email address in the XML">makes</td>
    <td><%= info_user_link(@podcast.owner) -%></td>
  </tr>
  <tr>
    <td class="key" title="The user who added this feed, if any">found</td>
    <td><%= info_user_link(@podcast.finder) -%></td>
  </tr>

  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="Podcast subtitle, not currently used on front-end.">subtitle</td>
    <td>
      <%= non_blank @podcast.subtitle %>
    </td>
  </tr>
  
  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="Podcast description sanitized and formatted to a single line of text for summary display. Runs multiple paragraphs together and doesn't allow links, formatting, or any other HTML.">feed&nbsp;description&nbsp;line</td>
    <td>
      <%= non_blank line_description(@podcast.description), false %>
    </td>
  </tr>

  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="Podcast description sanitized and formatted for page display. Allows multiple paragraphs and links, but removes HTML formatting.">feed&nbsp;description&nbsp;page</td>
    <td class="shaded">
      <%= non_blank page_description(@podcast .description), false %>
    </td>
  </tr>

  <tr><td colspan="2">&nbsp;<!-- section divider //--></td></tr>

  <tr>
    <td class="key" title="The HTML behind podcast description page">feed&nbsp;description&nbsp;page&nbsp;source</td>
    <td>
      <%= non_blank @podcast .description %>
    </td>
  </tr>
</table>

<!-- XML -->
<pre class="formatted-xml">
<%=h @podcast.diagnostic_xml %>
</pre>
