<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>
  <%= "#{@title} - " if @title -%> LimeCast
</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="description" content="Coming 2009 March"/>

<% if @podcast -%>
  <link rel="shortcut icon" type="image/png" href="<%= @podcast.logo.url(:icon) -%>" />
  <link rel="icon" type="image/png" href="<%= @podcast.logo.url(:icon) -%>" />
<% end -%>

<% (@feeds || []).each do |feed| %>
  <%= rss_link(feed) -%>
<% end %>

<%= stylesheet_link_tag 'reset', 'application' -%>
<!--[if IE 7]>
<%= stylesheet_link_tag 'base_ie7', 'application_ie7' -%>
<![endif]-->
<% stylesheet_include "sknd.global", "sknd.presentation", "sknd.typography", "sknd.icons", "podcast_show" -%>
<%= stylesheet_link_tag @css_includes if @css_includes -%>

<%= javascript_include_tag 'jquery' -%>
<%= javascript_include_tag 'jquery-periodic' -%>
<%= javascript_include_tag 'jquery.reflect' -%>
<%= javascript_include_tag 'jquery.tabs' -%>
<%= javascript_include_tag 'jquery.cookie' -%>
<%= javascript_include_tag 'jquery.flash' -%>
<%= javascript_include_tag 'test_helpers' -%>
<script type="text/javascript">
  $.ajaxSetup({
    'beforeSend': function(xhr) {xhr.setRequestHeader("Accept", "text/javascript")}
  })

  <% if protect_against_forgery? -%>
  AUTH_TOKEN = "<%= form_authenticity_token -%>";
  <% end -%>
  LOGGED_IN  = <%= !!logged_in? %>;
</script>

<%= javascript_include_tag 'default_input_text_helper' %>
<%= javascript_include_tag 'quick_sign_in' %>
<%= javascript_include_tag 'restful_delete' %>
<%= javascript_include_tag 'super_button' %>
<%= javascript_include_tag @javascript_includes if @javascript_includes -%>

<%= javascript_include_tag 'application' -%>

<script type="text/javascript">
$(document).ready(function(){

  // Attach the global quick signup in the top-bar
  $('#utility_nav .signin a').click(function(){
    return $.quickSignIn.attach($('.quick_signin_container.from_top_bar'), {});
  });

});
</script>

</head>

<body class="<%= @classes -%><%= " status_#@error" if @error %>">

    <div id="wrapper">
      <div id="header">
        <div id="utility_nav">
          <ul>
            <li><a href="#"><strong>Join now!</strong></a> | </li>
            <li><a href="#">Our Blog</a> | </li>
            <li><a href="#">Learn more</a> | </li>
          <% if current_user %>
            <li><%= link_to_profile current_user -%></li>
          <% else %>
            <li class="signin"><%= link_to_with_icon "Sign in", :user, new_session_url -%></li>
            <div class="quick_signin_container from_top_bar"></div>
          <% end -%>
          </ul>
        </div>


        <div id="global_nav">
          <a href="/" id="logo"><span>LimeCast</span></a>
          <!--
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Browse</a></li>
            <li><a href="#">Popular</a></li>
            <li><a href="#" id="add_podcast">Add podcast</a><li>
          </ul>
          -->
          <a href="/add" id="add_podcast"><span>Add podcast</span></a>

          <form action="/search" method="get" id="search">            
            <input class="text search" id="q" name="q" size="15" type="text" />
            <button type="submit">
              <span>Search</span>
            </button>
          </form>


        </div> <!-- /global_nav -->
      </div> <!-- /header -->
  
      <!-- HACK Use content wrapper so we can use margin on #content div. -->
      <div id="content_wrapper">
        <div id="content">

        <% if flash[:notice] -%>
          <span id="notice">
            <% if Array === flash[:notice] -%>
              <%= flash[:notice].map{|line| "<p>#{line}</p>"} -%>
            <% else -%>
              <%= flash[:notice] -%>
            <% end -%>
          </span>
        <% end -%>

        <%= yield %>

        </div> <!-- /content -->
      </div> <!-- /content -->
    </div> <!-- /wrapper -->
  

        
        <div class="foot_wrapper">
          <div id="footer">

            <div class="about section">

              <h4>About</h4>


              <ul>
                <li class="blog">
                  <a href="http://limecast.limespot.com/"><span>Blog</span></a>
                </li>
                <li class="use">
                  <a href="http://limecast.com/use"><span>Terms of use</span></a>

                </li>
                <li class="privacy">
                  <a href="/privacy"><span>Privacy</span></a>
                </li>
                <li class="opensource">
                  <a href="http://wiki.limewire.org/index.php?title=LimeCast"><span>Open source</span></a>
                </li>
              </ul>

            </div>

            <div class="legal section">


              <h4>Legal</h4>

              <ul>
                <li class="refund">
                  <a href="http://deuce.limewire.com/beta.limewire.com/legal/refund" title="Refund Policy">Refund Policy</a>        </li>
                <li class="refund">
                  <a href="http://deuce.limewire.com/beta.limewire.com/legal/privacy" title="Privacy Policy">Privacy Policy</a>        </li>

                <li class="refund">
                  <a href="http://deuce.limewire.com/beta.limewire.com/legal/copyright" title="Copyright Information">Copyright Information</a>        </li>
                <li class="refund">
                  <a href="http://deuce.limewire.com/beta.limewire.com/legal/safety" title="Using P2P Safely">Using P2P Safely</a>        </li>
              </ul>

            </div>

            

            <div class="info cf">
              <!--<span class="cc_notice">Portions of this web site are available under a Creative Commons license, where noted.</span>-->
              <span class="copyright">&copy; 2000 - 2009 Lime Wire LLC.</span>
            </div>


      </div>
    </div>

    <%= @tracker -%>

    <%= render :partial => 'users/quick_signin', :locals => { }  -%>

</body>
</html>
