<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>
  <%= "#{@title} - " if @title -%> LimeCast
</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="description" content="Coming 2009 March"/>

<%= stylesheet_link_tag 'base', 'application' -%>

<%= javascript_include_tag 'jquery' -%>
<%= javascript_include_tag 'jquery-periodic' -%>
<script type="text/javascript">
  jQuery.noConflict();

  jQuery.ajaxSetup({
    'beforeSend': function(xhr) {xhr.setRequestHeader("Accept", "text/javascript")}
  })

  <% if protect_against_forgery? -%>
  AUTH_TOKEN = "<%= form_authenticity_token -%>";
  <% end -%>
</script>

<%= javascript_include_tag 'default_input_text_helper' %>
<%= javascript_include_tag 'quick_sign_in' %>
<%= javascript_include_tag 'restful_delete' %>
<%= javascript_include_tag 'super_button' %>
<%= javascript_include_tag 'search_term_context' %>
<%= javascript_include_tag @javascript_includes if @javascript_includes -%>

<%= javascript_include_tag 'prototype', 'application', 'scriptaculous', 'reflection' -%>

</head>

<body>

<div id="document">
  <div id="layout">

    <div id="header_wrapper">
      <div id="header">
        <div id="title">
          <h1>
            <a href="/all">LimeCast</a>
            <sup>Alpha</sup>
          </h1>
        </div>
        <div id="account_bar">
          <ul>
            <li class="add_podcast">
            <% if @new_podcast -%>
              <span>Add podcast</span>
            <% else -%>
              <%= link_to "<span>Add podcast</span>", add_podcast_path, :class => 'icon add' %>
            <% end -%>
            </li>
            <li class="search">
              <% form_for :search, :url => search_url, :html => {:method => :get } do |form| -%>
                <label for="q" class="default search">Search...</label>
                <%= text_field_tag "q", params[:q], :size => 15, :class => "text search" %>
                <%= submit_tag 'Search', :type => 'image', :src => '/images/content/button_search.png', :class => 'image_button' %>
              <% end -%>
            </li>
            <% if current_user -%>
            <li class="user">
              <%= link_to_profile current_user -%>
            </li>
            <% else -%>
            <li class="signup">
              <%= link_to "<span>Sign up or sign in</span>", new_session_url, :class => 'icon user sign_up' -%>
            </li>
            <% end -%>
          </ul>
          <% unless current_user -%>
            <%= render :partial => 'users/quick_signin', :locals => { :options => { :top_bar => true } }  -%>
          <% end -%>
        </div>
      </div>
    </div>

    <div id="body_wrapper">
      <div id="body">
	<% if @full_width %>

	  <div id="full_width">
	    <%= yield -%>
	  </div>

	<% else %>

          <div id="sidebar">
            <% if @show_ads -%>
              <%= @ads -%>
            <% end -%>
          </div>
	  
          <div id="primary">
            <% if flash[:notice] -%>
              <span id="notice">
		<% if Array === flash[:notice] -%>
		  <%= flash[:notice].map{|line| "<p>#{line}</p>"} -%>
		<% else -%>
		  <%= flash[:notice] -%>
		<% end -%>
              </span>
            <% end -%>
	    
            <%= yield -%>
          </div>

	<% end -%>

      </div>
    </div>

  </div>
</div>

<div id="footer_wrapper">
  <div id="footer">

    <ul class="primary">
      <li class="blog">
        <%= link_to "<span>Blog</span>", 'http://limecast.limespot.com/' %>
      </li>
      <li class="use">
        <%= link_to "<span>Terms of use</span>", use_url %>
      </li>
      <li class="privacy">
        <%= link_to "<span>Privacy</span>", '/privacy' %>
      </li>
      <li class="opensource">
        <%= link_to "<span>Open source</span>", "http://wiki.limewire.org/index.php?title=LimeCast" %>
      </li>
    </ul>

    <div class="clear"></div>

  </div>
</div>

<%= @tracker -%>

</body>
</html>
