<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title><%= "#{@title} &ndash; " if @title -%>LimeCast</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="description" content="Open podcast directory and archive"/>

<% if @podcast && !@podcast.new_record? -%>
  <link rel="shortcut icon" type="image/x-icon" href="<%= @podcast.logo.url(:favicon) -%>" />
  <link rel="icon" type="<%= @podcast.logo.content_type %>" href="<%= @podcast.logo.url(:icon) -%>" />
<% end -%>

  <%= rss_link(@podcast) %>

  <%= stylesheet_link_tag "reset", "new_typography", "layout", :cache => 'all' %>
  <%= stylesheet_link_actions -%>

  <%= javascript_include_tag 'jquery', 
                             'jquery.default-text', 
                             'jquery.quick-auth',
                             :cache => 'jquery-all' -%>
  <%= javascript_include_tag 'nbga-1.0', 'application' -%>
  <%#= javascript_include_actions -%>
</head>

<body class="<%= @classes -%><%= " status_#@error" if @error %>">
  <div id="header">
    <ul>
      <li id="nav_search">
        <form action="/search" method="get" id="search" class="search">            
          <label for="q" style="display: none;">Search LimeCast</label>
          <input class="text search" id="q" name="q" size="15" type="text" value="Search LimeCast" tabindex="1" />
          <button type="submit">
            <span>Search</span>
          </button>
        </form>
      </li>
      <li id="nav_auth"><%= link_to "Sign up, or sign in", new_session_url, :class => 'auth_link' %></li>
      <li id="nav_logo"><h1><%= link_to "LimeCast", root_url %></h1></li>
      <li id="nav_home"><%= link_to "Home", root_url %></li>
      <li id="nav_popular"><%= link_to "Popular", popular_url %></li>
      <li id="nav_add"><%= link_to "Add Podcast", add_url %></li>
    </ul>
  </div>

  <div id="content">
    <div class="header_push"></div>
    <div class="footer_push"></div>
  </div>

  <div id="footer">
    <ul>
      <li><%= link_to "Blog", "http://limecast.limespot.com" %></li>
      <li><%= link_to "Terms of use", "/use" %></li>
      <li><%= link_to "Privacy", "/privacy" %></li>
      <li><%= link_to "Open source", "http://wiki.limewire.org/index.php?title=LimeCast" %></li>
    </ul>
  </div>
  
  <div id="auth">
    <img src="/imgs/arrow_up.gif" class="arrow" />
    <h4>Sign in to LimeCast</h4>
      <% form_for :user, :url => session_path do |f| -%>
      <p>
        <%= label :user, :email, "Email&nbsp;/&nbsp;Login" %>
        <%= text_field :user, :email, :class => "text", :tabindex => 2, :size => 15, :maxlength => 255 %>
      </p>
      <p>
        <%= label :user, :password, "Password" %>
        <%= password_field :user, :password, :class => "text", :tabindex => 3, :size => 15, :maxlength => 255 %>
      </p>
      <p class="message">
         <%= link_to "I forgot my password", forgot_password_url %>
      </p>
      <p class="buttons">
        <%= custom_button "Sign in", :id => "sign_in" %>
        <%= custom_button "Sign up", :id => "sign_up" %>
      </p>
    <% end -%>
  </div>
</body>
</html>
