<!DOCTYPE html>
<html lang="en-US">
<head>
  <title><%= "#{@title} &ndash; " if @title -%>LimeCast</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="description" content="Open podcast directory and archive"/>

<% if @podcast && !@podcast.new_record? -%>
  <link rel="shortcut icon" type="image/x-icon" href="<%= @podcast.logo.url(:favicon) -%>" />
  <link rel="icon" type="<%= @podcast.logo.content_type %>" href="<%= @podcast.logo.url(:icon) -%>" />
<% end -%>

  <%= rss_link(@podcast) %>

  <%= stylesheet_link_tag "reset", "new_typography", "layout", "content", :cache => 'all' %>
  <%= stylesheet_link_actions -%>

  <%= javascript_include_tag 'jquery', 
                             'jquery.default-text', 
                             'jquery.quick-auth',
                             'jquery.restful-delete',
                             'jquery.shake',
                             :cache => 'jquery-all' -%>
  <%= javascript_include_tag 'nbga-1.0', 'application' -%>
  <%= javascript_include_actions -%>
</head>

<body class="<%= @classes -%><%= " status_#@error" if @error %>">
  <header>
    <nav>
      <ul>
        <li class="search">
          <form action="/search" method="get" id="search" class="search">
            <label for="s" style="display: none;">Search LimeCast</label>
            <input class="search" accesskey="s" id="s" name="s" size="15" type="search" value="Search LimeCast" tabindex="1" />
            <button type="submit" value="Search" />
          </form>
        </li>
        <li class="auth"><%= render :partial => "sessions/auth" %></li>
        <li class="logo"><%= link_to "LimeCast", root_url %></li>
        <li class="popular"><%= link_to "Popular", popular_url %></li>
        <li class="add"><%= link_to "Add Podcast", add_url %></li>
      </ul>
    </nav>
  </header>

  <div id="wrapper">
    <aside id="left">
      <%= image_tag(@podcast.logo(:small)) if @podcast %>
    </aside>

    <aside id="right">
      <%= @ads %>
    </aside>

    <section id="content" class="clearfix">
      <div class="header_push"></div>
      <%= yield %>
      <div class="footer_push"></div>
    </section>

    <section id="auth">
      <img src="/imgs/arrow_up.gif" class="arrow" />
      <%= custom_button "☓", :class => "close", :alt => "close this box" %>
      <h4>Sign in to LimeCast</h4>
        <% form_for :user, :url => session_path do |f| -%>
        <p>
          <%= label :user, :email, "Email&nbsp;/&nbsp;Login" %>
          <%= text_field :user, :email, :class => "text", :tabindex => 2, :size => 15, :maxlength => 255 %>
        </p>
        <p>
          <%= label :user, :password, "Password" %>
          <%= password_field :user, :password, :class => "text", :tabindex => 3, :size => 15, :maxlength => 255 %>
        </p>
        <p class="message">
           <%= link_to "I forgot my password", forgot_password_url %>
        </p>
        <p class="buttons">
          <%= custom_button "Sign in", :id => "sign_in" %>
          <%= custom_button "Sign up", :id => "sign_up" %>
        </p>
      <% end -%>
    </section>
  </div>
  
  <footer>
    <ul>
      <li><%= link_to "Blog", "http://limecast.limespot.com" %></li>
      <li><%= link_to "Terms of use", "/use" %></li>
      <li><%= link_to "Privacy", "/privacy" %></li>
      <li><%= link_to "Open source", "http://wiki.limewire.org/index.php?title=LimeCast" %></li>
    </ul>
  </footer>
</body>
</html>
