<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />

    <%= javascript_include_tag 'jquery' -%>
    <%= javascript_include_tag 'jquery-periodic' -%>
    <%= javascript_include_tag 'jquery.reflect' -%>
    <%= javascript_include_tag 'jquery.flash' -%>
    <%= javascript_include_tag 'jquery-ui' -%>
    <script type="text/javascript" src="/js/jquery.tabs.js"></script>
    <script type="text/javascript" src="/javascripts/sknd.application.js"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/screen.css" />
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="stylesheets/ie.css" />
    <![endif]-->

    <title>LimeCast</title>
  </head>

  <body class="<%= @classes -%>">


    <div id="wrapper">
      <div id="header">
        <div id="utility_nav">
          <ul>
            <li><a href="#"><strong>Join now!</strong></a> | </li>
            <li><a href="#">Our Blog</a> | </li>
            <li><a href="#">Learn more</a> | </li>
            <li><a href="#">Sign in</a></li>
          </ul>
        </div>


        <div id="global_nav">
          <a href="index.php" id="logo"><span>LimeCast</span></a>        
          <!--
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Browse</a></li>
            <li><a href="#">Popular</a></li>
            <li><a href="#" id="add_podcast">Add podcast</a><li>
          </ul>
          -->
          <a href="#" id="add_podcast"><span>Add podcast</span></a>

          <form action="/search" method="get" id="search">            
            <input class="text search" id="q" name="q" size="15" type="text" />
            <button type="submit">
              <span>Search</span>
            </button>
          </form>


        </div> <!-- /global_nav -->
      </div> <!-- /header -->
  
      <div id="content">
        <%= yield %>
      </div> <!-- /content -->
    </div> <!-- /wrapper -->


  </body>
</html>
